#d3 {
	width: 100%;
	margin: 0;
	padding: 0;
}

.drillDown {
	fill: rgba(0, 0, 0, 0.0);
}

.axis text, .title text {
	font-size: 10px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.zeroLine {
	fill: none;
	stroke: rgba(0, 0, 0, 0.38);
	shape-rendering: crispEdges;
}

.legendLabel.axis path, .legendLabel.axis line {
	fill: none;
	stroke: none;
	shape-rendering: crispEdges;
}

#table {
	
}

#dataTable {
	width: 500px;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

.number {
	text-align: right;
}
