@charset "UTF-8";
@-webkit-keyframes spin {
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	0% {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	0% {-ms-transform: rotate(0deg);}
	100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
	0% {-o-transform: rotate(0deg);}
	100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

body {
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ,
		Meiryo, ＭＳ Pゴシック, sans-serif;
	font-size: 12px;
	color: #333333;
}

.error_message {
	color: red;
	display: block;
}

table.sum-table, table.sum-table td, table.sum-table th {
	border-collapse: collapse;
	border: 1px #d4d4d4 solid;
	font-size: 1em;
	padding: 4px 1px 4px 1px
}

table.sum-table th {
	font-weight: bold;
	text-align: left;
}

table.sum-table thead th {
	text-align: center;
	background-color: #555555;
	padding: 2px 1px 2px 1px;
	color: #ffffff;
}

table.sum-table tbody tr.even {
	background-color: #f1f1f1;
}

table.sum-table {
	width: 100%;
}

table.sum-table .separator td, table.sum-table .separator th {
	border-bottom: 1px solid #e5e5e5;
}

.condition {
	border: solid 1px;
	margin: 15px;
	padding: 15px;
}

.condition-noline {
	margin: 15px;
	padding: 15px;
}

.comment-title {
	width: 300p;
	height: 50px;
}

table.comment-table {
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 30px;
}

table.comment-table td, table.comment-table th {
	border: 1px #333 solid;
	padding: 5px;
}

table.comment-table th {
	font-size: 16px;
	background-color: #9fd9f6;
	min-width: 100px;
	text-align: center;
}

table.comment-table .separator {
	border: none;
	background-color: transparent;
}

table.comment-table tr.separator th, table.comment-table tr.separator td
	{
	border: none;
	height: 20px;
}

table.comment-table td textarea {
	border-radius: 3px;
	border-style: groove;
}

input[type=button], input[type=submit] {
	outline: 0;
}

.comment-button {
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ,
		Meiryo, ＭＳ Pゴシック, sans-serif;
	border-style: none;
	font-weight: bold;
	color: #ffffff;
	background-color: #6995c9;
	font-size: 14px;
	border-radius: 10px;
	padding: 5px 20px;
	-webkit-appearance: button;
}

.button-area input {
	margin-top: 10px;
}

a.comment-button {
	display: table-cell;
	vertical-align: bottom;
	text-decoration: none;
	cursor: default;
	-webkit-appearance: none;
}

.comment-button-narrow {
	border-style: none;
	font-weight: bold;
	color: #ffffff;
	background-color: #6995c9;
	font-size: 12px;
	border-radius: 10px;
	padding: 5px 10px;
	-webkit-appearance: button;
}

input[type=text], input[type=search], input[type=password] {
	height: 1.5em;
	border-radius: 5px;
}

.search-input {
	margin-top: 0.12em;
}

.search-input input[type=search] {
	/* ラベルの左にスペースをつける */
	margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_filter input[type=search] {
	margin-bottom: 0.1em;
}

input[type=search] {
	/* デフォルトを無効化する */
	box-sizing: content-box;
}

.condition select {
	height: 2em;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 10px;
}

select {
	height: 1.7em;
	border-radius: 5px;
}

.condition select, .condition-noline select {
	margin-top: 10px;
	margin-right: 10px;
	min-width: 200px;
}

.condition input[type=button], .condition-noline input[type=button],
	.condition input[type=submit], .condition-noline input[type=submit] {
	border-style: none;
	font-weight: bold;
	color: #ffffff;
	background-color: #26b0ad;
	font-size: 14px;
	border-radius: 10px;
	padding: 5px 20px;
	-webkit-appearance: button;
}

.condition input[type=button].search, .condition-noline input[type=button].search,
	.condition input[type=submit].search, .condition-noline input[type=submit].search
	{
	float: right;
}

.condition .comment-button {
	float: right;
	height: 37px;
}

div.inline-content {
	padding: 0 20px;
}

.export-button {
	border-style: none;
	font-weight: bold;
	color: #ffffff;
	background-color: #6995c9;
	font-size: 20px;
	border-radius: 15px;
	padding: 10px 20px;
	-webkit-appearance: none;
}

table td.right {
	text-align: right;
}

table td.center {
	text-align: center;
}

table td.left {
	text-align: left;
}

a.menuLink {
	font-weight: bold;
}

a.menuLink img {
	
}

#hbar>a {
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding:2px 10px;
	border-radius: 5px; 
}

#hbar>a:hover {
	color: black;
}


#hbar>a.active {
	font-weight: bold;
	background-color: #c7edfc;
}

#hbar {
	background-color: #ffffff;
	color: white;
	padding: 7px 0px 7px 30px;
	font-size: 15px;
	position: fixed;
	top: 45px;
	left: 0px;
	z-index: 999;
	display: block;
	width: 100%;
	height: 24px;
}

#hbar>a.right {
	margin-left: 0px;
	margin-right: 60px;
	float: right;
}

.clear:after {
	content: "";
	clear: both;
	height: 0;
	display: block;
	visibility: hidden;
}

.limitOver {
	color: red;
}

.comment-delete {
	position: absolute;
	top: 50%;
	right: 0;
	margin: -11px 0 0 -11px;
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url(../images/colorbox/controls.png);
	background-position: -100px -25px;
}

/* DataTables の Custom ここから*/
.dataTables_scrollHead * {
	-webkit-user-select: none;
}

table.dataTable {
	border-spacing: 0px;
	white-space: nowrap;
	width: 100%;
	border-top: 1px #d4d4d4 solid;
	border-right: 1px #d4d4d4 solid;
	background-color: white;
	margin: 0 0;
}

table.dataTable thead tr, table.dataTable tfoot tr {
	background-color: #555555;
	color: #ffffff;
}

table.dataTable tbody tr:nth-child(even) {
	background-color: #f1f1f1;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 3px;
}

table.dataTable tbody td.long-text {
	max-width: 400px;
	word-spacing: break-all;
	white-space: normal;
	overflow-wrap: break-word;
}

table.dataTable tbody td.long-text-nowrap {
	max-width: 400px;
	word-spacing: break-all;
	white-space: normal;
	overflow-wrap: break-word;
}

table.dataTable td, table.dataTable th {
	border-left: 1px #d4d4d4 solid;
	border-bottom: 1px #d4d4d4 solid;
	padding: 3px;
}

table.dataTable thead th, table.dataTable thead td {
	padding: 3px 20px 3px 3px;
	border-bottom: 1px #d4d4d4 solid;
}

table.dataTable tfoot th, table.dataTable tfoot td {
	padding: 3px;
	border-top: 1px #d4d4d4 solid;
	background-color: #555555;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: none;
}

table.dataTable.no-footer  {
	border-bottom: none;
}

.ColVis_wrapper {
	
}

.ColVis_wrapper:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
}

ul.ColVis_collection {
	width: auto;
}

.modeChange * {
	-webkit-user-select: none;
}

.modeChange input {
	display: none;
}

.modeChange label {
	display: block;
	float: left;
	margin: 0 0 5px 0;
	padding: 3px 10px;
	background-color: #bdc3c7;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-style: none;
	height: inherit;
}

.modeChange label:first-of-type {
	border-radius: 10px 0 0 10px;
	padding-left: 10px;
}

.modeChange label:last-of-type {
	border-radius: 0 10px 10px 0;
	padding-right: 10px;
}

.modeChange input[type="radio"]:checked+label {
	background-color: #cb8fc2;
	color: #fff;
}

modeChange2 * {
	-webkit-user-select: none;
}

.modeChange2 input {
	display: none;
}

.modeChange2 label {
	display: block;
	float: left;
	margin: 0 0 5px 0;
	padding: 3px 10px;
	background-color: #bdc3c7;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-style: none;
	height: inherit;
}

.modeChange2 label:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	padding-left: 10px;
}

.modeChange2 label:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	padding-right: 10px;
}

.modeChange2 input[type="radio"]:checked+label {
	background-color: #fb9100;
	color: #fff;
}

.ColVis_wrapper {
	margin: 0 15px 0 0;
	padding: 0 15px 0 0;
}

.ColVis_Button:hover, button.ColVis_Button {
	height: auto;
	border-style: none;
	font-weight: bold;
	color: #ffffff !important;
	background: #26b0ad;
	font-size: 14px;
	border-radius: 10px;
	padding: 5px 20px;
	border: none;
	cursor: default;
	-webkit-appearance: button;
	box-shadow: none;
}

button.ColVis_Button span {
	height: auto;
	padding: 10px;
}

ul.ColVis_collection li span span.colvis-only {
	padding-left: 0px;
	display: inline;
}

.colvis-only {
	display: none;
}

/* DataTables の Custom ここまで*/
.popup-message {
	display: none;
	z-index: 9999999;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 0;
	background: #ffd0f9;
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .6);
	box-shadow: 0 0 12px rgba(0, 0, 0, .6);
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border-radius: .6em;
	font-size: 1.5em;
}

.search.drill-up {
	float: left !important;
	margin-top: 0 !important;
}

.div-loader-area {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	z-index: 9999999;
}

.div-loader-message {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 65px;
	height: 20px;
	font-weight: bold;
	z-index: 999;
}

.div-loader {
	position: absolute;
	top: -80px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 8px solid #111;
	border-right-color: transparent;
	animation: spin 1s linear infinite;
	-webkit-animation: spin 1s linear infinite;
	z-index: 999;
}

#market-items {
	margin-left: 10px;
	display: inline;
}

#market-items select {
    min-width: auto;
}