body {
	width : 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin:0;
	padding:0;
	line-height:1.4;
	color:#333;
	font-family:Arial, "ＭＳ Ｐゴシック", sans-serif;
	font-size:0.9em;
	background-color:#fff;	
}
#layerHeader{
	width : 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	background-color: #fff;
}
#floatingMenu {
	width:100%;
	background:#080808;	
	-webkit-box-shadow:4px 4px 4px #111;
	z-index: 1;
}
#floatingMenu table p{
	font-size:1.0em;
	-moz-transform: translate(0px,0px);
	-webkit-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	text-align: center;
	width: 80px; 
	margin-top: 2px; 
	margin-bottom: 2px; 
	padding: 0px;
}

#floatingMenu table a{
	text-decoration: none;
}

img.menuImg {
	-webkit-filter: brightness(120%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
img.menuImg:HOVER {
	-webkit-filter: brightness(80%);
}

#layerMain {
	width : 100%;
	top: 75px;
	left: 0px;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;	
}

#layerReport {
	width : 100%;
	top: 75px;
	left: 0px;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px;
	margin: 0px;	
}

#layerMenu {
	width:30%;
	top: 75px;
	left: 0px;
	position: fixed;
	padding: 0px;
	margin: 0px;
  	background-color: rgba(30,30,30,0.8);
	z-index: 2;
	-webkit-box-shadow:4px 4px 4px #111;
}

#layerOption {
	width:30%;
	top: 75px;
	left: 0px;
	position: fixed;
	padding: 0px;
	margin: 0px;
  	background-color: rgba(30,30,30,0.8);
	z-index: 2;
	-webkit-box-shadow:4px 4px 4px #111;
}
#layerProfile {
	width:30%;
	top: 75px;
	left: 0px;
	position: fixed;
	padding: 0px;
	margin: 0px;
  	background-color: rgba(30,30,30,0.8);
	z-index: 2;
	-webkit-box-shadow:4px 4px 4px #111;
}
#layerIntrodution {
	width:30%;
	top: 75px;
	left: 0px;
	position: fixed;
	padding: 0px;
	margin: 0px;
  	background-color: rgba(240,240,240,0.1);
	z-index: 2;
	/*-webkit-box-shadow:4px 4px 4px #111;*/
	color : #000;
}
#layerComment {
	width:30%;
	top: 75px;
	left: 0px;
	position: fixed;
	padding: 0px;
	margin: 0px;
  	background-color: rgba(128,128,128,0.8);
	z-index: 2;
	-webkit-box-shadow:4px 4px 4px #111;
	
}

#menuNavigator {
	overflow: scroll;
}

#flickableDiv {
	overflow: scroll;
}

input {
	font-size:0.8em;
}

a {
	color: #fff;
	font-size:0.8em;
	font-weight: bold;
}

p {
	line-height: 1.2em;
	margin: 0px;
}
table tr td{
	 margin: 0px; 
	 padding: 2px px;
}

