<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>得意先グルーピング別訪問実績</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.fixTable.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<style type="text/css">
.odd, div.fixTableContainer table tbody.odd tr:nth-child(even) {
	background-color: #f1f1f1 !important;
}

.even, div.fixTableContainer table tbody.even tr:nth-child(even) {
	background-color: transparent !important;
}

.account {
	width: 133px;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
}

.div3 {
	width: 90px;
}

.user {
	width: 90px;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
}

.total {
	width: 34px;
}

.total-body {
	width: 34px;
	text-align: right;
}

.daily-total {
	font-weight: normal;
}

.visit-label {
	width: 50px;
}

.summary {
	width: 60px;
}

.visit {
	width: 165px;
	white-space: normal;
	word-break: normal;
	overflow-wrap: break-word;
}

.visit-top {
	height: 20px;
}
.visit-bottom {
	height: 60px;
}

#group-items select {
	min-width: auto;
}

#group-items, #year-month-items {
	display: inline;
}

td.nodata {
	border-left: none !important;
	border-right: none !important;
}

tbody {
	-webkit-user-select: none;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.fixTable.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>

<script th:inline="javascript">
    //<![CDATA[
    (function($) {
        $(document).ready(function() {
        	
            $('#searchButton').click(
	            function(e) {
	                // 営業所まで選択必須
	                return $('[name=div3] option:selected').val() != 'all';
	            }
	        );
        
            $('#sosiki').yrcmv('divOnlySalesOfficeTantoAll', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                onEmpty : function() {
                    $('#searchButton').on('click.div', function () {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('#searchButton').off('click.div');
                }
            });

            $('#year').on('change', function() {
                $('#sosiki').yrcmv('divOnlySalesOfficeTantoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function () {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    }
                });
            });
            $('#month').on('change', function() {
                $('#sosiki').yrcmv('divOnlySalesOfficeTantoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function () {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    }
                });
            });

            var isEmpty =  /*[[${accountVisitList.size() == 0}]]*/ false;
            var fixColumn = isEmpty ? 1 : 4;
            $('#tableContainer').fixTable({
                autoWidth : false,
                fixColumn : fixColumn,
                eventClone : true,
            });

        });
    })(jQuery);
    //]]>
</script>
</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
	        <div class="condition-noline" th:if="${limitOver}">
	            <span class="limitOver">検索結果が多いため、条件を追加して再度検索してください。</span>
	        </div>
            <form action="" method="post">
                <div class="condition">
                    <div th:substituteby="common :: year-month(${searchCondition})"></div>
                    <div th:substituteby="common :: group(${searchCondition})"></div>
                    <div id="sosiki">
                        <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                    </div>
                    <div class="button-area">
                        <input class="search" type="submit" id="searchButton" value="検索" />
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </form>
            <div class="condition-noline"></div>
            <div class="fixTableContainer" id="tableContainer" style="height: 350px">
                <table id="table">
                    <thead>
                        <tr>
                            <th th:rowspan="2" class="div3">営業所</th>
                            <th th:rowspan="2" class="user">担当者</th>
                            <th th:rowspan="2" class="account">訪問先</th>
                            <th th:rowspan="2" class="total">合計</th>
                            <th th:each="date : ${dayInfoList}" th:class="visit">
                                <div th:text="${date.date} + '（' +${date.dayOfWeekLabel}+ '）'"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody th:if="${accountVisitList.size() == 0}">
                        <tr>
                            <td th:colspan="4" class="center">データはありません。</td>
                            <td th:each="date : ${dayInfoList}" th:class="'nodata visit'"></td>
                        </tr>
                    </tbody>
                    <tbody th:each="accountVisit, it : ${accountVisitList}" th:class="${it.odd ? 'odd' : 'even'}" th:if="${accountVisitList.size() != 0}">
                        <tr>
                            <td rowspan="2" th:text="${accountVisit.div3Nm}" class="div3"></td>
                            <td rowspan="2" th:text="${accountVisit.lastName + accountVisit.firstName}" class="user"></td>
                            <td rowspan="2" th:text="${accountVisit.accountName}" class="account"></td>
                            <td rowspan="2" th:text="${accountVisit.rowHeldCount}" class="total-body"></td>
                            <td th:each="date : ${dayInfoList}" th:class="'visit, visit-top'">
                                <div th:each="visitInfo: ${accountVisit.visitInfoList}" th:utext="${visitInfo.date == date.date ? visitInfo.companionNames : ''}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td th:each="date : ${dayInfoList}" th:class="'visit visit-bottom'">
                                <div th:each="visitInfo: ${accountVisit.visitInfoList}" th:utext="${visitInfo.date == date.date ? visitInfo.divisionC : ''}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding-top: 0.755em">
                <span th:text="${accountVisitList.size() + '件'}"></span>
            </div>
        </div>
    </div>
    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>
