<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>得意先別実績参照</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{css/colorbox.css}" />
<link rel="stylesheet" th:href="@{css/jquery.dataTables.css}" />

<link rel="stylesheet" th:href="@{/css/mv.css}" />

<style type="text/css">
.odd, div.fixTableContainer table tbody.odd tr:nth-child(even) {
	background-color: #f1f1f1 !important;
}

.even, div.fixTableContainer table tbody.even tr:nth-child(even) {
	background-color: transparent !important;
}

.grid {
	padding: 3px;
}

.grid.top {
	border-bottom: 1px #d4d4d4 solid;
}

[data-role=target] {
	width: 0px;
	padding: 0 !important;
	font-size: 0;
	border: none !important;
	display: none;
}

[data-role=target] div, [data-role=target] span {
	font-size: 0;
	display: none;
}

table.dataTable tbody th.grid-container, table.dataTable tbody td.grid-container
	{
	padding: 0px
}

.number {
	text-align: right;
}

.center {
	text-align: center;
}

.search {
	margin-left: 10px;
}

#market-items select, #group-items select {
	min-width: auto;
}

#group-items, #year-month-items {
	display: inline;
}

#l1:after {
	content: '';
	clear: both;
	display: block;
	visibility: hidden;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.fixedColumns.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script th:inline="javascript">
    //<![CDATA[
    (function($) {

        $(document).ready(
                function() {

                    $('#searchButton').click(
                            function(e) {
                                // div3か担当者を選択しないと検索させない
                                return !($('[name=div3] option:selected').val() == 'all' && $(
                                        '[name=tanto] option:selected').val() == 'all');
                            });

                    $('#year').change(checkSearchModeRadio);
                    $('#year').data('current', $('#year').val());
                    $('#month').change(checkSearchModeRadio);
                    $('#month').data('current', $('#month').val());
                    $('#selectSearchMode').yrcmv('radioChange', {
                        callback : selectSearchMode
                    });

                    $('#sosiki').yrcmv('divOnlySalesOfficeTantoAll', {
                        reset : false,
                        year : $('#year').val(),
                        month : $('#month').val(),
                        onEmpty : function() {
                            $('#searchButton').on('click.div', function() {
                                return false;
                            });
                        },
                        onNotEmpty : function() {
                            $('#searchButton').off('click.div');
                        }
                    });

                    $('#year').on('change', function() {
                        $('#sosiki').yrcmv('divOnlySalesOfficeTantoAll', {
                            reset : false,
                            year : $('#year').val(),
                            month : $('#month').val(),
                            onEmpty : function() {
                                $('#searchButton').on('click.div', function() {
                                    return false;
                                });
                            },
                            onNotEmpty : function() {
                                $('#searchButton').off('click.div');
                            }
                        });
                    });
                    $('#month').on('change', function() {
                        $('#sosiki').yrcmv('divOnlySalesOfficeTantoAll', {
                            reset : false,
                            year : $('#year').val(),
                            month : $('#month').val(),
                            onEmpty : function() {
                                $('#searchButton').on('click.div', function() {
                                    return false;
                                });
                            },
                            onNotEmpty : function() {
                                $('#searchButton').off('click.div');
                            }
                        });
                    });

                    var columns = [ 
                        /* 先頭項目 */
                        { 'width' : '140px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        { 'width' : '70px', 'orderable' : false  },
                        { 'width' : '70px', 'orderable' : false  },
                        { 'width' : '30px', 'orderable' : false },
                        { 'width' : '30px', 'orderable' : false },
                        { 'width' : '30px', 'orderable' : false },
                        { 'width' : '30px', 'orderable' : false },
                        { 'width' : '30px', 'orderable' : false },
                        { 'width' : '30px', 'orderable' : false },
                        /* 当日 */
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        /* 累計 */
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        { 'width' : '80px', 'orderable' : false },
                        { 'width' : '40px', 'orderable' : false },
                        /* 隠し項目 */
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', },
                        { 'width' : '0px', }
                        ];

                    var $table = $('table[data-role=fixtable]').yrcmv('datatables', {
                        'fixedColumns': {
                            'leftColumns': 5
                        },
                        'columns' : columns,
                        'colReorder' : {},
                        'drawCallback' : function() {
                            // 初期の保存されているオーダーのスタイル適用
                            $('[data-role=click][data-target]').attr('class', function() {
                                changeOderStyle($(this))
                            });

                            // 初期の保存されている実績のオーダーのスタイル適用
                            $('[data-role=click-result][data-target]').attr('class', function() {
                                changeResultOderStyle($(this))
                            });

                            changeResultType($('input[name=resultType]:checked'));
                        },

                        'initComplete' : function() {

                            // 得意先～ISSまでは隠し項目をクリック
                            $('[data-role=click]').click(function() {
                                var i = $(this).data('target');
                                $('[data-role=target][data-target=' + i + '][data-type=account]').click();
                            });

                            // 得意先～ISSまでは隠し項目をクリック
                            $('[data-role=click-result]').click(function() {
                                var i = $(this).data('target');
                                var type = $('input[name=resultType]:checked').val() == '01' ? 'number' : 'sales';
                                $('[data-role=target][data-target=' + i + '][data-type=' + type + ']').click();
                            });

                            // 担当者～累計までをクリックした際の、得意先～ISSのスタイルを変更
                            $('[data-role=oderable]').click(function() {
                            });

                        }
                    });


                    $('input[name=resultType]').on('change', function() {
                        changeResultType($(this));
                        // 実績のオーダーのスタイル適用
                        $('[data-role=click-result][data-target]').attr('class', function() {
                            changeResultOderStyle($(this))
                        });

                    });
                    
                    // 訪問実績画面に遷移
                    $(".call-info").click(openVisitList);
                });
        
        var openVisitList = function() {
            var action = /*[[@{/visitListView.html}]]*/'';
            var $e = $(this);
            var accountId = $e.data('account-id');
            var $form =  $('#visitList');
            $form.attr('action', action);
            $form.find('input[name="accountId"]').val(accountId);
            $form.submit();
            return false;
        }

        function changeOderStyle($e) {
            $e.attr('class', $('[data-role=target][data-target=' + $e.data('target') + '][data-type=account]').attr('class'));
        }

        function changeResultOderStyle($e) {
            var type = $('input[name=resultType]:checked').val() == '01' ? 'number' : 'sales';
            $e.attr('class', $('[data-role=target][data-target=' + $e.data('target') + '][data-type=' + type + ']')
                    .attr('class'));
        }

        function changeResultType($e) {
            if ($e.val() == '01') {
                $('[data-role=sales],[data-column=sales]').hide();
                $('[data-role=number]').show();
            } else {
                $('[data-role=sales],[data-column=sales]').show();
                $('[data-role=number]').hide();
            }
        }

        function selectSearchMode($button) {
            var $year = $('#year');
            var $month = $('#month');
            $button.find('input').each(function(index, e) {
                var $e = $(e);
                if ($e.prop('checked')) {
                    if ($e.val() === 'real') {
                        var date = new Date();
                        $year.val(date.getFullYear());
                        $month.val(date.getMonth() + 1);
                    } else if ($e.val() === 'lastMonth') {
                        var date = new Date();
                        date = new Date(date.getFullYear(), date.getMonth(), 0);
                        $year.val(date.getFullYear());
                        $month.val(date.getMonth() + 1);
                    } else if ($e.val() === 'yesterday') {
                        var date = new Date();
                        var nowYear = date.getFullYear();
                        var nowMonth = date.getMonth();
                        date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1);
                        if (nowYear != date.getFullYear() || nowMonth != date.getMonth()) {
                            $('#lastMonth').prop('checked', true)
                        }
                        $year.val(date.getFullYear());
                        $month.val(date.getMonth() + 1);
                    }
                }
            });

            if ($('#year').data('current') + '-' + $('#month').data('current') != $('#year').val() + '-'
                    + $('#month').val()) {
                $('#year').data('current', $('#year').val());
                $('#month').data('current', $('#month').val());
                $('#sosiki').yrcmv('divOnlySalesOfficeTantoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('.search').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('.search').off('click.div');
                    }
                });
            }
        }

        function checkSearchModeRadio(e) {
            var $year = $('#year');
            var $month = $('#month');
            var date = new Date();
            if ($year.val() == date.getFullYear() && $month.val() == date.getMonth() + 1) {
                $('#real').prop('checked', true);
            } else {
                date = new Date(date.getFullYear(), date.getMonth(), 0);
                if ($year.val() == date.getFullYear() && $month.val() == date.getMonth() + 1) {
                    $('#lastMonth').prop('checked', true);
                } else {
                    $('#nominate').prop('checked', true);
                }
            }
        }
    })(jQuery);
    //]]>
</script>
</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
            <form action="" method="post">
                <div class="condition">

                    <div id="l1">
                        <div class="modeChange" id="selectSearchMode">
                            <input type="radio" name="searchMode" id="real" th:value="real" th:checked="${searchCondition.searchMode == 'real'}" /> <label for="real" style="margin-top: 10px;">リアル</label> <input type="radio" name="searchMode" id="yesterday" value="yesterday"
                                th:checked="${searchCondition.searchMode == 'yesterday'}" /> <label for="yesterday" style="margin-top: 10px;">前日（同月のみ）</label> <input type="radio" name="searchMode" id="lastMonth" value="lastMonth" th:checked="${searchCondition.searchMode == 'lastMonth'}" /> <label
                                for="lastMonth" style="margin-top: 10px;">前月</label> <input type="radio" name="searchMode" id="nominate" value="nominate" th:checked="${searchCondition.searchMode == 'nominate'}" /> <label for="nominate" style="margin-top: 10px; margin-right: 10px;">月指定</label>
                        </div>

                        <div id="result-type-items " class="modeChange2">
                            <input th:each="type : ${resultTypes}" type="radio" name="resultType" th:id="'resultType_' + ${type.value}" th:value="${type.value}" th:checked="${searchCondition.resultType == type.value}"> <label th:for="'resultType_' + ${type.value}" th:text="${type.label}"
                                style="margin-top: 10px;"></label></input>
                        </div>

                    </div>


                    <div th:substituteby="common :: year-month(${searchCondition})"></div>
                    <div th:substituteby="common :: group(${searchCondition})"></div>

                    <div id="sosiki">
                        <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                    </div>
                    <div class="button-area">
                        <input class="search" type="submit" id="searchButton" value="検索" />
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </form>
            <div>
                <table data-role="fixtable">
                    <thead>
                        <tr>
                            <th colspan="5">※訪問計画・実績の数は検索年月内の総合計数を表示します。</th>                        
                            <th colspan="6"></th>
                            <th colspan="6">当日</th>
                            <th colspan="12">累計</th>
                            <th data-role="target" data-target="1" data-type="account" rowspan="3"></th>
                            <th data-role="target" data-target="2" data-type="account" rowspan="3"></th>
                            <th data-role="target" data-target="3" data-type="account" rowspan="3"></th>
                            <th data-role="target" data-target="4" data-type="account" rowspan="3"></th>
                            <th data-role="target" data-target="5" data-type="account" rowspan="3"></th>
                            <th data-role="target" data-target="6" data-type="account" rowspan="3"></th>

                            <th data-role="target" data-target="1" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="1" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="2" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="2" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="3" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="3" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="4" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="4" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="5" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="5" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="6" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="6" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="7" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="7" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="8" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="8" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="9" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="9" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="10" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="10" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="11" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="11" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="12" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="12" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="13" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="13" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="14" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="14" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="15" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="15" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="16" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="16" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="17" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="17" data-type="number" rowspan="3"></th>
                            <th data-role="target" data-target="18" data-type="sales" rowspan="3"></th>
                            <th data-role="target" data-target="18" data-type="number" rowspan="3"></th>
                        </tr>
                        <tr>
                            <th data-role="click" data-target="1">得意先名</th>
                            <th data-role="click" data-target="3">販路</th>
                            <th>訪問計画</th>
                            <th rowspan="2">訪問情報</th>
                            <th rowspan="2" data-role="oderable">担当者</th>
                            <th data-role="click" data-target="5">需要</th>
                            <th>重点</th>
                            <th>深耕</th>
                            <th>他社CP</th>
                            <th>2G</th>
                            <th>4G</th>
                            <th rowspan="2" data-role="click-result" data-target="1">タイヤ計</th>
                            <th rowspan="2" data-role="click-result" data-target="2">PCR計</th>
                            <th rowspan="2" data-role="click-result" data-target="3">TBS計</th>
                            <th rowspan="2" data-role="click-result" data-target="4">VAN計</th>
                            <th rowspan="2" data-role="click-result" data-target="5">LTR計</th>
                            <th rowspan="2" data-role="click-result" data-target="6">総額</th>
                            <th colspan="2">タイヤ計</th>
                            <th colspan="2">PCR計</th>
                            <th colspan="2">TBS計</th>
                            <th colspan="2">VAN計</th>
                            <th colspan="2">LTR計</th>
                            <th colspan="2">総額</th>
                        </tr>
                        <tr>
                            <th data-role="click" data-target="2">得意先コード</th>
                            <th data-role="click" data-target="4">ランク</th>
                           <th data-role="click">訪問実績</th>
                            <th data-role="click" data-target="6">ISS</th>
                            <th>新規</th>
                            <th>Y-CP</th>
                            <th>1G</th>
                            <th>3G</th>
                            <th>5G</th>
                            <th data-role="click-result" data-target="7">実績</th>
                            <th data-role="click-result" data-target="8">伸長率</th>
                            <th data-role="click-result" data-target="9">実績</th>
                            <th data-role="click-result" data-target="10">伸長率</th>
                            <th data-role="click-result" data-target="11">実績</th>
                            <th data-role="click-result" data-target="12">伸長率</th>
                            <th data-role="click-result" data-target="13">実績</th>
                            <th data-role="click-result" data-target="14">伸長率</th>
                            <th data-role="click-result" data-target="15">実績</th>
                            <th data-role="click-result" data-target="16">伸長率</th>
                            <th data-role="click-result" data-target="17">実績</th>
                            <th data-role="click-result" data-target="18">伸長率</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="o : ${list}" th:object="${o}">
                            <td class="grid-container"><div class="grid top">
                                    <div th:text="*{accountName}"></div>
                                </div>
                                <div class="grid bottom">
                                    <div th:text="*{id}"></div>
                                </div></td>
                            <td class="grid-container"><div class="grid top">
                                    <div th:if="*{marketName}" th:text="*{marketName}"></div>
                                    <div th:unless="*{marketName}" th:text="'　'"></div>
                                </div>
                                <div class="grid bottom">
                                    <div th:if="*{rank}" th:text="*{rank}"></div>
                                    <div th:unless="*{rank}" th:text="'　'"></div>
                                </div></td>
                            <td class="grid-container">
                                <div class="grid top number">
                                    <div th:text="*{plannedCount}"></div>
                                </div>
                                <div class="grid bottom number">
                                    <div th:text="*{heldCount}"></div>
                                </div>
                            </td>
                            <td class="grid top center">
                            	<div th:if="*{heldCount > 0}">
                            		<input class="comment-button-narrow call-info"  th:attr="data-account-id=*{id}" type="button" value="訪問情報" />
                           		</div>
                        	</td>
                            <td class="grid top center"><span th:if="*{lastName}" th:text="*{lastName}"></span> <span th:if="*{firstName}" th:text="*{firstName}"></span></td>
                            <td class="grid-container"><div class="grid top number">
                                    <div th:if="*{demandNumber}" th:text="*{#numbers.formatInteger(demandNumber, 1, 'COMMA')}"></div>
                                    <div th:unless="*{demandNumber}" th:text="'　'"></div>
                                </div>
                                <div class="grid bottom number">
                                    <div th:if="*{iss}" th:text="*{#numbers.formatInteger(iss, 1, 'COMMA')}"></div>
                                    <div th:unless="*{iss}" th:text="'　'"></div>
                                </div></td>
                            <td class="grid-container"><div class="grid top center">
                                    <div th:if="*{groupImportant}" th:text="'○'"></div>
                                    <div th:unless="*{groupImportant}" th:text="'　'"></div>
                                </div>
                                <div class="grid bottom center">
                                    <div th:if="*{groupNew}" th:text="'○'"></div>
                                    <div th:unless="*{groupNew}" th:text="'　'"></div>
                                </div></td>
                            <td class="grid-container"><div class="grid top center">
                                    <div th:if="*{groupDeepPlowing}" th:text="'○'"></div>
                                    <div th:unless="*{groupDeepPlowing}" th:text="'　'"></div>
                                </div>
                                <div class="grid bottom center">
                                    <div th:if="*{groupYCp}" th:text="'○'"></div>
                                    <div th:unless="*{groupYCp}" th:text="'　'"></div>
                                </div></td>
                            <td class="grid-container"><div class="grid top center">
                                    <div th:if="*{groupOtherCp}" th:text="'○'"></div>
                                    <div th:unless="*{groupOtherCp}" th:text="'　'"></div>
                                </div>
                                <div class="grid bottom center">
                                    <div th:if="*{groupOne}" th:text="'○'"></div>
                                    <div th:unless="*{groupOne}" th:text="'　'"></div>
                                </div></td>
                            <td class="grid-container"><div class="grid top center">
                                    <div th:if="*{groupTwo}" th:text="'○'"></div>
                                    <div th:unless="*{groupTwo}" th:text="'　'"></div>
                                </div>
                                <div class="grid bottom center">
                                    <div th:if="*{groupThree}" th:text="'○'"></div>
                                    <div th:unless="*{groupThree}" th:text="'　'"></div>
                                </div></td>
                            <td class="grid-container"><div class="grid top center">
                                    <div th:if="*{groupFour}" th:text="'○'"></div>
                                    <div th:unless="*{groupFour}" th:text="'　'"></div>
                                </div>
                                <div class="grid bottom center">
                                    <div th:if="*{groupFive}" th:text="'○'"></div>
                                    <div th:unless="*{groupFive}" th:text="'　'"></div>
                                </div></td>
                            <!-- 当日 -->
                            <td class="number">
                            	<div th:if="*{sales.todayTire}" th:text="*{#numbers.formatInteger(sales.todayTire, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.todayTire}" th:text="*{#numbers.formatInteger(number.todayTire, 1, 'COMMA')}" data-role="number"></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.todayPcr}" th:text="*{#numbers.formatInteger(sales.todayPcr, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.todayPcr}" th:text="*{#numbers.formatInteger(number.todayPcr, 1, 'COMMA')}" data-role="number">></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.todayTbs}" th:text="*{#numbers.formatInteger(sales.todayTbs, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.todayTbs}" th:text="*{#numbers.formatInteger(number.todayTbs, 1, 'COMMA')}" data-role="number"></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.todayVan}" th:text="*{#numbers.formatInteger(sales.todayVan, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.todayVan}" th:text="*{#numbers.formatInteger(number.todayVan, 1, 'COMMA')}" data-role="number"></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.todayLtr}" th:text="*{#numbers.formatInteger(sales.todayLtr, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.todayLtr}" th:text="*{#numbers.formatInteger(number.todayLtr, 1, 'COMMA')}" data-role="number"></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.todayTotal}" th:text="*{#numbers.formatInteger(sales.todayTotal, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.todayTotal}" th:text="*{#numbers.formatInteger(number.todayTotal, 1, 'COMMA')}" data-role="number"></div>
                            </td>

                            <!-- 累計 -->            
                            <td class="number">
                            	<div th:if="*{sales.tire}" th:text="*{#numbers.formatInteger(sales.tire, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.tire}" th:text="*{#numbers.formatInteger(number.tire, 1, 'COMMA')}" data-role="number"></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.tireElongation}" th:text="*{#numbers.formatDecimal(sales.tireElongation, 1, 'COMMA', 1, 'POINT')}" data-role="sales"></div>
                                <div th:if="*{number.tireElongation}" th:text="*{#numbers.formatDecimal(number.tireElongation, 1, 'COMMA', 1, 'POINT')}" data-role="number"></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.pcr}" th:text="*{#numbers.formatInteger(sales.pcr, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.pcr}" th:text="*{#numbers.formatInteger(number.pcr, 1, 'COMMA')}" data-role="number">></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.pcrElongation}" th:text="*{#numbers.formatDecimal(sales.pcrElongation, 1, 'COMMA', 1, 'POINT')}" data-role="sales"></div>
                                <div th:if="*{number.pcrElongation}" th:text="*{#numbers.formatDecimal(number.pcrElongation, 1, 'COMMA', 1, 'POINT')}" data-role="number"></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.tbs}" th:text="*{#numbers.formatInteger(sales.tbs, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.tbs}" th:text="*{#numbers.formatInteger(number.tbs, 1, 'COMMA')}" data-role="number">></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.tbsElongation}" th:text="*{#numbers.formatDecimal(sales.tbsElongation, 1, 'COMMA', 1, 'POINT')}" data-role="sales"></div>
                                <div th:if="*{number.tbsElongation}" th:text="*{#numbers.formatDecimal(number.tbsElongation, 1, 'COMMA', 1, 'POINT')}" data-role="number"></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.van}" th:text="*{#numbers.formatInteger(sales.van, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.van}" th:text="*{#numbers.formatInteger(number.van, 1, 'COMMA')}" data-role="number">></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.vanElongation}" th:text="*{#numbers.formatDecimal(sales.vanElongation, 1, 'COMMA', 1, 'POINT')}" data-role="sales"></div>
                                <div th:if="*{number.vanElongation}" th:text="*{#numbers.formatDecimal(number.vanElongation, 1, 'COMMA', 1, 'POINT')}" data-role="number"></div>
                            </td>
                            <td class="number">
                            	<div th:if="*{sales.ltr}" th:text="*{#numbers.formatInteger(sales.ltr, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.ltr}" th:text="*{#numbers.formatInteger(number.ltr, 1, 'COMMA')}" data-role="number">></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.ltrElongation}" th:text="*{#numbers.formatDecimal(sales.ltrElongation, 1, 'COMMA', 1, 'POINT')}" data-role="sales"></div>
                                <div th:if="*{number.ltrElongation}" th:text="*{#numbers.formatDecimal(number.ltrElongation, 1, 'COMMA', 1, 'POINT')}" data-role="number"></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.total}" th:text="*{#numbers.formatInteger(sales.total, 1, 'COMMA')}" data-role="sales"></div>
                                <div th:if="*{number.total}" th:text="*{#numbers.formatInteger(number.total, 1, 'COMMA')}" data-role="number"></div>
                            </td>
                            <td class="number">
                                <div th:if="*{sales.totalElongation}" th:text="*{#numbers.formatDecimal(sales.totalElongation, 1, 'COMMA', 1, 'POINT')}" data-role="sales"></div>
                                <div th:if="*{number.totalElongation}" th:text="*{#numbers.formatDecimal(number.totalElongation, 1, 'COMMA', 1, 'POINT')}" data-role="number"></div>
                            </td>

                            <!-- ソート用隠し要素 -->
                            <td data-role="target" th:text="*{accountName}"></td>
                            <td data-role="target" th:text="*{id}"></td>
                            <td data-role="target" th:text="*{marketName}"></td>
                            <td data-role="target" th:text="*{rank}"></td>
                            <td data-role="target"><span th:if="*{demandNumber}" th:text="*{#numbers.formatInteger(demandNumber, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{iss}" th:text="*{#numbers.formatInteger(iss, 1, 'COMMA')}"></span></td>
                            <!-- 当日 -->
                            <td data-role="target"><span th:if="*{sales.todayTire}" th:text="*{#numbers.formatInteger(sales.todayTire, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.todayTire}" th:text="*{#numbers.formatInteger(number.todayTire, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{sales.todayPcr}" th:text="*{#numbers.formatInteger(sales.todayPcr, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.todayPcr}" th:text="*{#numbers.formatInteger(number.todayPcr, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{sales.todayTbs}" th:text="*{#numbers.formatInteger(sales.todayTbs, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.todayTbs}" th:text="*{#numbers.formatInteger(number.todayTbs, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{sales.todayVan}" th:text="*{#numbers.formatInteger(sales.todayVan, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.todayVan}" th:text="*{#numbers.formatInteger(number.todayVan, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{sales.todayLtr}" th:text="*{#numbers.formatInteger(sales.todayLtr, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.todayLtr}" th:text="*{#numbers.formatInteger(number.todayLtr, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{sales.todayTotal}" th:text="*{#numbers.formatInteger(sales.todayTotal, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.todayTotal}" th:text="*{#numbers.formatInteger(number.todayTotal, 1, 'COMMA')}"></span></td>

                            <!-- 累計 -->
                            <td data-role="target"><span th:if="*{sales.tire}" th:text="*{#numbers.formatInteger(sales.tire, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.tire}" th:text="*{#numbers.formatInteger(number.tire, 1, 'COMMA')}"></span></td>

                            <td data-role="target"><span th:if="*{sales.tireElongation}" th:text="*{#numbers.formatDecimal(sales.tireElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            <td data-role="target"><span th:if="*{number.tireElongation}" th:text="*{#numbers.formatDecimal(number.tireElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>

                            <td data-role="target"><span th:if="*{sales.pcr}" th:text="*{#numbers.formatInteger(sales.pcr, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.pcr}" th:text="*{#numbers.formatInteger(number.pcr, 1, 'COMMA')}"></span></td>

                            <td data-role="target"><span th:if="*{sales.pcrElongation}" th:text="*{#numbers.formatDecimal(sales.pcrElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            <td data-role="target"><span th:if="*{number.pcrElongation}" th:text="*{#numbers.formatDecimal(number.pcrElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            
                            <td data-role="target"><span th:if="*{sales.tbs}" th:text="*{#numbers.formatInteger(sales.tbs, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.tbs}" th:text="*{#numbers.formatInteger(number.tbs, 1, 'COMMA')}"></span></td>

                            <td data-role="target"><span th:if="*{sales.tbsElongation}" th:text="*{#numbers.formatDecimal(sales.tbsElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            <td data-role="target"><span th:if="*{number.tbsElongation}" th:text="*{#numbers.formatDecimal(number.tbsElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            
                            <td data-role="target"><span th:if="*{sales.van}" th:text="*{#numbers.formatInteger(sales.van, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.van}" th:text="*{#numbers.formatInteger(number.van, 1, 'COMMA')}"></span></td>

                            <td data-role="target"><span th:if="*{sales.vanElongation}" th:text="*{#numbers.formatDecimal(sales.vanElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            <td data-role="target"><span th:if="*{number.vanElongation}" th:text="*{#numbers.formatDecimal(number.vanElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            
                            <td data-role="target"><span th:if="*{sales.ltr}" th:text="*{#numbers.formatInteger(sales.ltr, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.ltr}" th:text="*{#numbers.formatInteger(number.ltr, 1, 'COMMA')}"></span></td>

                            <td data-role="target"><span th:if="*{sales.ltrElongation}" th:text="*{#numbers.formatDecimal(sales.ltrElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            <td data-role="target"><span th:if="*{number.ltrElongation}" th:text="*{#numbers.formatDecimal(number.ltrElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            
                            <td data-role="target"><span th:if="*{sales.total}" th:text="*{#numbers.formatInteger(sales.total, 1, 'COMMA')}"></span></td>
                            <td data-role="target"><span th:if="*{number.total}" th:text="*{#numbers.formatInteger(number.total, 1, 'COMMA')}"></span></td>

                            <td data-role="target"><span th:if="*{sales.totalElongation}" th:text="*{#numbers.formatDecimal(sales.totalElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>
                            <td data-role="target"><span th:if="*{number.totalElongation}" th:text="*{#numbers.formatDecimal(number.totalElongation, 1, 'COMMA', 1, 'POINT')}"></span></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<form id="visitList" action="" target="_blank" method="post">
<input type="hidden" name="accountId" value=""/>
<input type="hidden" name="dateFrom" th:value="*{dateConditionResult.dateFrom}"/>
<input type="hidden" name="dateTo" th:value="*{dateConditionResult.dateTo}"/>
<input type="hidden" name="mode" value="visitListView"/>
<input type="hidden" name="heldOnly" value="true"/>
<input type="hidden" name="tantoOnly" value="true"/>
</form>
    
    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>
