<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>同行訪問回数参照</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.fixTable.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<style type="text/css">
.div2, .div3, .name {
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
}

.div2, .div3 {
	width: 160px;
}

.name {
	width: 130px;
}

.sum, .sum-number {
	width: 45px;
}

.sum-number {
	text-align: right;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.fixTable.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>

<script th:inline="javascript">
    //<![CDATA[
    (function($) {

        $(document).ready(function() {

            $('#visitListSosiki').yrcmv('div', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                onEmpty : function() {
                    $('#searchButton').on('click.div', function() {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('#searchButton').off('click.div');
                },
                deleteDiv1All : true
            });

            $('#year').on('change', function() {
                $('#visitListSosiki').yrcmv('div', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    },
                    deleteDiv1All : true
                });
            });
            $('#month').on('change', function() {
                $('#visitListSosiki').yrcmv('div', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    },
                    deleteDiv1All : true
                });
            });

            $('#tableContainer').fixTable({
                autoWidth : false,
                fixColumn : 0,
            });

        });
    })(jQuery);
    //]]>
</script>
</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
            <form action="" method="post">
                <div class="condition">
                    <div th:substituteby="common :: year-month(${searchCondition})"></div>
                    <div id="visitListSosiki">
                        <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                    </div>
                    <div class="button-area">
                        <input class="search" type="submit" id="searchButton" value="検索" />
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </form>
            <div class="condition-noline"></div>
            <div class="fixTableContainer" id="tableContainer" style="height: 350px">
                <table id="table">
                    <thead>
                        <tr>
                            <th class="div2">部門</th>
                            <th class="div3">営業所</th>
                            <th class="name">同行者</th>
                            <th class="sum">訪問</th>
                            <th class="sum">重点</th>
                            <th class="sum">新規</th>
                            <th class="sum">深耕</th>
                            <th class="sum">Y-CP</th>
                            <th class="sum">他社CP</th>
                            <th class="sum">1G</th>
                            <th class="sum">2G</th>
                            <th class="sum">3G</th>
                            <th class="sum">4G</th>
                            <th class="sum">5G</th>
                        </tr>
                    </thead>
                    <tbody th:if="${list.size() == 0}">
                        <tr>
                            <td th:colspan="3" class="center">データはありません。</td>
                            <td th:colspan="11"></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr th:each="o : ${list}" th:object="${o}">
                            <td class="div2"><span th:if="*{div2Nm}" th:text="*{div2Nm}"></span></td>
                            <td class="div3"><span th:if="*{div3Nm}" th:text="*{div3Nm}"></span></td>
                            <td class="name"><span th:if="*{lastName}" th:text="*{lastName}"></span> <span th:if="*{firstName}" th:text="*{firstName}"></span></td>
                            <td class="sum-number"><span th:if="*{callCount}" th:text="*{callCount}"></span></td>
                            <td class="sum-number"><span th:if="*{groupImportant}" th:text="*{groupImportant}"></span></td>
                            <td class="sum-number"><span th:if="*{groupNew}" th:text="*{groupNew}"></span></td>
                            <td class="sum-number"><span th:if="*{groupDeepPlowing}" th:text="*{groupDeepPlowing}"></span></td>
                            <td class="sum-number"><span th:if="*{groupYCp}" th:text="*{groupYCp}"></span></td>
                            <td class="sum-number"><span th:if="*{groupOtherCp}" th:text="*{groupOtherCp}"></span></td>
                            <td class="sum-number"><span th:if="*{groupOne}" th:text="*{groupOne}"></span></td>
                            <td class="sum-number"><span th:if="*{groupTwo}" th:text="*{groupTwo}"></span></td>
                            <td class="sum-number"><span th:if="*{groupThree}" th:text="*{groupThree}"></span></td>
                            <td class="sum-number"><span th:if="*{groupFour}" th:text="*{groupFour}"></span></td>
                            <td class="sum-number"><span th:if="*{groupFive}" th:text="*{groupFive}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding-top: 0.755em">
                <span th:text="${list.size() + '件'}"></span>
            </div>
        </div>
    </div>
    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>
