<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>販売実績予実比較</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.fixTable.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />
<link rel="stylesheet" th:href="@{/css/barChart.css}" />
<style type="text/css">

#compass-class-items {
	display: inline;
}

#year-month-items {
	display: inline;
}

#net-items {
	display: inline;
}

#result-type-items {
	display: inline;
}

.result {
	fill: #9ecae1;
}

.plan {
	fill: #fdae6b;
}

.rate {
	fill: #31a354;
}

.result-type-container div label:first-of-type {
	margin-left: 10px;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/d3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.fixTable.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script type="text/javascript" th:src="@{/js/chart/baseChartView.js}"></script>
<script type="text/javascript" th:src="@{/js/chart/baseBarChartView.js}"></script>
<script type="text/javascript" th:src="@{/js/chart/baseSosikiBaseBarChartView.js}"></script>
<script type="text/javascript" th:src="@{/js/chart/chartBudgetPerformanceComparisonView.js}"></script>

</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
            <div class="condition">
                <div th:substituteby="common :: year-month(${searchCondition})"></div>
                <div th:substituteby="common :: compass-class(${searchCondition})"></div>
            </div>
            <div class="condition-noline">
                <div class="button-area">
                    <input class="search drill-up" type="button" id="showPrevious" value="一つ上に戻る" />
                </div>
                <div class="result-type-container">
                    <div th:substituteby="common :: result-type-radio(${searchCondition})"></div>
                    <div th:substituteby="common :: net-radio(${searchCondition})"></div>
                </div>
            </div>
            <div id="d3"></div>
            <div id="table" class="fixTableContainer"></div>
        </div>
    </div>
    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>
