<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    lang="ja" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<footer th:fragment="footer">
	<div style="position:fixed;top: 0px; left: 0px; height:45px; background-color: white; z-index: 999; width: 100%;">
		<img th:src="@{/images/header.gif}" style="position:fixed;left:0;width:300px;height:45px;" border="0" />
        <img th:src="@{/images/header_bar.gif}" style="position:fixed;left:300px;width:100%;height:17px;" border="0" />
		<span style="position:fixed;top:21px;right:50px;font-size:15px;" ><span th:text="#{common.footer.userName}"></span><i class="fa fa-user"></i> <b><span sec:authentication="principal.lastName">Bob</span> <span sec:authentication="principal.firstName">Bob</span></b>
<!-- 		<a href="javascript:logout()" style="color:black; text-decoration: none; font-weight: bold; box-shadow: 1px 1px 1px 1px; padding-left:10px; padding-top:1px; padding-bottom:1px; padding-right: 10px; -webkit-border-radius: 10px;"> <i class="fa fa-sign-out"></i>ログアウト</a> -->
		</span>
	</div>
	<div id="hbar">
		<a th:href="@{/dashboard.html#all}" class="headerMenu" id="headerMenu-report" th:text="#{common.footer.headerMenuReport}"></a>
        <a th:href="@{/dashboard.html#}" class="headerMenu" id="headerMenu-favorite" th:text="#{common.footer.headerMenuFavorite}"></a>
	</div>
</footer>


<div th:fragment="compass-class(o)" id="compass-class-items">
    <select class="visitList-company-section" id="largeClass2" name="largeClass2" >
		<option th:each="largeClass2 : ${largeClass2s}"  th:value="${largeClass2.value}" th:text="${largeClass2.label}" th:selected="${o.largeClass2 == largeClass2.value}"></option>
    </select>
	<select class="visitList-company-section" id="middleClass" name="middleClass">
		<optgroup th:each="middleClassGroup : ${middleClasses}" th:label="${middleClassGroup.label}">
			<option th:each="middleClassItem : ${middleClassGroup.items}" th:object="${middleClassItem}" th:value="*{value}" th:text="*{label}" th:selected="${middleClassGroup.label} == ${o.largeClass2} and ${o.middleClass} == ${middleClassItem.value}"/>
		</optgroup>
	</select>
</div>

<div th:fragment="result-type(o)" id="result-type-items">
    <select class="visitList-company-section" id="resultType" name="resultType">
        <option th:each="type : ${resultTypes}" th:value="${type.value}" th:text="${type.label}" th:selected="${o.resultType == type.value}"></option>
    </select>
</div>

<div th:fragment="result-type-radio(o)" id="result-type-radio-items" class="modeChange">
    <input th:each="type : ${resultTypes}" type="radio" name="resultType" th:id="'resultType_' + ${type.value}" th:value="${type.value}" th:checked="${o.resultType == type.value}"> <label th:for="'resultType_' + ${type.value}" th:text="${type.label}"></label></input>
</div>

<div th:fragment="net(o)" id="net-items">
    <select class="visitList-company-section" id="net" name="net">
        <option th:each="net : ${nets}" th:value="${net.value}" th:text="${net.label}" th:selected="${o.net == net.value}"></option>
    </select>
</div>

<div th:fragment="group(o)" id="group-items">
    <select class="visitList-company-section" id="group" name="group">
        <option th:each="group : ${groups}" th:value="${group.value}" th:text="${group.label}" th:selected="${o.group == group.value}"></option>
    </select>
</div>

<div th:fragment="market(o)" id="market-items">
    <select class="visitList-company-section" id="market" name="market">
        <option th:each="market : ${markets}" th:value="${market.value}" th:text="${market.label}" th:selected="${o.market == market.value}"></option>
    </select>
</div>

<div th:fragment="net-radio(o)" id="net-radio-items" class="modeChange2">
    <input th:each="net : ${nets}" type="radio" name="net" th:id="'net_' + ${net.value}" th:value="${net.value}" th:checked="${o.net == net.value}"> <label th:for="'net_' + ${net.value}" th:text="${net.label}"></label></input>
</div>

<div th:fragment="year-month(o)" id="year-month-items">
    <select class="visitList-company-section" id="year" name="year" >
		<option th:each="year : ${years}"  th:value="${year}" th:text="${year} + '年'" th:selected="${o.year == year}"></option>
    </select>
    <select class="visitList-company-section" id="month" name="month">
		<option th:each="month : ${months}"  th:value="${month}" th:text="${month} + '月'" th:selected="${o.month == month}"></option>
    </select>
</div>

<div th:fragment="year-month-date(o)">
	<select class="visitList-company-section" id="year" name="year" >
		<option th:each="yearItem : ${years}" th:object="${yearItem}" th:value="*{value}" th:text="*{label}" th:selected="${o.year} == ${yearItem.value}"></option>
	</select>
	<select class="visitList-company-section" id="month" name="month">
		<optgroup th:each="monthGroup : ${months}" th:label="${monthGroup.label}">
			<option th:each="monthItem : ${monthGroup.items}" th:object="${monthItem}" th:value="*{value}" th:text="*{label}" th:selected="${monthGroup.label} == ${o.year} and ${o.month} == ${monthItem.value}"/>
		</optgroup>
	</select>
	<select class="visitList-company-section" id="date" name="date">
		<optgroup th:each="dateGroup : ${dates}" th:label="${dateGroup.label}">
			<option th:each="dateItem : ${dateGroup.items}" th:object="${dateItem}" th:value="*{value}" th:text="${dateItemStat.index == 0 ? dateItem.label : dateItem.label}" th:selected="${o.month} == ${dateGroup.label} and ${o.date} == ${dateItem.value}"/>
		</optgroup>
	</select>
</div>

<div th:fragment="year-month-week(o)">
    <select class="visitList-company-section" id="year" name="year" >
        <option th:each="yearItem : ${years}" th:object="${yearItem}" th:value="*{value}" th:text="*{label}" th:selected="${o.year} == ${yearItem.value}"></option>
    </select>
    <select class="visitList-company-section" id="month" name="month">
        <optgroup th:each="monthGroup : ${months}" th:label="${monthGroup.label}">
            <option th:each="monthItem : ${monthGroup.items}" th:object="${monthItem}" th:value="*{value}" th:text="*{label}" th:selected="${monthGroup.label} == ${o.year} and ${o.month} == ${monthItem.value}"/>
        </optgroup>
    </select>
    <select class="visitList-company-section" id="week" name="week">
        <optgroup th:each="weekGroup : ${weeks}" th:label="${weekGroup.label}">
            <option th:each="weekItem : ${weekGroup.items}" th:object="${weekItem}" th:value="*{value}" th:text="${weekItemStat.index == 0 ? weekItem.label : weekItem.label}" th:selected="${o.month} == ${weekGroup.label} and ${o.week} == ${weekItem.value}"/>
        </optgroup>
    </select>
</div>

<div th:fragment="marketInfoDivs(o)" id="marketInfoDiv-items">
    <select class="visitList-company-section" id="marketInfoInfoDiv" name="marketInfoInfoDiv">
        <option th:each="marketInfoInfoDiv : ${marketInfoInfoDivs}" th:value="${marketInfoInfoDiv.value}" th:text="${marketInfoInfoDiv.label}" th:selected="${o.marketInfoInfoDiv == marketInfoInfoDiv.value}"></option>
    </select>
</div>

<div th:fragment="callsInfoDivs(o)" id="callsInfoDiv-items">
    <select class="visitList-company-section" id="callsInfoDiv" name="callsInfoDiv">
        <option th:each="callsInfoDiv : ${callsInfoDivs}" th:value="${callsInfoDiv.value}" th:text="${callsInfoDiv.label}" th:selected="${o.callsInfoDiv == callsInfoDiv.value}"></option>
    </select>
</div>


<div th:fragment="sosiki(o)" id="sosoki">
 
    <input type="hidden" id="tempDiv1" th:value="${o.div1}" />
    <input type="hidden" id="tempDiv2" th:value="${o.div2}" />
    <input type="hidden" id="tempDiv3" th:value="${o.div3}" />
    <input type="hidden" id="tempTanto" th:value="${o.tanto}" />
    
</div>

<div th:fragment="sosiki-without-tanto(o)" id="sosiki-without-tanto">

    <input type="hidden" id="tempDiv1" th:value="${o.div1}" />
    <input type="hidden" id="tempDiv2" th:value="${o.div2}" />
    <input type="hidden" id="tempDiv3" th:value="${o.div3}" />

</div>

<div th:fragment="listOut(value)" th:each="str : ${value}" th:object="${str}" th:if="${str != null and str != ''}" th:text="${str}">
</div>

</html>

