<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>CSVダウンロード</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script th:inline="javascript">
    //<![CDATA[
    (function($) {

        $(document).ready(function() {
            $('#sosiki').yrcmv('divNoTanto', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                deleteDiv1All: true,
                onEmpty : function() {
                    $('.search').on('click.div', function () {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('.search').off('click.div');
                }
            });

            $('#year').on('change', function() {
                $('#sosiki').yrcmv('divNoTanto', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    deleteDiv1All: true,
                    onEmpty : function() {
                        $('.search').on('click.div', function () {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('.search').off('click.div');
                    }
                });
            });
            $('#month').on('change', function() {
                $('#sosiki').yrcmv('divNoTanto', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    deleteDiv1All: true,
                    onEmpty : function() {
                        $('.search').on('click.div', function () {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('.search').off('click.div');
                    }
                });
            });

            $('#downloadVisitResultsPerAccount').click(function(e) {
                // 制限をはずしておく パフォーマンスをみて調整
                //if ($('[name=div1] option:selected').val() == "all") {
                //    return false;
                //}
                //if ($('[name=div2] option:selected').val() == "all") {
                //    return false;
                //}
            });

            if ($.yrcmv('isMobile')) {
                $('#download-button-area').hide()
            }

        });
    })(jQuery);
    //]]>
</script>
<style type="text/css">
.search {
    margin-left: 10px;
}
#year-month-items, #market-items,  #group-items {
    display: inline;
}
#market-items select, #group-items select {
    min-width: auto;
}
</style>
</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
            <div>
                <form id="downloadCondition" method="post">
                    <div class="condition">
                        <div class="clear">
                            <div th:substituteby="common :: year-month(${searchCondition})"></div>
                            <div th:substituteby="common :: market(${searchCondition})"></div>
                            <div th:substituteby="common :: group(${searchCondition})"></div>
                            <div id="sosiki">
                                <div th:substituteby="common :: sosiki-without-tanto(${searchCondition})"></div>
                            </div>
                            <div class="button-area" sec:authorize="!hasAnyRole('ROLE_SALES_VISIT_LIST_SALES_COMPANY', 'ROLE_SALES_VISIT_LIST_DEPARTMENT', 'ROLE_SALES')" id="download-button-area">
                                <input id="downloadMonthVisitResultsPerSales" class="search" type="submit" name="monthVisitResultsPerSales" value="月次訪問実績（個人別）" />
                                <input id="downloadMonthVisitResultsPerAccount" class="search" type="submit" name="monthVisitResultsPerAccount" value="月次訪問実績（得意先別）" />
                                <input id="downloadDailyVisitResultsPerSales" class="search" type="submit" name="dailyVisitResultsPerSales" value="日別訪問実績（個人別）" />
                                <input id="downloadDailyVisitResultsPerAccount" class="search" type="submit" name="dailyVisitResultsPerAccount" value="日別訪問実績（得意先別）" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:substituteby="common :: footer"></div>
</body>
</html>
