<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" >
<head>
<title th:if="${mode} == 'admin'" th:text="#{dailyReportViewer.title.dailyReportViewerAdmin}"></title>
<title th:if="${mode} == 'sales'" th:text="#{dailyReportViewer.title.dailyReportViewerSales}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.colReorder.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.colVis.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<!-- minを適用するとエラーになるのでそのまま -->
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script th:inline="javascript">
	var locale = /*[[${#locale.language}]]*/'ja';
</script>

<script th:inline="javascript">
//<![CDATA[
    (function($) {
        

    $(document).ready(function() {
        
        $.yrcmv('linkSelect', {
            elements : [ $('#year'), $('#month'), $('#date') ]
        });
        
        $('#visitListSosiki').yrcmv('div', {
            reset : false,
            year : $('#year').val(),
            month : $('#month').val().substring(4, 6),
            onEmpty : function() {
                $('.search').on('click.div', function () {
                    return false;
                });
            },
            onNotEmpty : function() {
                $('.search').off('click.div');
            }
        });

        $('#year').on('change', function() {
            $('#visitListSosiki').yrcmv('div', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val().substring(4, 6),
                onEmpty : function() {
                    $('.search').on('click.div', function () {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('.search').off('click.div');
                }
            });
        });
        $('#month').on('change', function() {
            $('#visitListSosiki').yrcmv('div', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val().substring(4, 6),
                onEmpty : function() {
                    $('.search').on('click.div', function () {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('.search').off('click.div');
                }
            });
        });

        var isAdmin = /*[[${mode} == 'admin']]*/ true;
        var columns = isAdmin ?
                [
                    { 'searchable' : false, 'orderable' : false, 'width' : '20px' },
                    { 'width' : '25px' },
                    { 'width' : '200px' },
                    { 'width' : '180px' },
                    { 'width' : '100px' },
                    { 'width' : '50px' },
                    { 'width' : '50px' },
                    { 'width' : '300px' },
                    { 'width' : '180px' },
                    { 'width' : '100px' },
                ]
                : 
                [
                    { 'width' : '200px' },
                    { 'width' : '180px' },
                    { 'width' : '100px' },
                    { 'width' : '50px' },
                    { 'width' : '50px' },
                    { 'width' : '300px' },
                    { 'width' : '180px' },
                    { 'width' : '100px' },
                ];


            var openDailyReport = function() {

                var action = isAdmin ? /*[[@{/dailyReportAdmin.html}]]*/'dailyReportAdmin.html'
                        : /*[[@{/dailyReportSales.html}]]*/'dailyReportSales.html';

                var $e = $(this).parent();
                var userId = $e.data('user-id');
                var date = $e.data('date');
                var div1 = $e.data('div1');
                var div2 = $e.data('div2');
                var div3 = $e.data('div3');
                var $form =  $('#detail');

                $form.attr('action', action);
                $form.find('input[name="userId"]').val(userId);
                $form.find('input[name="date"]').val(date);
                $form.find('input[name="div1"]').val(div1 ? div1 : '');
                $form.find('input[name="div2"]').val(div2 ? div2 : '');
                $form.find('input[name="div3"]').val(div3 ? div3 : '');
                $form.submit()
            }

            $('table[data-roll=fixtable]>tbody>tr>td:not(.checkbox)').click(openDailyReport);

            var isInit = true;
            var $table = $('table[data-roll=fixtable]').yrcmv('datatables', {
                'dom': 'R<lf>rtip',
                'columns': columns,
                'colReorder' : {} ,
                'stateLoaded': function(settings, data) {
                    isInit = false;
                }
            });

            $.yrcmv('footerFiter', $table);

            //初期表示の場合 日付でソート
            if (isInit) {
                $table.order([ isAdmin ? 4 : 2, 'asc' ]).draw();
            }

            $('#confirmComment').click(function(e) {
                $('.error_message').remove();
                var id = [];
                $('.dataTables_scrollBody input.confirmCommentId[type=checkbox]:checked').each(function (index, e) {
                    id.push($(e).val());
                });
                $.ajax({
                    type : 'POST',
                    url : 'dailyCommentConfirm/',
                    contentType : 'application/json',
                    data : JSON.stringify({
                        id : id
                    }),
                }).done(function(json, statusText, jqXHR) {
                    $.yrcmv('responseCallback', { jqXHR : jqXHR });
                    for (var i = 0; i < json.length; i++) {
                        var o = json[i];
                        var $span = $('span[data-roll-confirm=' + o.id + ']');
                        if ($span.length > 0) {
                            $span.html('済');
                            // datatablesに保持した値も書き換える
                            $table.cell($span[0].parentNode).data($span[0].outerHTML);
                        }
                        
                        var $bossName = $('td[data-roll-confirm-boss-name=' + o.id + ']');
                        if ($bossName.length > 0) {
                            $bossName.html(o.lastName + ' ' + o.firstName);
                            // datatablesに保持した値も書き換える
                            $table.cell($bossName).data($bossName.html());
                        }
                        
                        var $date = $('td[data-roll-confirm-date=' + o.id + ']');
                        if ($date.length > 0) {
                            $date.html(o.date);
                            // datatablesに保持した値も書き換える
                            $table.cell($date).data($date.html());
                        }
                    }
                }).fail(function(jqXHR, statusText, errorThrown) {
                    $.yrcmv('responseCallback', { jqXHR : jqXHR });
                });
            });
        
            $('#selectAll').click(function() {
                if ($('#selectAll').data('all-selected')) {
                    // scrollテーブルの見えないもの除外
                    $('.dataTables_scrollBody .confirmCommentId').prop('checked', false);
                    $('#selectAll').data('all-selected', false);
                } else {
                    // scrollテーブルの見えないもの除外
                    $('.dataTables_scrollBody .confirmCommentId').prop('checked', true);
                    $('#selectAll').data('all-selected', true);
                }
            });
            
        });
    })(jQuery);
    //]]>
</script>
</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
        <div class="condition-noline" th:if="${limitOver}">
            <span class="limitOver" th:text="#{dailyReportViewer.limitOver}"></span>
        </div>
            <form action="" method="post">
                <div class="condition">
                    <div th:substituteby="common :: year-month-date(${searchCondition})"></div>
                    <div id="visitListSosiki">
                        <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                    </div>
                    <div class="button-area">
                        <input class="search" type="submit" th:value="#{dailyReportViewer.button.search}" />
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </form>
            <!-- 全選択 確認済みに更新ボタン -->
            <div class="condition-noline">
                <div style="float: left;" th:if="${mode} == 'admin'">
                    <input type="button" class="update" th:value="#{dailyReportViewer.button.selectAll}" id="selectAll"
                        data-all-selected="false" /> <input type="button" id="confirmComment" class="update" th:value="#{dailyReportViewer.button.confirmComment}" />
                </div>
            </div>
            <div>
                <table data-roll="fixtable">
                    <thead id="table_head">
                        <tr>
                            <th class="checkbox" th:if="${mode} == 'admin'"></th>
                            <th class="" th:if="${mode} == 'admin'" th:text="#{dailyReportViewer.confirm}"></th>
                            <th class="" th:text="#{dailyReportViewer.eigyoSosiki}"></th>
                            <th class="" th:text="#{dailyReportViewer.userName}"></th>
                            <th class="" th:text="#{dailyReportViewer.datetime}"></th>
                            <th class="" th:text="#{dailyReportViewer.callCount}"></th>
                            <th class="" th:text="#{dailyReportViewer.phoneCount}"></th>
                            <th class="" th:if="${mode} == 'sales'" th:text="#{dailyReportViewer.saleComment}"></th>
                            <th class="" th:if="${mode} == 'admin'" th:text="#{dailyReportViewer.adminComment}"></th>
                            <th class="" th:text="#{dailyReportViewer.confirmBoss-name}"></th>
                            <th class="" th:text="#{dailyReportViewer.confirmDate}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="o : ${result}" th:object="${o}" th:attr="data-div1=*{div1},data-div2=*{div2},data-div3=*{div3},data-user-id=*{userId},data-date=*{targetDate}">
                            <td class="checkbox center" th:if="${mode} == 'admin'"><input type="checkbox" th:if="*{completed}" name="confirmCommentId" th:value="*{id}" class="confirmCommentId" /></td>
                            <td class="confirm center" th:if="${mode} == 'admin'" >
                                <span th:attr="data-roll-confirm=*{id}" th:if="*{completed}" th:text="*{confirm} ? #{dailyReportViewer.confirm.already} : #{dailyReportViewer.confirm.yet}"></span></td>
                            <td class="eigyo-sosiki" th:text="*{eigyoSosikiNm}"></td>
                            <td class="user-name" th:text="*{lastName} + ' ' + *{firstName}"></td>
                            <td class="datetime" th:text="*{visitDateString}"
                                 th:attr="data-sort=*{visitDate != null ? #calendars.format(visitDate, 'yyyyMMddHHmmss') : ''}"></td>
                            <td class="call-count right"><span th:text="*{callCount}" th:if="*{callCount}"></span></td>
                            <td class="call-count right"><span th:text="*{phoneCount}" th:if="*{phoneCount}"></span></td>
                            <td class="comment long-text" th:if="${mode} == 'sales'" th:text="*{bossComment}"></td>
                            <td class="comment long-text" th:if="${mode} == 'admin'" th:text="*{userComment}"></td>
                            <td class="confirm-boss-name" th:text="*{bossLastName} + ' ' + *{bossFirstName}" th:attr="data-roll-confirm-boss-name=*{id}"></td>
                            <td class="confirm-date" th:text="*{confirmDateString}" th:attr="data-roll-confirm-date=*{id}"></td>
                            </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="checkbox" th:if="${mode} == 'admin'" ></th>
                            <th class="confirm" th:if="${mode} == 'admin'" ><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" th:value="#{dailyReportViewer.confirm}" /></th>
                            <th class="eigyo-sosiki"><input type="text" th:placeholder="#{dailyReportViewer.eigyoSosiki}" /></th>
                            <th class="user-name"><input type="text" th:placeholder="#{dailyReportViewer.userName}" /></th>
                            <th class="datetime"><input type="text" maxlength="10" size="10" th:placeholder="#{dailyReportViewer.datetime}" /></th>
                            <th class="call-count"><input type="text" maxlength="3" size="4" th:placeholder="#{dailyReportViewer.callCount}" /></th>
                            <th class="call-count"><input type="text" maxlength="3" size="4" th:placeholder="#{dailyReportViewer.phoneCount}" /></th>
                            <th class="comment" th:if="${mode} == 'sales'"><input type="text" th:placeholder="#{dailyReportViewer.saleComment}" /></th>
                            <th class="comment" th:if="${mode} == 'admin'"><input type="text" th:placeholder="#{dailyReportViewer.adminComment}" /></th>
                            <th class="confirm-boss-name"><input type="text" th:placeholder="#{dailyReportViewer.confirmBoss-name}" /></th>
                            <th class="confirm-date"><input type="text" maxlength="10" size="10" th:placeholder="#{dailyReportViewer.confirmDate}" /></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
<form id="detail" action="" target="_blank" method="post">
<input type="hidden" name="date" value=""/>
<input type="hidden" name="userId" value=""/>
<input type="hidden" name="div1" value=""/>
<input type="hidden" name="div2" value=""/>
<input type="hidden" name="div3" value=""/>
</form>
    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>
