<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{common.footer.headerMenuReport}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<style type="text/css">
#contentsWrapper {
	visibility: hidden;
}

.container {
	background: #eee;
	border: 1px dashed #CCC;
	position: relative;
	margin: 0px 5px 0px 5px;
}

.container>div {
	background: #FFF;
	border: 1px solid #aaa;
	position: absolute;
	height: 187px;
	width: 207px;
	padding: 7px;
	-webkit-border-radius: 5px;
}

.container>div>div {
	position: relative;
	width: 100%;
	height: 100%;
}

.container>div>div>div.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 201;
}

.container>div>div>div.click-area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 202;
}

.container>div>div>div.overlay.selected {
	background-color: black;
	opacity: 0.5;
}

.container>div>div>div.click-area.selected>img.selected {
	display: block;
}

img.selected {
	width: 70px;
	height: 70px;
	position: relative;
	top: 50%;
	left: 50%;
	user-select: none;
	display: none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.report-view [data-menu-id=*.html],
.report-edit-view [data-menu-id=*.html] {
	display: block;
}

.favorite-edit-view [data-favorite-prev=false] {
	display: none;
}

.favorite-view [data-favorite=false] {
	display: none;
}

.favorite-view .dashboardDesc > img,
.favorite-edit-view .dashboardDesc > img {
	display: none;
}

.report-view [data-favorite=false] .dashboardDesc > img,
.report-edit-view [data-favorite=false] .dashboardDesc > img {
	display: none;
}

.dashboardDesc>img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin: 0 2px 4px 2px;
}
.favorite-icon {
	width: 20px;
	height: 20px;
}

.favorite-icon-add-link {
	margin-bottom: 2px ;
	vertical-align: middle;
}

.container>div[data-ss-colspan="2"] {
	width: 440px;
	height: 400px;
}

.container>div[data-ss-colspan="3"] {
	width: 670px;
	height: 613px;
}

#hbar>a#setupFavorite {
	font-weight: bold;
	color: #ffffff;
	background-color: #6995c9;
	-webkit-appearance: none;
	border-radius: 8px;
}

.disc {
	position: absolute;
	z-index: 200;
	top: 150px;
	left: 10px;
}

.disc2 {
	position: absolute;
	z-index: 200;
	top: 350px;
	left: 10px;
}

.disc3 {
	position: absolute;
	z-index: 200;
	top: 550px;
	left: 10px;
}

.dashboardDesc {
	font-weight: bold;
	font-size: 16px;
}

/* 画像トリム（compress） */
.trimming {
	position: relative;
	width: 187px;
	height: 120px;
	overflow: hidden;
}

/* 画像トリム（expand） */
.trimming2 {
	position: relative;
	width: 400px;
	height: 320px;
	overflow: hidden;
}

/* 画像トリム（expand） */
.trimming3 {
	position: relative;
	width: 630px;
	height: 550px;
	overflow: hidden;
}

.dashboardImg {
	width: 100%;
	height: auto;
}

#nothing-favorite-img {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}

#nothing-favorite-img>span {
	position: relative;
	top: 50%;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

</style>
<link rel="stylesheet" th:href="@{/css/mv.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.touch-punch.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.shapeshift.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript">
//<![CDATA[
	$(function() {
		// レポートメニュー押下時にサーバにリクエストされないよう、クエリパラメータを消す
		if (location.search && location.search.indexOf("?locale=") >= 0) {
			history.replaceState(null, null, location.pathname);
		}
	});
//]]>
</script>
<script th:inline="javascript">
	//<![CDATA[
	var MODE_FAVORITE = 'FAVORITE';
	var MODE_REPORT = 'REPORT';
	var MODE_FAVORITE_EDIT = 'FAVORITE_EDIT';
	var MODE_REPORT_EDIT = 'REPORT_EDIT';
	var currentMode = MODE_FAVORITE

	/*
	 * 同じHTMLでレポートメニュー表示、お気に入り表示、お気に入り登録、お気に入り解除を実現する。
	 */
	$(document).ready(function() {
		getFavorites()
		$('#headerMenu-report').on('click', function() {
			// 編集モード中は変更できない
			if (isEdit()) {
				return false;
			}
			displayAll();
		})
		$('#headerMenu-favorite').on('click', function() {
			// 編集モード中は変更できない
			if (isEdit()) {
				return false;
			}
			displayFavoritOnly();
		})
		// お気に入り編集ボタンを、JSで追加する。この記載でもthymleafがバインディングしてくれる
		var $setupFavorite = $('<a id="setupFavorite" class="right comment-button-narrow" href="#"></a>');
		$setupFavorite.on('click', function() {
			if (!isEdit()) {
				openSetupView();
				createShapeshift();
			} else {
				updateFavorites();
				exitSetupView();
			}
		})
		$('#hbar').append($setupFavorite)
	});

	function isEdit() {
		return currentMode == MODE_REPORT_EDIT || currentMode == MODE_FAVORITE_EDIT;
	}

	function getFavorites() {
		$.ajax({
			type : 'GET',
			url : 'menuFavorite/',
			contentType : 'application/json',
		}).done(function(json, statusText, jqXHR) {
			$.yrcmv('responseCallback', { jqXHR : jqXHR });
			json.forEach(function(o) {
				toFavoritsPrev(o);
				toFavorits(o);
			});
			changeMode();
		}).fail(function(jqXHR, statusText, errorThrown) {
			$.yrcmv('responseCallback', { jqXHR : jqXHR });
		});
	}

	function changeMode() {
		// アンカーによって切り替える
		var mode = location.hash;
		if (mode == '#all') {
			displayAll();
		} else {
			displayFavoritOnly();
		}
	}

	function updateFavorites() {
		var urls = []
		$('[data-favorite=true]').each(function(index, e) {
			urls.push($(e).data('menu-id'))
		});
		$.ajax({
			type : 'POST',
			url : 'menuFavorite/',
			contentType : 'application/json',
			data : JSON.stringify(urls),
		}).done(function(json, statusText, jqXHR) {
			$.yrcmv('responseCallback', { jqXHR : jqXHR });
			updateFavoritePrevAttr();
		}).fail(function(jqXHR, statusText, errorThrown) {
			$.yrcmv('responseCallback', { jqXHR : jqXHR });
		});
	}

	function updateFavoritePrevAttr() {
		$('[data-menu-id]').each(function(index, e) {
			var $e = $(e);
			var isFavorite = $e.data('favorite');
			$e.attr('data-favorite-prev', isFavorite);
			$e.data('favorite-prev', isFavorite);
		});
	}

	function displayAll() {
		// 編集モード中はヘッダボタンを押せない前提
		currentMode = MODE_REPORT;
		controlViewClass(currentMode);
		$('#headerMenu-favorite').removeClass('active');
		$('#headerMenu-report').addClass('active');
		$('#setupFavorite').show();
		$('#setupFavorite').html(/*[[#{dashboard.favorite.setupFavorite}]]*/'お気に入り登録');
		createShapeshift()
	}

	function openSetupView() {
		currentMode = currentMode == MODE_FAVORITE ? MODE_FAVORITE_EDIT : MODE_REPORT_EDIT;
		controlViewClass(currentMode);
		$('#setupFavorite').html(/*[[#{dashboard.favorite.save}]]*/'保存');
		$('[data-menu-id]').each(function(index, e) {
			var $e = $(e)
			var $div = $e.children('div')
			var $overlay = $('<div class="overlay"></div>');
			var imgSrc = /*[[@{/images/dashboard/check.png}]]*/'';
			var $clickArea = $('<div class="click-area"><img class="selected" src="' + imgSrc + '"/></div>');
			$clickArea.on('click', function() {
				var isFavorite = $e.data('favorite');
				// jQueryのキャッシュ対策でどちらも書き換える
				$e.attr('data-favorite', !isFavorite);
				$e.data('favorite', !isFavorite);
				if (isFavorite) {
					$overlay.removeClass('selected');
					$clickArea.removeClass('selected');
				} else {
					$overlay.addClass('selected');
					$clickArea.addClass('selected');
				}
			});
			var isFavorite =  $e.data('favorite');
			if (isFavorite) {
				$overlay.addClass('selected');
				$clickArea.addClass('selected');
			}
			$div.append($overlay).append($clickArea);
		})
	}

	function exitSetupView() {
		$('.overlay').remove();
		$('.click-area').remove();
		changeMode();
	}

	function displayFavoritOnly() {
		// 編集モード中はヘッダボタンを押せない前提
		currentMode = MODE_FAVORITE;
		controlViewClass(currentMode);
		$('#headerMenu-report').removeClass('active');
		$('#headerMenu-favorite').addClass('active');
		$('#setupFavorite').html(/*[[#{dashboard.favorite.releaseFavorite}]]*/'お気に入り解除');
		if ($('[data-favorite=true]').length == 0) {
			$('#setupFavorite').hide();
		}
		createShapeshift();
	}

	function toFavoritsPrev(id) {
		// サーバから取得した場合のみprevにも設定
		$('[data-menu-id="'+ id + '"]').attr('data-favorite-prev', true);
	}

	function toFavorits(id) {
		$('[data-menu-id="'+ id + '"]').attr('data-favorite', true);
	}

	function releaseFavorits(id) {
		$('[data-menu-id="'+ id + '"]').attr('data-favorite', false);
	}

	function createShapeshift() {
		$('#contentsWrapper').css('visibility', 'hidden');
		if ($('[data-favorite=true]').length > 0
				|| isEdit()
				|| currentMode == MODE_REPORT) {
			$('#nothin-favorite').hide(0);
		} else {
			$('#nothin-favorite').show(0);
		}

		// 2回実行しないと、スタイルがおかしい。jQueryのプラグインのバグかも
		$('.container').shapeshift({
			animateOnInit : true,
			enableDrag : false,
			minColumns : 3,
			gutterX : 10, // Compensate for border width
			gutterY : 10, // Compensate for border width
			paddingX : 10,
			paddingY : 10
		});
		$('.container').shapeshift({
			animateOnInit : true,
			enableDrag : false,
			minColumns : 3,
			gutterX : 10, // Compensate for border width
			gutterY : 10, // Compensate for border width
			paddingX : 10,
			paddingY : 10
		});
		$('#contentsWrapper').css('visibility', 'visible');

	}

	function fadeoutContents() {
		$('#contentsWrapper').fadeOut(1000);
	}

	function controlViewClass(mode) {
		if (mode == MODE_FAVORITE_EDIT) {
			$('#container').removeClass('favorite-view');
			$('#container').removeClass('report-view');
			$('#container').removeClass('report-edit-view');
			$('#container').addClass('favorite-edit-view');
		} else if (mode == MODE_REPORT_EDIT) {
			$('#container').removeClass('favorite-view');
			$('#container').removeClass('report-view');
			$('#container').removeClass('favorite-edit-view');
			$('#container').addClass('report-edit-view');
		} else if (mode == MODE_FAVORITE) {
			$('#container').removeClass('report-view');
			$('#container').removeClass('favorite-edit-view');
			$('#container').removeClass('report-edit-view');
			$('#container').addClass('favorite-view');
		} else if (mode == MODE_REPORT) {
			$('#container').removeClass('favorite-view');
			$('#container').removeClass('favorite-edit-view');
			$('#container').removeClass('report-edit-view');
			$('#container').addClass('report-view');
		}
	}
	//]]>
</script>
</head>
<body>
	<div id="contentsWrapper">
		<div style="height: 75px;"></div>
		<div id="container" class="container">
			<div data-ss-colspan="2" id="nothin-favorite">
				<div>
					<div id="nothing-favorite-img">
						<span class="dashboardDesc"><span th:text="#{dashboard.notRegisteredFavorites}"></span><img th:src="@{/images/dashboard/favorite.png}" class="favorite-icon"/></span>
					</div>
				</div>
			</div>
			<div data-ss-colspan="2" sec:authorize="!hasRole('ROLE_TECH_SERVICE')" data-menu-id="visitList.html" data-favorite="false" data-favorite-prev="false">
				<div>
					<div>
						<a th:href="@{/visitList.html}">
							<img class="dashboardImg" th:src="@{/images/dashboard/visitList.png}" />
						</a>
					</div>
					<span class="disc2 dashboardDesc"><span th:text="#{dashboard.visitList}"></span><img th:src="@{/images/dashboard/favorite.png}" class="favorite-icon"/></span>
				</div>
			</div>
			<div data-ss-colspan="2" sec:authorize="!hasRole('ROLE_TECH_SERVICE')" data-menu-id="weeklyReport.html" data-favorite="false" data-favorite-prev="false">
				<div>
					<div>
						<a th:href="@{/weeklyReport.html}">
							<img class="dashboardImg" th:src="@{/images/dashboard/weeklyReport.png}" />
						</a>
					</div>
					<span class="disc2 dashboardDesc"><span th:text="#{dashboard.weeklyReport}"></span><img th:src="@{/images/dashboard/favorite.png}" class="favorite-icon"/></span>
				</div>
			</div>
			<div data-ss-colspan="2" sec:authorize="!hasAnyRole('ROLE_TECH_SERVICE', 'ROLE_SALES', 'ROLE_SALES_VISIT_LIST_SALES_COMPANY', 'ROLE_SALES_VISIT_LIST_DEPARTMENT')" data-menu-id="dailyReportViewerAdmin.html" data-favorite="false" data-favorite-prev="false">
				<!-- 権限6, 9, 11, 12 は非表示 -->
				<div>
					<div>
						<a th:href="@{/dailyReportViewerAdmin.html}">
							<img class="dashboardImg" th:src="@{/images/dashboard/dailyReportViewerAdmin.png}" />
						</a>
					</div>
					<span class="disc2 dashboardDesc"><span th:text="#{dashboard.dailyReportViewerAdmin}"></span><img th:src="@{/images/dashboard/favorite.png}" class="favorite-icon"/></span>
				</div>
			</div>
			<div data-ss-colspan="2" sec:authorize="!hasRole('ROLE_TECH_SERVICE')" data-menu-id="dailyReportViewerSales.html" data-favorite="false" data-favorite-prev="false">
				<div>
					<div>
						<a th:href="@{/dailyReportViewerSales.html}">
							<img class="dashboardImg" th:src="@{/images/dashboard/dailyReportViewerSales.png}" />
						</a>
					</div>
					<span class="disc2 dashboardDesc"><span th:text="#{dashboard.dailyReportViewerSales}"></span><img th:src="@{/images/dashboard/favorite.png}" class="favorite-icon"/></span>
				</div>
			</div>
			<div data-ss-colspan="2" sec:authorize="!hasRole('ROLE_TECH_SERVICE')" data-menu-id="visitPlanList.html" data-favorite="false" data-favorite-prev="false">
				<div>
					<div>
						<a th:href="@{/visitPlanList.html}">
							<img class="dashboardImg" th:src="@{/images/dashboard/visitPlanList.png}" />
						</a>
					</div>
					<span class="disc2 dashboardDesc"><span th:text="#{dashboard.visitPlanList}"></span><img th:src="@{/images/dashboard/favorite.png}" class="favorite-icon"/></span>
				</div>
			</div>
			<div data-ss-colspan="2" sec:authorize="!hasRole('ROLE_TECH_SERVICE')" data-menu-id="opportunityList.html" data-favorite="false" data-favorite-prev="false">
				<div>
					<div>
						<a th:href="@{/opportunityList.html}">
							<img class="dashboardImg" th:src="@{/images/dashboard/opportunityList.png}" />
						</a>
					</div>
					<span class="disc2 dashboardDesc"><span th:text="#{dashboard.opportunityList}"></span><img th:src="@{/images/dashboard/favorite.png}" class="favorite-icon"/></span>
				</div>
			</div>
			
		</div>
	</div>
	<!-- header -->
	<div th:substituteby="common :: footer"></div>
</body>
</html>