<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>MV</title>
<style>
.pentaho-page-background {
	background-color: #001A43;
}

.pentaho-button {
	/* fallback color */
	background: #000000;
	/* Safari/Chrome */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(0.10, #888), color-stop(0.50, #3f3f3f), color-stop(0.55, #000), color-stop(0.90, #121212));
	/* Firefox */
	background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%, #121212 90%) repeat scroll 0 0 transparent;
	font-size: .75em;
	color: #ffffff;
	padding: 5px 14px;

	/* Standard form */
	border-radius: 5px;
	/* Firefox */
	-moz-border-radius: 5px;
	/* Safari/Chrome */
	-webkit-border-radius: 5px;
	
	border: 1px solid #333;
	
	/* Safari/Chrome */
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
	/* Firefox */
	-moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
	/* Standard form */
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
	
	white-space: nowrap;
	text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
	cursor: pointer;
}

.pentaho-button:hover {
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
	-moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
}

.pentaho-button:active {
	background: -moz-linear-gradient(#C8C8C8, #AAA 10%, #666 50%, #353535 55%, #3F3F3F 90%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C8C8C8), color-stop(0.10, #AAA), color-stop(0.50, #666), color-stop(0.55, #353535), color-stop(0.90, #3F3F3F));
}
table, label, .label{
	color: #FFF;
	font-size: 1.0em;
	font-family: Tahoma, Arial, sans-serif;
	text-shadow: 0px 1px 1px #000;
}


</style>

<!-- ipad用 ICON定義 -->
<link rel="apple-touch-icon" th:href="@{/images/mv_AppIcon.PNG}" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

</head>
<body class="pentaho-page-background" style="margin:0px;">

	<div id="container">
		<div style="position: relative; height: 60px; background-color:white; padding: 10px;">
		<img th:src="@{/images/logo_yrc.png}" width="200" height="29" border="0" />
		</div>
		<div style="width: 360px; padding: 30px 30px 30px 30px; margin: 40px 0 0 100px; position: relative;">
			<label style="color: #FFF; font-size: 3.0em; font-family: &amp;amp; quot;">M V</label><label style="color: #FFF; font-size: 1.5em; font-family: &amp;amp; quot;"></label><br/>
			<label style="color: #FFF; font-size: 0.8em; font-family: &amp;amp; quot; line-height:20px;">MV - Management Viewer</label>&nbsp;&nbsp;&nbsp;
			<label style="color: #FFF; font-size: 0.8em; font-family: &amp;amp; quot; line-height:20px;">version 1.0</label><br/>
			<label style="color: #FFF; font-size: 0.8em; .font-family: &amp;amp; quot; line-height:20px;">Login</label>

			<form action="#" th:action="@{/login}" method="POST" style="margin-top:30px;">
				<p th:each="error : ${errors}" class="error_message" th:text="${error}" />
				<label id="forUserid" style="color: #FFF; font-size: 1.0em; font-family: &amp;amp; quot; line-height: 20px;">User ID:</label><br/>
				<input type="text" name="userId" id="userId" style="border: 1px solid #333; padding: 4px; width: 190px; height: 17px;" /><br/>
				<label id="forPassword" style="color: #FFF; font-size: 1.0em; font-family: &amp;amp; quot; line-height:20px;">Password:</label><br/>
				<input type="password" name="password" id="password" style="border: 1px solid #333; padding: 4px; width: 190px; height: 17px;" /><br/>
				<input type="submit" id="login_0" value="Login" class="pentaho-button" style="float: right; clear: both;"/>
			</form>
		</div>
	</div>
</body>
</html>