<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>ログ情報</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.fixTable.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<style type="text/css">
.odd {
	background-color: #f1f1f1 !important;
}

.even {
	background-color: transparent !important;
}

div.fixTableContainer table tbody tr:nth-child(even) {
	background-color: transparent !important;
}

div.fixTableContainer table tbody tr:nth-child(odd) {
	background-color: transparent !important;
}

td.nodata {
	border-left: none !important;
	border-right: none !important;
}

.grid {
	
}

.grid.top {
	border-bottom: 1px #d4d4d4 solid;
}

#user-agent-items select, #view-items select {
	min-width: auto;
	margin-top: 0px;
}

#date-from-to input {
	margin-top: 10px;
}

#user-agent-items, #time-unit-items, #view-items {
	display: inline;
}

#user-agent-items select, #csvDownload {
	margin-left: 10px;
}

#logInfoContainer {
	table-layout: fixed;
}

.breakdown {
	width: 40px;
}

.summary {
	width: 60px;
}

.viewName {
	width: 200px;
	white-space: normal;
	word-break: break-all;
}

.divName {
	width: 200px;
	white-space: normal;
	word-break: break-all;
}

.userName {
	width: 100px;
	white-space: normal;
	word-break: break-all;
}

.userAgent {
	width: 50px;
	white-space: normal;
	word-break: break-all;
}

.hide {
	display: none;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.fixTable.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>

<script th:inline="javascript">
    //<![CDATA[
    (function($) {

        $(document).ready(
                function() {

                    var toMin = null;
                    var toMax = null;
                    var fromDate = new Date($('#dateFrom').val());
                    var now = new Date();
                    // 初期設定
                    $('input[name=timeUnit]').each(
                            function(index, e) {
                                var $e = $(e)
                                if ($e.prop('checked')) {
                                    var timeUnit = $e.val();

                                    applayTimeUnit(timeUnit, false);

                                    if (timeUnit == '01') {

                                        if (fromDate.getFullYear() == now.getFullYear()) {
                                            toMax = new Date(now.getFullYear(), now.getMonth() + 1, 0);

                                        } else {
                                            toMax = new Date(fromDate.getFullYear(), 11, 31);
                                        }
                                        toMin = new Date(fromDate.getFullYear(), fromDate.getMonth(), 1);

                                    } else {
                                        if (fromDate.getFullYear() == now.getFullYear()
                                                && fromDate.getMonth() == now.getMonth()) {
                                            toMax = now;
                                        } else {
                                            toMax = new Date(fromDate.getFullYear(), fromDate.getMonth() + 1, 0);
                                        }
                                        toMin = fromDate;
                                    }
                                }
                            });

                    var maxDate = $('#maxDate').val();
                    var minDate = $('#minDate').val();

                    $('#dateFrom').yrcmv(
                            'datepicker',
                            {
                                showClearButton : false,
                                maxDate : maxDate,
                                minDate : minDate,
                                onSelect : function(selectedDate) {

                                    // From選択したときの設定
                                    $('input[name=timeUnit]')
                                            .each(
                                                    function(index, e) {
                                                        var $e = $(e)
                                                        if ($e.prop('checked')) {
                                                            var now = new Date();
                                                            var date = new Date(selectedDate);
                                                            var timeUnit = $e.val();
                                                            // 月別
                                                            if (timeUnit == '01') {
                                                                $('#dateFrom').val(
                                                                        toDateString(date.getFullYear(), date
                                                                                .getMonth() + 1, 1));

                                                                var lastDay = null;
                                                                // 現在年の場合はTOを現在月の最終日にする
                                                                if (date.getFullYear() == now.getFullYear()) {
                                                                    lastDay = new Date(now.getFullYear(), now
                                                                            .getMonth() + 1, 0);
                                                                }
                                                                // 現在年以外はTOをその年の12/31にする
                                                                else {
                                                                    lastDay = new Date(date.getFullYear(), 11, 31);
                                                                }
                                                                $('#dateTo').datepicker('option', 'maxDate', lastDay);
                                                                $('#dateTo')
                                                                        .datepicker(
                                                                                'option',
                                                                                'minDate',
                                                                                new Date(date.getFullYear(), date
                                                                                        .getMonth(), 1));
                                                                var toDate = new Date($('#dateTo').val());
                                                                if (date > toDate) {
                                                                    $('#dateTo').val(toDateString(lastDay.getFullYear(), lastDay.getMonth() + 1, lastDay.getDate()));
                                                                }
                                                            } else {
                                                                var lastDay = null;
                                                                // 現在月の場合、TOを当日にする
                                                                if (date.getFullYear() == now.getFullYear()
                                                                        && date.getMonth() == now.getMonth()) {
                                                                    lastDay = now;
                                                                }
                                                                // 以外の場合はTOを選択月の月末
                                                                else {
                                                                    lastDay = new Date(date.getFullYear(), date
                                                                            .getMonth() + 1, 0);

                                                                }

                                                                $('#dateTo').datepicker('option', 'maxDate', lastDay);
                                                                $('#dateTo').datepicker('option', 'minDate', date);
                                                            }
                                                            searchDiv();
                                                        }
                                                    });

                                }
                            });

                    $('#dateTo').yrcmv(
                            'datepicker',
                            {
                                showClearButton : false,
                                maxDate : toMax,
                                minDate : toMin,
                                onSelect : function(selectedDate) {

                                    // TO選択したときの設定
                                    $('input[name=timeUnit]').each(
                                            function(index, e) {
                                                var $e = $(e)
                                                if ($e.prop('checked')) {
                                                    var now = new Date();
                                                    var date = new Date(selectedDate);
                                                    // 月別
                                                    if ($e.val() == '01') {
                                                        // FROM選択月以外を選択した場合、FROM選択月月末にする
                                                        if (date.getFullYear() != new Date($('#dateFrom').val())
                                                                .getFullYear()) {
                                                        } else {
                                                            var lastDay = new Date(date.getFullYear(),
                                                                    date.getMonth() + 1, 0);
                                                            $('#dateTo').val(
                                                                    toDateString(lastDay.getFullYear(), lastDay
                                                                            .getMonth() + 1, lastDay.getDate()));
                                                        }

                                                    }
                                                }
                                            });
                                }
                            });

                    $('input[name=timeUnit]').on('change', function() {
                        var timeUnit = $(this).val();
                        applayTimeUnit(timeUnit, true);
                    });

                    $('#dateFrom').on('change', function() {
                        searchDiv();
                    });

                    $('#visitListSosiki').yrcmv('divSameLevelSalesOfficeTantoAll', {
                        reset : false,
                        date : $('#dateFrom').val(),
                        onEmpty : function() {
                            $('.search').on('click.div', function() {
                                return false;
                            });
                        },
                        onNotEmpty : function() {
                            $('.search').off('click.div');
                        }
                    });

                    $('#logInfoContainer').fixTable({
                        autoWidth : false,
                        fixColumn : 4,
                        eventClone : true,
                    });

                    $('#user-agent').on('change', function() {
                        changeUserAgent($(this).val());
                    });

                    changeUserAgent($('#user-agent').val())

                    if ($.yrcmv('isMobile')) {
                        $('#csvDownload').remove();
                    } else {
                        $('#csvDownload').on('click', downloadCsv);
                    }

                });

        function changeUserAgent(userAgent) {
            //PC
            if ('01' == userAgent) {
                $('[data-user-agent=ipad]').hide();
                $('[data-user-agent=pc]').show();
                $('[data-header=common]').show().removeAttr('rowspan');
                $('[data-pc-exists=false]').addClass('hide');
                $('[data-pc-exists=true]').removeClass('hide');
                $('[data-count]').html($('div.fixTableContainer>table>tbody[data-pc-exists=true]').size());
            }
            // IPAD
            else if ('02' == userAgent) {
                $('[data-user-agent=ipad]').show();
                $('[data-user-agent=pc]').hide();
                $('[data-header=common]').show().removeAttr('rowspan');
                $('[data-ipad-exists=false]').addClass('hide');
                $('[data-ipad-exists=true]').removeClass('hide');

                $('[data-count]').html($('div.fixTableContainer>table>tbody[data-ipad-exists=true]').size());
            }
            // ALL
            else {
                $('[data-user-agent=ipad]').show();
                $('[data-user-agent=pc]').show();
                $('[data-ipad-exists=true] [data-header=common]').attr('rowspan', 2);
                $('[data-ipad-exists=true] [data-user-agent=pc] [data-header=common]').hide();

                $('[data-ipad-exists][data-pc-exists]').removeClass('hide');

                $('[data-count]').html($('div.fixTableContainer>table>tbody[data-ipad-exists][data-pc-exists]').size());

            }
            $('div.fixTableContainer table tbody').removeClass('odd');
            $('div.fixTableContainer table tbody').removeClass('even');
            $('div.fixTableContainer table tbody:not(.hide):even').addClass('odd');
            $('div.fixTableContainer table tbody:not(.hide):odd').addClass('even');

        }

        function toDateString(year, month, date) {
            return year + '/' + zeroPad(month) + '/' + zeroPad(date);
        }

        function zeroPad(i) {
            return ('0' + i).slice(-2);
        }

        function searchDiv() {
            var dateString = $('#dateFrom').val();
            var date = new Date(dateString);
            var yearMonth = date.getFullYear() + '-' + date.getMonth();

            var old = new Date($('#tempDateFrom').val());
            var oldYearMonth = old.getFullYear() + '-' + old.getMonth();

            if (yearMonth != oldYearMonth) {
                $('#visitListSosiki').yrcmv('divSameLevelSalesOfficeTantoAll', {
                    reset : true,
                    date : $('#dateFrom').val(),
                    onEmpty : function() {
                        $('.search').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('.search').off('click.div');
                    }
                });
            }
            $('#tempDateFrom').val(dateString);
        }

        function applayTimeUnit(timeUnit, init) {
            if ('01' == timeUnit) {
                if (init) {
                    var now = new Date();
                    var max = new Date(now.getFullYear(), now.getMonth() + 1, 0);
                    $('#dateFrom').val(toDateString(now.getFullYear(), 1, 1));
                    $('#dateTo').val(toDateString(max.getFullYear(), max.getMonth() + 1, max.getDate()));
                    $('#dateTo').datepicker('option', 'maxDate', max);
                    $('#dateTo').datepicker('option', 'minDate', new Date(now.getFullYear(), 0, 1));
                    searchDiv();
                }
                $('[data-time-unit=month-day]').show();
            } else if ('02' == timeUnit) {
                if (init) {
                    var now = new Date();
                    $('#dateFrom').val(toDateString(now.getFullYear(), now.getMonth() + 1, 1));
                    $('#dateTo').val(toDateString(now.getFullYear(), now.getMonth() + 1, now.getDate()));
                    $('#dateTo').datepicker('option', 'maxDate', now);
                    $('#dateTo').datepicker('option', 'minDate', new Date(now.getFullYear(), now.getMonth(), 1));
                    searchDiv();
                }
                $('[data-time-unit=month-day]').show();
            } else {
                if (init) {
                    var now = new Date();
                    $('#dateFrom').val(toDateString(now.getFullYear(), now.getMonth() + 1, now.getDate()));
                    searchDiv();
                }
                $('[data-time-unit=month-day]').hide();
            }
        }

        function downloadCsv() {
            $('#searchCondition [name=timeUnit]').each(function(index, e) {
                var $e = $(e)
                if ($e.prop('checked')) {
                    $('#csv-download-form [name=timeUnit]').val($e.val());
                }
            });

            $('#csv-download-form [name=userAgent]').val($('#searchCondition [name=userAgent]').val());
            $('#csv-download-form [name=view]').val($('#searchCondition [name=view]').val());
            $('#csv-download-form [name=dateFrom]').val($('#searchCondition [name=dateFrom]').val());
            $('#csv-download-form [name=dateTo]').val($('#searchCondition [name=dateTo]').val());
            $('#csv-download-form [name=div1]').val($('#searchCondition [name=div1]').val());
            $('#csv-download-form [name=div2]').val($('#searchCondition [name=div2]').val());
            $('#csv-download-form [name=div3]').val($('#searchCondition [name=div3]').val());
            $('#csv-download-form [name=tanto]').val($('#searchCondition [name=tanto]').val());
            $('#csv-download-form').submit();
        }
    })(jQuery);
    //]]>
</script>
</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
            <form action="" method="post">
                <div class="condition" id="searchCondition">
                    <div class="clear">
                        <div id="time-unit-items" class="modeChange">
                            <input th:each="timeUnit : ${timeUnits}" type="radio" name="timeUnit" th:id="'timeUnit_' + ${timeUnit.value}" th:value="${timeUnit.value}" th:checked="${searchCondition.timeUnit == timeUnit.value}"> <label th:for="'timeUnit_' + ${timeUnit.value}"
                                th:text="${timeUnit.label}"></label></input>
                        </div>
                        <div id="user-agent-items">
                            <select class="visitList-company-section" id="user-agent" name="userAgent">
                                <option th:each="userAgent : ${userAgents}" th:value="${userAgent.value}" th:text="${userAgent.label}" th:selected="${searchCondition.userAgent == userAgent.value}"></option>
                            </select>
                        </div>

                        <div id="view-items">
                            <select class="visitList-company-section" id="view" name="view">
                                <option th:each="view : ${views}" th:value="${view.value}" th:text="${view.label}" th:selected="${searchCondition.view == view.value}"></option>
                            </select>
                        </div>
                    </div>

                    <div id="date-from-to">
                        <input type="text" id="dateFrom" name="dateFrom" class="datePicker" th:value="${searchCondition.dateFrom != null ? #calendars.format(searchCondition.dateFrom, 'yyyy/MM/dd') : ''}" maxlength="10" placeholder="日付(From)" /> <span data-time-unit="month-day">～</span> <input
                            type="text" id="dateTo" data-time-unit="month-day" name="dateTo" class="datePicker" th:value="${searchCondition.dateTo != null ? #calendars.format(searchCondition.dateTo, 'yyyy/MM/dd') : ''}" maxlength="10" placeholder="日付(To)" /> <input type="hidden" id="maxDate"
                            th:value="${searchCondition.maxDate != null ? #calendars.format(searchCondition.maxDate, 'yyyy/MM/dd') : ''}" /> <input type="hidden" id="minDate" th:value="${searchCondition.minDate != null ? #calendars.format(searchCondition.minDate, 'yyyy/MM/dd') : ''}" /> <input
                            type="hidden" id="tempDateFrom" name="tempDateFrom" th:value="${searchCondition.dateFrom != null ? #calendars.format(searchCondition.dateFrom, 'yyyy/MM/dd') : ''}" />
                    </div>

                    <div id="visitListSosiki">
                        <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                    </div>
                    <div class="button-area">
                        <input class="search" type="button" id="csvDownload" value="CSVダウンロード" /> <input class="search" type="submit" id="searchButton" value="検索" />
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </form>
            <div class="condition-noline" style="padding-bottom: 0px;"></div>
                            <span th:text="'■' + ${currentTimeUnit}" style="font-weight: bold;"></span>(<span th:text="${currentTimeUnitTarget}" style="font-weight: bold;"></span>)
            <div class="fixTableContainer" id="logInfoContainer" style="height: 350px;">
                <table>
                    <thead>
                        <tr>
                            <th class="viewName">画面名</th>
                            <th class="divName">所属</th>
                            <th class="userName">ユーザ名</th>
                            <th class="userAgent">端末</th>
                            <th th:each="h : ${header}" class="breakdown">
                                <div th:if="${h.total}">計</div>
                                <div th:unless="${h.total}" th:text="${h.count}"></div>
                            </th>
                        </tr>
                    </thead>
                    <tbody th:if="${logInfoList.size() == 0}">
                        <tr>
                            <td th:colspan="4" class="center">データはありません。</td>
                            <td th:each="date : ${header}" th:class="'nodata'"></td>
                        </tr>
                    </tbody>
                    <tbody th:each="logInfo, it : ${logInfoList}" th:if="${logInfoList.size() != 0}" th:attr="data-pc-exists=${logInfo.pcSummary.count > 0}, data-ipad-exists=${logInfo.ipadSummary.count > 0}">
                        <tr data-user-agent="ipad" th:if="${logInfo.ipadSummary.count > 0}">
                            <td th:text="${logInfo.viewName} " class="viewName" data-header="common"></td>
                            <td th:text="${logInfo.eigyoSosikiNm}" class="divName" data-header="common"></td>
                            <td th:text="${logInfo.userName}" class="userName" data-header="common"></td>
                            <td th:text="${'iPad'}" class="userAgent center" data-header="userAgent"></td>
                            <td class="right summary"><span th:text="${logInfo.ipadSummary.count}" th:if="${logInfo.ipadSummary.count}"></span></td>
                            <td th:each="ipad : ${logInfo.ipad.values()}" class="right breakdown"><span th:text="${ipad.count}" th:if="${ipad.count}"></span></td>
                        </tr>
                        <tr data-user-agent="pc" th:if="${logInfo.pcSummary.count > 0}">
                            <td th:text="${logInfo.viewName}" class="viewName" data-header="common"></td>
                            <td th:text="${logInfo.eigyoSosikiNm}" class="divName" data-header="common"></td>
                            <td th:text="${logInfo.userName}" class="userName" data-header="common"></td>
                            <td th:text="${'PC'}" class="userAgent center" data-header="userAgent"></td>
                            <td class="right summary"><span th:text="${logInfo.pcSummary.count}" th:if="${logInfo.pcSummary.count}"></span></td>
                            <td th:each="pc : ${logInfo.pc.values()}" class="right breakdown"><span th:text="${pc.count}" th:if="${pc.count}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding-top: 0.755em">
                <span th:attr="data-count=${logInfoList.size()}"></span><span>件</span>
            </div>
        </div>
    </div>
    <form action="logInfoCsvDownload.html" id="csv-download-form" method="post">
        <input type="hidden" name="timeUnit" /> <input type="hidden" name="userAgent" /> <input type="hidden" name="view" /> <input type="hidden" name="dateFrom" /> <input type="hidden" name="dateTo" /> <input type="hidden" name="div1" /> <input type="hidden" name="div2" /> <input
            type="hidden" name="div3" /> <input type="hidden" name="tanto" />
    </form>
    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>
