<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>Logout</title>
<style>
.pentaho-page {
	background-color: #001A43;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, Osaka, メイリオ,
		Meiryo, ＭＳ Pゴシック, sans-serif;
	font-size: 12px;
	color: #333333;
}

.pentaho-button {
	/* fallback color */
	background: #000000;
	/* Safari/Chrome */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA),
		color-stop(0.10, #888), color-stop(0.50, #3f3f3f),
		color-stop(0.55, #000), color-stop(0.90, #121212));
	/* Firefox */
	background: -moz-linear-gradient(#AAAAAA, #888888 10%, #3F3F3F 50%, #000000 55%,
		#121212 90%) repeat scroll 0 0 transparent;
	font-size: .75em;
	color: #ffffff;
	padding: 5px 14px;
	/* Standard form */
	border-radius: 5px;
	/* Firefox */
	-moz-border-radius: 5px;
	/* Safari/Chrome */
	-webkit-border-radius: 5px;
	border: 1px solid #333;
	/* Safari/Chrome */
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px
		rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
	/* Firefox */
	-moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px
		rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
	/* Standard form */
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px
		rgba(255, 255, 255, 0.7), 0 0 2px rgba(0, 0, 0, 0.7) inset;
	white-space: nowrap;
	text-shadow: 0px 0px 2px rgba(000, 000, 000, 1);
	cursor: pointer;
}

.pentaho-button:hover {
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px
		rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
	-moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5), 0 1px 3px
		rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5), 0 1px 3px
		rgba(255, 255, 255, 0.7), 0 0 2px 1px rgba(115, 255, 2, 1) inset;
}

.pentaho-button:active {
	background: -moz-linear-gradient(#C8C8C8, #AAA 10%, #666 50%, #353535 55%, #3F3F3F
		90%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C8C8C8),
		color-stop(0.10, #AAA), color-stop(0.50, #666),
		color-stop(0.55, #353535), color-stop(0.90, #3F3F3F));
}

table, label, .label {
	color: #FFF;
	font-size: 1.0em;
	font-family: Tahoma, Arial, sans-serif;
	text-shadow: 0px 1px 1px #000;
}

a:link {
	color: #d8bfd8;
}

a:visited {
	color: #ffffff;
}

a:hover {
	color: #ffffff;
}

a:active {
	color: #ffffff;
}
</style>

<!-- ipad用 ICON定義 -->
<link rel="apple-touch-icon" th:href="@{/images/mv_AppIcon.PNG}" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

</head>
<body class="pentaho-page" style="margin:0px;">
	<div id="container">
		<div style="position: relative; height: 60px; background-color:white; padding: 10px;">
		<img src="images/logo_yrc.png" width="200" height="29" border="0" />
		</div>
		<div style="width: 360px; padding: 30px 30px 30px 30px; margin: 40px 0 0 100px; position: relative;">
        <div>
			<label style="color: #FFF; font-size: 3em; font-family: &amp;amp; quot;">Logout</label><label style="color: #FFF; font-size: 1.5em; font-family: &amp;amp; quot;"></label>
        </div>
        <div>
			<label style="color: #FFF; font-size: 1.6em; .font-family: &amp;amp; quot; line-height:30px;">
                <span>ログアウトしました。</span>
            </label>
        </div>
        <div style="padding-top: 20px">
                <span style="color: #FFF; font-size: 1.6em; .font-family: &amp;amp; quot; line-height:30px;">タブを閉じてください。</span>
        </div>
		</div>
	</div>
</body>
</html>