<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" >
<head>
<title th:text="#{monthlySum.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script th:inline="javascript">
//<![CDATA[
	(function($) {

		$(document).ready(function() {
			$('.modeChange').yrcmv('tabChange');
            $('#monthlySumSosiki').yrcmv('divNoAll', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                onEmpty : function() {
                    $('.search').on('click.div', function () {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('.search').off('click.div');
                },
                onComplete: searchComment,
            });

            $('#year').on('change', function() {
                $('#monthlySumSosiki').yrcmv('divNoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('.search').on('click.div', function () {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('.search').off('click.div');
                    },
                    onComplete: searchComment,
                });
            });
            $('#month').on('change', function() {
                $('#monthlySumSosiki').yrcmv('divNoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('.search').on('click.div', function () {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('.search').off('click.div');
                    },
                    onComplete: searchComment,
                });
            });

			searchComment();

			$('#monthlySumSosiki').on('change', '#tanto', searchComment);
			$('#searchButton').click(function(e) {
			    // 担当者を選択しないと検索させない
			    $('#real').prop('checked', true);
			    if ($('[name=tanto] option:selected').val() == 'all') {
			        return false;
			    }
			});

			$('#showComment').click(
					function(e) {
						if ($("#monthlyCommentId").val() != "") {
							$.colorbox({
								inline : true,
								href : '#inline-content'
							});
						}
			});

			$('#monthlyBossButton1').click(function() {makeSignature('#monthlyBossComment1')});
			$('#monthlyBossButton2').click(function() {makeSignature('#monthlyBossComment2')});
			$('#monthlyBossButton3').click(function() {makeSignature('#monthlyBossComment3')});
			$('#monthlyBossButton4').click(function() {makeSignature('#monthlyBossComment4')});
			$('#monthlyBossButton5').click(function() {makeSignature('#monthlyBossComment5')});

			function makeSignature(objId) {
				var signature = "\r\n"
										+ new Date($.now()).toLocaleString() 
										+ "　"
										+ /*[[${userInfo.lastName}]]*/ null
										+ /*[[${userInfo.firstName}]]*/ null
										+ "　"
										+ /*[[${userInfo.EigyoSosiki}]]*/ null;
				var comment = $(objId).val();
				$(objId).val(comment + signature);
			}

			$('#monthlyCommentSave').click(
					function(e) {
						var param = JSON.stringify({
								'id' : $('#monthlyCommentId').val(),
								'bossComment1' : $('#monthlyBossComment1').val(),
								'bossComment2' : $('#monthlyBossComment2').val(),
								'bossComment3' : $('#monthlyBossComment3').val(),
								'bossComment4' : $('#monthlyBossComment4').val(),
								'bossComment5' : $('#monthlyBossComment5').val()
						});
						$('#commentErrorMessage').empty();
						$.ajax({
							type : 'POST',
							url : 'monthlyComment',
            				contentType : 'application/json',
            				dataType : 'json',
                            data : param,
						}).done(function(json, statusText, jqXHR) {
							$.yrcmv('responseCallback', { jqXHR : jqXHR });
							$.colorbox.close();
						}).fail(function(jqXHR, statusText, errorThrown) {
							$.yrcmv('responseCallback', { jqXHR : jqXHR });
							for (var i = 0; i < jqXHR.responseJSON.length; i++) {
								$('#commentErrorMessage').append('<span class="error_message">' + jqXHR.responseJSON[i] + '</span>');
							}
						});
			});
		});

		function searchComment() {
			var year = $('#year').val();
			var month = $('#month').val();
			var tanto = $('#tanto').val();
			if (year == null || month == null || tanto == "all") {
				return false;
			}

			var param = {
					'year' : year,
					'month' : month,
					'userId' : tanto,
			}

			$('#searchCommentConditionError').empty();
			$('#commentErrorMessage').empty();

			$.ajax({
				type : 'GET',
				url : 'monthlyComment',
				data : param,
				dataType : 'json',
			}).done(
				function(json, statusText, jqXHR) {
					$.yrcmv('responseCallback', { jqXHR : jqXHR });
					if (json) {
						var $div = $('#inline-content');
						$div.find('#monthlyCommentYear').html(json.year);
						$div.find('#monthlyCommentMonth').html(json.month);
						$div.find('#monthlyCommentUserName').html(json.lastName + json.firstName + "　" + json.eigyoSosikiNm);
						$div.find('#monthlyUserComment').html(json.userComment == null ? '' : json.userComment.replace(/\r?\n/g, '<br>'));
						$('#monthlyBossComment1').val(json.bossComment1);
						$('#monthlyBossComment2').val(json.bossComment2);
						$('#monthlyBossComment3').val(json.bossComment3);
						$('#monthlyBossComment4').val(json.bossComment4);
						$('#monthlyBossComment5').val(json.bossComment5);
						$('#monthlyCommentId').val(json.id);
						$('#editUserId').val(json.userId);
						$('#editYear').val(json.year);
						$('#editMonth').val(json.month);
						$("#showComment").prop("disabled", false);
					} else {
						$('#monthlyCommentId').val("");
						$("#showComment").prop("disabled", true);
					}
				}
			).fail(
				function(jqXHR, statusText, errorThrown) {
					$.yrcmv('responseCallback', { jqXHR : jqXHR });
					for (var i = 0; i < jqXHR.responseJSON.length; i++) {
						$('#searchCommentConditionError').append('<span class="error_message">' + jqXHR.responseJSON[i] + '</span>');
					}
				})
		}
	})(jQuery);
//]]>
</script>
<style type="text/css">


.container {
	position: relative;
	margin: 0px 5px 0px 5px;
}

table.monthly-sum-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

table.monthly-sum-table td, table.monthly-sum-table th {
	border: 1px #e5e5e5 solid;
	font-size: 1em;
	padding: 4px 1px 4px 1px;
	width: 60px;
}

table.monthly-sum-table tr>td:last-child, table.monthly-sum-table tr>th:last-child {
	border-right: 1px #909090 solid;
}

table.monthly-sum-table tr>th:last-child {
	border-right: 1px #909090 solid;
}

table.monthly-sum-table tr:nth-child(4) td, table.monthly-sum-table tr:nth-child(4) th {
	border-bottom: 1px #909090 solid;
}

table.monthly-sum-table tr:last-child td, table.monthly-sum-table tr:last-child th {
	border-bottom: 1px #909090 solid;
}

table.monthly-sum-table tr>th:first-child {
	border-left: 1px #909090 solid;
}

table.monthly-sum-table tr>th:last-child {
	border-right: 1px #909090 solid;
}

.charge-group tr:nth-child(2n) th, .charge-group tr:nth-child(2n) td {
	border-bottom: 1px #909090 solid;
}

.charge-sum tr>td:nth-child(13), .charge-sum tr>th:nth-child(13), .charge-sum tr>td:nth-child(12), .charge-sum tr>th:nth-child(12),
.charge-sum tr>td:first-child, .charge-sum tr>th:first-child {
	border-right: 1px #909090 solid;
}

.charge-sum tr>td:nth-child(2), .charge-sum tr>td:nth-child(3), .charge-sum tr>td:nth-child(10), .charge-sum tr>td:nth-child(11) {
	text-align: center;
}

.monthly-sum tr:not(.rank)>td:nth-child(12), .rank td:nth-child(13), .rank th:nth-child(13),
.monthly-sum tr:not(.rank)>td:nth-child(13), .rank td:nth-child(14), .rank th:nth-child(14) {
	border-right: 1px #909090 solid;
}

table.monthly-sum-table th {
	font-weight: bold;
	text-align: center;
}

table.monthly-sum-table th td {
	width: 100px;
}

table.monthly-sum-table thead th {
	text-align: center;
	background-color: #555555;
	padding: 2px 1px 2px 1px;
	color: #ffffff;
}

table.monthly-sum-table thead th {
	border-top-color: #909090;
}

table.monthly-sum-table th.inner {
	border: none;
}

table.monthly-sum-table tr th, table.monthly-sum-table tr td {
	padding: 2px 4px;
	white-space: nowrap;
}

table.monthly-sum-table tr td th{
	min-width: 50px;
	text-align: right;
}

.monthly-sum-table .plan {
	background-color: #faebff; 
}

.monthly-sum-table .result {
	background-color: #d4ffff; 
}

.monthly-sum-table .rank {
	background-color: #eddbff; 
}

.monthly-sum-table tr>th:first-child, .monthly-sum-table tr>td:first-child {
	width: 130px;
}

.monthly-sum-table tr>td {
    text-align: right;
}

span.title {
	font-weight: bold;
}

div[data-tab] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.monthlysum-charge-annotation {
	padding-left: 30;
}

.split-table {
	border-bottom: 1px solid #909090;
}

.charge-header th{
	width:50px;
}

.monthly-sum-table .odd {
	background-color: #faebff; 
}

.monthly-sum-table .even {
	background-color: #d4ffff; 
}

.rank-cell {
	width: 100px;
}

.last-row {
	border-bottom: 1px solid #909090;
}

.text-cell {
	text-align: center !important;
}

.show-comment-button {
	margin-top: -60px;
}

.monthly-sum-title {
	font-size: 20px;
	font-weight: bold;
}

.monthly-sum-plan {
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold;
}

.monthly-sum-header {
	margin: 30px 0px 0px 50px;
}
.monthly-sum-table td>div {
    width: 100%;
    overflow: hidden;
}

.textarea-width {
    width: 583px;
}


</style>
</head>
<body>
	<div id="contentsWrapper">
		<div style="height: 65px;"></div>
		<div class="container">
			<div class="monthly-sum-header">
				<span class="monthly-sum-title" th:text="#{monthlySum.title}"></span>
				<span class="monthly-sum-plan">
					<span th:text="#{monthlySum.monthlySumPlan}"></span>
					<span>
	                        <span th:text="${planDemandCoefficient}"></span>
	                </span>
				</span>
			</div>
			<div>
			<form method="post">
			<div class="condition">
                <div class="clear">
					<div th:substituteby="common :: year-month(${monthlySumSearchCondition})"></div>
					<div id="monthlySumSosiki">
						<div th:substituteby="common :: sosiki(${monthlySumSearchCondition})" th:fragment="divSearch"></div>
					</div>
					<input id="showComment" class="search show-comment-button " type="button" th:value="#{monthlySum.button.showComment}" disabled="disabled" />
					<div class="button-area">
						<input id="searchButton" class="search" type="submit" th:value="#{monthlySum.button.searchButton}" />
					</div>
				</div>
			</div>

			<div class="condition-noline">
				<div class="modeChange">
					<input type="radio" name="modeChange" id="sum-all" value="all" th:checked="${monthlySumSearchCondition.modeChange == 'all'}" />
					<label for="sum-all" th:text="#{monthlySum.modeChange.sumAll}"></label>

					<input type="radio" name="modeChange" id="sum-amount" value="sum-amount" th:checked="${monthlySumSearchCondition.modeChange == 'sum-amount'}" />
					<label for="sum-amount" th:text="#{monthlySum.modeChange.sumAmount}"></label>

					<input type="radio" name="modeChange" id="sum-charge" value="sum-charge" th:checked="${monthlySumSearchCondition.modeChange == 'sum-charge'}"/>
					<label for="sum-charge" th:text="#{monthlySum.modeChange.sumCharge}"></label>

					<input type="radio" name="modeChange" id="sum-outside-charge" value="sum-outside-charge" th:checked="${monthlySumSearchCondition.modeChange == 'sum-outside-charge'}" />
					<label for="sum-outside-charge" th:text="#{monthlySum.modeChange.sumOutsideCharge}"></label>
				</div>
			</div>
            </form>
			<div data-tab="sum-amount">
				<span class="title" th:text="#{monthlySum.modeChange.sumAmount}"></span>
				<table class="monthly-sum-table monthly-sum">
					<thead>
						<tr>
							<th colspan="2"></th>
							<th th:text="#{monthlySum.demand}"></th>
							<th th:text="#{monthlySum.iss}"></th>
							<th th:text="#{monthlySum.number}"></th>
							<th th:text="#{monthlySum.sales}"></th>
							<th th:text="#{monthlySum.margin}"></th>
							<th th:text="#{monthlySum.rate}"></th>
							<th th:text="#{monthlySum.own}"></th>
							<th th:text="#{monthlySum.deal}"></th>
							<th th:text="#{monthlySum.call}"></th>
							<th></th>
							<th></th>
							<th></th>
							<th th:each="day : ${sumDaily}" th:text="${day.date}"></th>
						</tr>
						<tr>
							<th colspan="2"></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th th:each="day : ${sumDaily}" th:text="' ( ' + ${day.dayOfWeek} + ' ) '"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="plan">
							<th colspan="2" th:text="#{monthlySum.plan}"></th>
							<td><div th:if="${sumTotal.demand.plan}" th:text="${#numbers.formatInteger(sumTotal.demand.plan, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.plan}" th:text="${sumTotal.iss.plan}"></div></td>
							<td><div th:if="${sumTotal.number.plan}" th:text="${#numbers.formatInteger(sumTotal.number.plan, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.plan}" th:text="${#numbers.formatInteger(sumTotal.sales.plan, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.plan}" th:text="${#numbers.formatInteger(sumTotal.margin.plan, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.plan}" th:text="${sumTotal.rate.plan}"></div></td>
							<td><div th:if="${sumTotal.own.plan}" th:text="${#numbers.formatInteger(sumTotal.own.plan, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.plan}" th:text="${#numbers.formatInteger(sumTotal.deal.plan, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.plan}" th:text="${#numbers.formatInteger(sumTotal.call.plan, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.plan}" th:text="${#numbers.formatInteger(day.plan, 1, 'COMMA')}"></div></td>
						</tr>
						<tr class="result">
							<th colspan="2" th:text="#{monthlySum.result}"></th>
							<td>-</td>
							<td><div th:if="${sumTotal.iss.result}" th:text="${sumTotal.iss.result}"></div></td>
							<td><div th:if="${sumTotal.number.result}" th:text="${#numbers.formatInteger(sumTotal.number.result, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.result}" th:text="${#numbers.formatInteger(sumTotal.sales.result, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.result}" th:text="${#numbers.formatInteger(sumTotal.margin.result, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.result}" th:text="${sumTotal.rate.result}"></div></td>
							<td>-</td>
							<td><div th:if="${sumTotal.deal.result}" th:text="${#numbers.formatInteger(sumTotal.deal.result, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.result}" th:text="${#numbers.formatInteger(sumTotal.call.result, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.result}" th:text="${#numbers.formatInteger(day.result, 1, 'COMMA')}"></div></td>
						</tr>
						<tr class="result">
							<th colspan="2"></th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.resultNumber}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.resultNumber}" th:text="${#numbers.formatInteger(day.resultNumber, 1, 'COMMA')}"></div></td>
						</tr>
						<tr class="split-table">
							<th colspan="2" th:text="#{monthlySum.achievement}"></th>
							<td>-</td>
							<td><div th:if="${sumTotal.iss.achievement}" th:text="${sumTotal.iss.achievement}"></div></td>
							<td><div th:if="${sumTotal.number.achievement}" th:text="${sumTotal.number.achievement}"></div></td>
							<td><div th:if="${sumTotal.sales.achievement}" th:text="${sumTotal.sales.achievement}"></div></td>
							<td><div th:if="${sumTotal.margin.achievement}" th:text="${sumTotal.margin.achievement}"></div></td>
							<td><div th:if="${sumTotal.rate.achievement}" th:text="${sumTotal.rate.achievement}"></div></td>
							<td>-</td>
							<td><div th:if="${sumTotal.deal.achievement}" th:text="${sumTotal.deal.achievement}"></div></td>
							<td><div th:if="${sumTotal.call.achievement}" th:text="${sumTotal.call.achievement}"></div></td>
							<td></td>
							<td></td>
                            <td></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.achievement}" th:text="${day.achievement}"></div></td>
						</tr>
						<tr class="rank">
							<th th:text="#{monthlySum.byRank}"></th>
							<th class="rank-cell">A</th>
							<td><div th:if="${sumTotal.demand.rankA}" th:text="${#numbers.formatInteger(sumTotal.demand.rankA, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.rankA}" th:text="${sumTotal.iss.rankA}"></div></td>
							<td><div th:if="${sumTotal.number.rankA}" th:text="${#numbers.formatInteger(sumTotal.number.rankA, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.rankA}" th:text="${#numbers.formatInteger(sumTotal.sales.rankA, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.rankA}" th:text="${#numbers.formatInteger(sumTotal.margin.rankA, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.rankA}" th:text="${sumTotal.rate.rankA}"></div></td>
							<td><div th:if="${sumTotal.own.rankA}" th:text="${#numbers.formatInteger(sumTotal.own.rankA, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.rankA}" th:text="${#numbers.formatInteger(sumTotal.deal.rankA, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.rankA}" th:text="${#numbers.formatInteger(sumTotal.call.rankA, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.rankA}" th:text="${#numbers.formatInteger(day.rankA, 1, 'COMMA')}"></div></td>
						</tr>
						<tr class="rank">
							<th></th>
							<th class="rank-cell">B</th>
							<td><div th:if="${sumTotal.demand.rankB}" th:text="${#numbers.formatInteger(sumTotal.demand.rankB, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.rankB}" th:text="${sumTotal.iss.rankB}"></div></td>
							<td><div th:if="${sumTotal.number.rankB}" th:text="${#numbers.formatInteger(sumTotal.number.rankB, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.rankB}" th:text="${#numbers.formatInteger(sumTotal.sales.rankB, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.rankB}" th:text="${#numbers.formatInteger(sumTotal.margin.rankB, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.rankB}" th:text="${sumTotal.rate.rankB}"></div></td>
							<td><div th:if="${sumTotal.own.rankB}" th:text="${#numbers.formatInteger(sumTotal.own.rankB, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.rankB}" th:text="${#numbers.formatInteger(sumTotal.deal.rankB, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.rankB}" th:text="${#numbers.formatInteger(sumTotal.call.rankB, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.rankB}" th:text="${#numbers.formatInteger(day.rankB, 1, 'COMMA')}"></div></td>
						</tr>
						<tr class="rank">
							<th></th>
							<th class="rank-cell">C</th>
							<td><div th:if="${sumTotal.demand.rankC}" th:text="${#numbers.formatInteger(sumTotal.demand.rankC, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.rankC}" th:text="${sumTotal.iss.rankC}"></div></td>
							<td><div th:if="${sumTotal.number.rankC}" th:text="${#numbers.formatInteger(sumTotal.number.rankC, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.rankC}" th:text="${#numbers.formatInteger(sumTotal.sales.rankC, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.rankC}" th:text="${#numbers.formatInteger(sumTotal.margin.rankC, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.rankC}" th:text="${sumTotal.rate.rankC}"></div></td>
							<td><div th:if="${sumTotal.own.rankC}" th:text="${#numbers.formatInteger(sumTotal.own.rankC, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.rankC}" th:text="${#numbers.formatInteger(sumTotal.deal.rankC, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.rankC}" th:text="${#numbers.formatInteger(sumTotal.call.rankC, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.rankC}" th:text="${#numbers.formatInteger(day.rankC, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2" th:text="#{monthlySum.important}"></th>
							<td><div th:if="${sumTotal.demand.important}" th:text="${#numbers.formatInteger(sumTotal.demand.important, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.important}" th:text="${sumTotal.iss.important}"></div></td>
							<td><div th:if="${sumTotal.number.important}" th:text="${#numbers.formatInteger(sumTotal.number.important, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.important}" th:text="${#numbers.formatInteger(sumTotal.sales.important, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.important}" th:text="${#numbers.formatInteger(sumTotal.margin.important, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.important}" th:text="${sumTotal.rate.important}"></div></td>
							<td><div th:if="${sumTotal.own.important}" th:text="${#numbers.formatInteger(sumTotal.own.important, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.important}" th:text="${#numbers.formatInteger(sumTotal.deal.important, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.important}" th:text="${#numbers.formatInteger(sumTotal.call.important, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.important}" th:text="${#numbers.formatInteger(day.important, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2" th:text="#{monthlySum.newCustomer}"></th>
							<td><div th:if="${sumTotal.demand.newCustomer}" th:text="${#numbers.formatInteger(sumTotal.demand.newCustomer, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.newCustomer}" th:text="${sumTotal.iss.newCustomer}"></div></td>
							<td><div th:if="${sumTotal.number.newCustomer}" th:text="${#numbers.formatInteger(sumTotal.number.newCustomer, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.newCustomer}" th:text="${#numbers.formatInteger(sumTotal.sales.newCustomer, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.newCustomer}" th:text="${#numbers.formatInteger(sumTotal.margin.newCustomer, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.newCustomer}" th:text="${sumTotal.rate.newCustomer}"></div></td>
							<td><div th:if="${sumTotal.own.newCustomer}" th:text="${#numbers.formatInteger(sumTotal.own.newCustomer, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.newCustomer}" th:text="${#numbers.formatInteger(sumTotal.deal.newCustomer, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.newCustomer}" th:text="${#numbers.formatInteger(sumTotal.call.newCustomer, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.newCustomer}" th:text="${#numbers.formatInteger(day.newCustomer, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2" th:text="#{monthlySum.deepPlowing}"></th>
							<td><div th:if="${sumTotal.demand.deepPlowing}" th:text="${#numbers.formatInteger(sumTotal.demand.deepPlowing, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.deepPlowing}" th:text="${sumTotal.iss.deepPlowing}"></div></td>
							<td><div th:if="${sumTotal.number.deepPlowing}" th:text="${#numbers.formatInteger(sumTotal.number.deepPlowing, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.deepPlowing}" th:text="${#numbers.formatInteger(sumTotal.sales.deepPlowing, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.deepPlowing}" th:text="${#numbers.formatInteger(sumTotal.margin.deepPlowing, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.deepPlowing}" th:text="${sumTotal.rate.deepPlowing}"></div></td>
							<td><div th:if="${sumTotal.own.deepPlowing}" th:text="${#numbers.formatInteger(sumTotal.own.deepPlowing, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.deepPlowing}" th:text="${#numbers.formatInteger(sumTotal.deal.deepPlowing, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.deepPlowing}" th:text="${#numbers.formatInteger(sumTotal.call.deepPlowing, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.deepPlowing}" th:text="${#numbers.formatInteger(day.deepPlowing, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2" th:text="#{monthlySum.yCp}"></th>
							<td><div th:if="${sumTotal.demand.yCp}" th:text="${#numbers.formatInteger(sumTotal.demand.yCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.yCp}" th:text="${sumTotal.iss.yCp}"></div></td>
							<td><div th:if="${sumTotal.number.yCp}" th:text="${#numbers.formatInteger(sumTotal.number.yCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.yCp}" th:text="${#numbers.formatInteger(sumTotal.sales.yCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.yCp}" th:text="${#numbers.formatInteger(sumTotal.margin.yCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.yCp}" th:text="${sumTotal.rate.yCp}"></div></td>
							<td><div th:if="${sumTotal.own.yCp}" th:text="${#numbers.formatInteger(sumTotal.own.yCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.yCp}" th:text="${#numbers.formatInteger(sumTotal.deal.yCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.yCp}" th:text="${#numbers.formatInteger(sumTotal.call.yCp, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.yCp}" th:text="${#numbers.formatInteger(day.yCp, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2" th:text="#{monthlySum.otherCp}"></th>
							<td><div th:if="${sumTotal.demand.otherCp}" th:text="${#numbers.formatInteger(sumTotal.demand.otherCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.otherCp}" th:text="${sumTotal.iss.otherCp}"></div></td>
							<td><div th:if="${sumTotal.number.otherCp}" th:text="${#numbers.formatInteger(sumTotal.number.otherCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.otherCp}" th:text="${#numbers.formatInteger(sumTotal.sales.otherCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.otherCp}" th:text="${#numbers.formatInteger(sumTotal.margin.otherCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.otherCp}" th:text="${sumTotal.rate.otherCp}"></div></td>
							<td><div th:if="${sumTotal.own.otherCp}" th:text="${#numbers.formatInteger(sumTotal.own.otherCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.otherCp}" th:text="${#numbers.formatInteger(sumTotal.deal.otherCp, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.otherCp}" th:text="${#numbers.formatInteger(sumTotal.call.otherCp, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.otherCp}" th:text="${#numbers.formatInteger(day.otherCp, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2" th:text="#{monthlySum.outside}"></th>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td>-</td>
							<td><div th:if="${sumTotal.call.outside}" th:text="${#numbers.formatInteger(sumTotal.call.outside, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.outside}" th:text="${#numbers.formatInteger(day.outside, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2">1G</th>
							<td><div th:if="${sumTotal.demand.groupOne}" th:text="${#numbers.formatInteger(sumTotal.demand.groupOne, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.groupOne}" th:text="${sumTotal.iss.groupOne}"></div></td>
							<td><div th:if="${sumTotal.number.groupOne}" th:text="${#numbers.formatInteger(sumTotal.number.groupOne, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.groupOne}" th:text="${#numbers.formatInteger(sumTotal.sales.groupOne, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.groupOne}" th:text="${#numbers.formatInteger(sumTotal.margin.groupOne, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.groupOne}" th:text="${sumTotal.rate.groupOne}"></div></td>
							<td><div th:if="${sumTotal.own.groupOne}" th:text="${#numbers.formatInteger(sumTotal.own.groupOne, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.groupOne}" th:text="${#numbers.formatInteger(sumTotal.deal.groupOne, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.groupOne}" th:text="${#numbers.formatInteger(sumTotal.call.groupOne, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.groupOne}" th:text="${#numbers.formatInteger(day.groupOne, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2">2G</th>
							<td><div th:if="${sumTotal.demand.groupTwo}" th:text="${#numbers.formatInteger(sumTotal.demand.groupTwo, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.groupTwo}" th:text="${sumTotal.iss.groupTwo}"></div></td>
							<td><div th:if="${sumTotal.number.groupTwo}" th:text="${#numbers.formatInteger(sumTotal.number.groupTwo, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.groupTwo}" th:text="${#numbers.formatInteger(sumTotal.sales.groupTwo, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.groupTwo}" th:text="${#numbers.formatInteger(sumTotal.margin.groupTwo, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.groupTwo}" th:text="${sumTotal.rate.groupTwo}"></div></td>
							<td><div th:if="${sumTotal.own.groupTwo}" th:text="${#numbers.formatInteger(sumTotal.own.groupTwo, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.groupTwo}" th:text="${#numbers.formatInteger(sumTotal.deal.groupTwo, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.groupTwo}" th:text="${#numbers.formatInteger(sumTotal.call.groupTwo, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.groupTwo}" th:text="${#numbers.formatInteger(day.groupTwo, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2">3G</th>
							<td><div th:if="${sumTotal.demand.groupThree}" th:text="${#numbers.formatInteger(sumTotal.demand.groupThree, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.groupThree}" th:text="${sumTotal.iss.groupThree}"></div></td>
							<td><div th:if="${sumTotal.number.groupThree}" th:text="${#numbers.formatInteger(sumTotal.number.groupThree, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.groupThree}" th:text="${#numbers.formatInteger(sumTotal.sales.groupThree, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.groupThree}" th:text="${#numbers.formatInteger(sumTotal.margin.groupThree, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.groupThree}" th:text="${sumTotal.rate.groupThree}"></div></td>
							<td><div th:if="${sumTotal.own.groupThree}" th:text="${#numbers.formatInteger(sumTotal.own.groupThree, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.groupThree}" th:text="${#numbers.formatInteger(sumTotal.deal.groupThree, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.groupThree}" th:text="${#numbers.formatInteger(sumTotal.call.groupThree, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.groupThree}" th:text="${#numbers.formatInteger(day.groupThree, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2">4G</th>
							<td><div th:if="${sumTotal.demand.groupFour}" th:text="${#numbers.formatInteger(sumTotal.demand.groupFour, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.groupFour}" th:text="${sumTotal.iss.groupFour}"></div></td>
							<td><div th:if="${sumTotal.number.groupFour}" th:text="${#numbers.formatInteger(sumTotal.number.groupFour, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.groupFour}" th:text="${#numbers.formatInteger(sumTotal.sales.groupFour, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.groupFour}" th:text="${#numbers.formatInteger(sumTotal.margin.groupFour, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.groupFour}" th:text="${sumTotal.rate.groupFour}"></div></td>
							<td><div th:if="${sumTotal.own.groupFour}" th:text="${#numbers.formatInteger(sumTotal.own.groupFour, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.groupFour}" th:text="${#numbers.formatInteger(sumTotal.deal.groupFour, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.groupFour}" th:text="${#numbers.formatInteger(sumTotal.call.groupFour, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.groupFour}" th:text="${#numbers.formatInteger(day.groupFour, 1, 'COMMA')}"></div></td>
						</tr>
						<tr>
							<th colspan="2">5G</th>
							<td><div th:if="${sumTotal.demand.groupFive}" th:text="${#numbers.formatInteger(sumTotal.demand.groupFive, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.iss.groupFive}" th:text="${sumTotal.iss.groupFive}"></div></td>
							<td><div th:if="${sumTotal.number.groupFive}" th:text="${#numbers.formatInteger(sumTotal.number.groupFive, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.sales.groupFive}" th:text="${#numbers.formatInteger(sumTotal.sales.groupFive, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.margin.groupFive}" th:text="${#numbers.formatInteger(sumTotal.margin.groupFive, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.rate.groupFive}" th:text="${sumTotal.rate.groupFive}"></div></td>
							<td><div th:if="${sumTotal.own.groupFive}" th:text="${#numbers.formatInteger(sumTotal.own.groupFive, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.deal.groupFive}" th:text="${#numbers.formatInteger(sumTotal.deal.groupFive, 1, 'COMMA')}"></div></td>
							<td><div th:if="${sumTotal.call.groupFive}" th:text="${#numbers.formatInteger(sumTotal.call.groupFive, 1, 'COMMA')}"></div></td>
							<td></td>
							<td></td>
							<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
							<td th:each="day : ${sumDaily}"><div th:if="${day.groupFive}" th:text="${#numbers.formatInteger(day.groupFive, 1, 'COMMA')}"></div></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div data-tab="sum-charge">
				<span>
					<span class="title" th:text="#{monthlySum.modeChange.sumCharge}"></span>
					<span class="monthlysum-charge-annotation">
						<span th:text="#{monthlySum.monthlysumChargeAnnotation.planCalls}"></span>
				        <span th:text="#{monthlySum.monthlysumChargeAnnotation.planCallsMulti}"></span>
						<span th:text="#{monthlySum.monthlysumChargeAnnotation.noPlanCalls}"></span>
					</span>
				</span>
				<table class="monthly-sum-table charge-sum">
					<thead>
						<tr>
							<th th:text="#{monthlySum.name}"></th>
							<th th:text="#{monthlySum.market}"></th>
							<th th:text="#{monthlySum.rank}"></th>
							<th th:text="#{monthlySum.demand}"></th>
							<th th:text="#{monthlySum.iss}"></th>
							<th th:text="#{monthlySum.number}"></th>
							<th th:text="#{monthlySum.sales}"></th>
							<th th:text="#{monthlySum.margin}"></th>
							<th th:text="#{monthlySum.rate}"></th>
							<th th:text="#{monthlySum.own}"></th>
							<th th:text="#{monthlySum.deal}"></th>
							<th th:text="#{monthlySum.call}"></th>
							<th class="text-cell"></th>
							<th th:each="day : ${sumDaily}" th:text="${day.date}"></th>
						</tr>
						<tr>
							<th th:text="#{monthlySum.code}"></th>
							<th th:text="#{monthlySum.important}"></th>
							<th th:text="#{monthlySum.newCustomer}"></th>
							<th th:text="#{monthlySum.deepPlowing}"></th>
							<th th:text="#{monthlySum.yCp}"></th>
							<th th:text="#{monthlySum.otherCp}"></th>
                            <th>1G</th>
                            <th>2G</th>
                            <th>3G</th>
                            <th>4G</th>
                            <th>5G</th>
							<th></th>
							<th class="text-cell"></th>
							<th th:each="day : ${sumDaily}" th:text="' ( ' + ${day.dayOfWeek} + ' ) '"></th>
						</tr>
					</thead>
					<tbody class="charge-group" th:each="o, it : ${assigned}" th:class="${it.odd ? 'odd' : 'even'}">
							<tr>
								<th><div th:if="${o.name}" th:text="${o.name}"></div></th>
								<td><div th:if="${o.market}" th:text="${o.market}"></div></td>
								<td><div th:if="${o.rank}" th:text="${o.rank}"></div></td>
								<td><div th:if="${o.demand}" th:text="${#numbers.formatInteger(o.demand, 1, 'COMMA')}"></div></td>
								<td><div th:if="${o.iss}" th:text="${o.iss}"></div></td>
								<td><div th:if="${o.number}" th:text="${#numbers.formatInteger(o.number, 1, 'COMMA')}"></div></td>
								<td><div th:if="${o.sales}" th:text="${#numbers.formatInteger(o.sales, 1, 'COMMA')}"></div></td>
								<td><div th:if="${o.margin}" th:text="${#numbers.formatInteger(o.margin, 1, 'COMMA')}"></div></td>
								<td><div th:if="${o.rate}" th:text="${o.rate}"></div></td>
								<td class="text-cell"><div th:if="${o.own}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.deal}" th:text="'○'"></div></td>
								<td><div th:if="${o.call}" th:text="${#numbers.formatInteger(o.call, 1, 'COMMA')}"></div></td>
								<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
								<td class="text-cell" th:each="daily : ${o.daily}">
                                    <div th:if="${daily.plan}">
                                        <div th:if="${daily.call}" th:text="${daily.call > 1 ? '◎' : '○'}"></div>
                                    </div>
                                    <div th:unless="${daily.plan}">
                                        <div th:if="${daily.call}" th:text="'△'"></div>
                                    </div>
                                </td>
							</tr>
							<tr>
								<th><div th:if="${o.code}" th:text="${o.code}"></div></th>
								<td class="text-cell"><div th:if="${o.important}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.newCustomer}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.deepPolling}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.yCp}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.otherCp}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g1}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g2}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g3}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g4}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g5}" th:text="'○'"></div></td>
								<td></td>
								<td class="text-cell" th:text="#{monthlySum.textCell.resultNumber}"></td>
                                <td th:each="daily : ${o.daily}"><div th:if="${daily.number}" th:text="${#numbers.formatInteger(daily.number, 1, 'COMMA')}"></div></td>
							</tr>
					</tbody>
				</table>
			</div>

			<div data-tab="sum-outside-charge">
				<span class="title" th:text="#{monthlySum.modeChange.sumOutsideCharge}"></span>
				<span class="monthlysum-charge-annotation">
				    <span th:text="#{monthlySum.monthlysumChargeAnnotation.planCalls}"></span>
					<span th:text="#{monthlySum.monthlysumChargeAnnotation.planCallsMulti}"></span>
						<span th:text="#{monthlySum.monthlysumChargeAnnotation.noPlanCalls}"></span>
				</span>
				<table class="monthly-sum-table charge-sum">
					<thead>
						<tr>
							<th th:text="#{monthlySum.name}"></th>
							<th th:text="#{monthlySum.market}"></th>
							<th th:text="#{monthlySum.rank}"></th>
							<th th:text="#{monthlySum.own}"></th>
							<th th:text="#{monthlySum.deal}"></th>
							<th th:text="#{monthlySum.call}"></th>
							<th th:text="#{monthlySum.important}"></th>
							<th th:text="#{monthlySum.newCustomer}"></th>
							<th th:text="#{monthlySum.deepPlowing}"></th>
							<th th:text="#{monthlySum.yCp}"></th>
							<th th:text="#{monthlySum.otherCp}"></th>
							<th></th>
							<th class="text-cell"></th>
							<th th:each="day : ${sumDaily}" th:text="${day.date}"></th>
						</tr>
						<tr>
							<th th:text="#{monthlySum.code}"></th>
                            <th>1G</th>
                            <th>2G</th>
                            <th>3G</th>
                            <th>4G</th>
                            <th>5G</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th th:each="day : ${sumDaily}" th:text="' ( ' + ${day.dayOfWeek} + ' ) '"></th>
						</tr>
					</thead>
					<tbody class="charge-group" th:each="o, it : ${outside}" th:class="${it.odd ? 'odd' : 'even'}">
							<tr>
								<th><div th:if="${o.name}" th:text="${o.name}"></div></th>
								<td><div th:if="${o.market}" th:text="${o.market}"></div></td>
								<td><div th:if="${o.rank}" th:text="${o.rank}"></div></td>
								<td class="text-cell"><div th:if="${o.own}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.deal}" th:text="'○'"></div></td>
								<td><div th:if="${o.call}" th:text="${#numbers.formatInteger(o.call, 1, 'COMMA')}"></div></td>
								<td class="text-cell"><div th:if="${o.important}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.newCustomer}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.deepPolling}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.yCp}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.otherCp}" th:text="'○'"></div></td>
							    <td></td>
								<td class="text-cell" th:text="#{monthlySum.textCell.result}"></td>
								<td class="text-cell" th:each="daily : ${o.daily}">
                                    <div th:if="${daily.plan}">
                                        <div th:if="${daily.call}" th:text="${daily.call > 1 ? '◎' : '○'}"></div>
                                    </div>
                                    <div th:unless="${daily.plan}">
                                        <div th:if="${daily.call}" th:text="'△'"></div>
                                    </div>
                                </td>
							</tr>
							<tr>
								<th><div th:if="${o.code}" th:text="${o.code}"></div></th>
								<td class="text-cell"><div th:if="${o.g1}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g2}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g3}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g4}" th:text="'○'"></div></td>
								<td class="text-cell"><div th:if="${o.g5}" th:text="'○'"></div></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
                                <td></td>
								<td class="text-cell"></td>
								<td th:each="daily : ${o.daily}"><div th:text="'-'"></div></td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	</div>
	<div style="display: none;">
		<div id="inline-content" class="inline-content">
			<div style="width: 100%" >
				<div style="margin:0 auto; width: auto;">
					<table class="comment-table">
						<tr>
							<th th:text="#{monthlySum.monthlyCommentYearMonth}"></th>
							<td><span id="monthlyCommentYear"></span><span th:text="#{monthlySum.monthlyCommentYear}"></span><span id="monthlyCommentMonth"></span><span th:text="#{monthlySum.monthlyCommentMonth}"></span></td>
						</tr>
						<tr>
							<th th:text="#{monthlySum.monthlyCommentUserNam}"></th>
							<td><div id="monthlyCommentUserName" style="width:583px; word-wrap: break-word;"></div></td>
						</tr>
						<tr>
							<th><div th:text="#{monthlySum.monthlyUser}"></div><div th:text="#{monthlySum.monthlyComment}"></div></th>
							<td><div id="monthlyUserComment" style="width:583px; word-wrap: break-word;"></div></td>
						</tr>
						<tr class="separator">
							<th class="separator"></th>
							<td class="separator"></td>
						</tr>
						<tr class="separator">
							<td colspan="2"><span id="commentErrorMessage" class="error_message"></span></td>
						</tr>
						<tr>
							<th>
								<div th:text="#{monthlySum.monthlyBossComment1}"></div>
								<div style="text-align: right;"><input id="monthlyBossButton1" type="button" th:value="#{monthlySum.monthlyBossButton}"  class="comment-button-narrow"/></div>
							</th>
							<td><textarea id="monthlyBossComment1" maxlength="200" rows="6" cols="80" name="bossComment1" class="textarea-width"></textarea></td>
						</tr>
						<tr>
							<th>
								<div th:text="#{monthlySum.monthlyBossComment2}"></div>
								<div style="text-align: right;"><input id="monthlyBossButton2" type="button" th:value="#{monthlySum.monthlyBossButton}"  class="comment-button-narrow"/></div>
							</th>
							<td><textarea id="monthlyBossComment2" maxlength="200" rows="6" cols="80" name="bossComment2" class="textarea-width"></textarea></td>
						</tr>
						<tr>
							<th>
								<div th:text="#{monthlySum.monthlyBossComment3}"></div>
								<div style="text-align: right;"><input id="monthlyBossButton3" type="button" th:value="#{monthlySum.monthlyBossButton}"  class="comment-button-narrow"/></div>
							</th>
							<td><textarea id="monthlyBossComment3" maxlength="200" rows="6" cols="80" name="bossComment3" class="textarea-width"></textarea></td>
						</tr>
						<tr>
							<th>
								<div th:text="#{monthlySum.monthlyBossComment4}"></div>
								<div style="text-align: right;"><input id="monthlyBossButton4" type="button" th:value="#{monthlySum.monthlyBossButton}"  class="comment-button-narrow"/></div>
							</th>
							<td><textarea id="monthlyBossComment4" maxlength="200" rows="6" cols="80" name="bossComment4" class="textarea-width"></textarea></td>
						</tr>
						<tr>
							<th>
								<div th:text="#{monthlySum.monthlyBossComment5}"></div>
								<div style="text-align: right;"><input id="monthlyBossButton5" type="button" th:value="#{monthlySum.monthlyBossButton}"  class="comment-button-narrow"/></div>
							</th>
							<td><textarea id="monthlyBossComment5" maxlength="200" rows="6" cols="80" name="bossComment5" class="textarea-width"></textarea></td>
						</tr>
						<tr class="separator">
							<th class="separator"></th>
							<td class="separator" style="text-align: right;"><input id="monthlyCommentSave" class="comment-button" type="button" th:value="#{monthlySum.monthlyCommentSave}" /></td>
						</tr>
					</table>
					<input type="hidden" value="" id="monthlyCommentId" />
				</div>
			</div>
		</div>
	</div>
	<div th:substituteby="common :: footer"></div>
</body>
</html>
