<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title th:text="#{opportunityList.title.opportunityList}"></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />

<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<style type="text/css">
.status {
	position: absolute;
	top: 13%;
	right: 0;
	bottom: 13%;
	left: 0;
	background-color: #6995c9;        
}

td {
	position: relative;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script th:inline="javascript">
	var locale = /*[[${#locale.language}]]*/'ja';
</script>


<script th:inline="javascript">
    //<![CDATA[
    (function($) {

        $(document).ready(function() {

            $('#sosiki').yrcmv('div', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                onEmpty : function() {
                    $('#searchButton').on('click.div', function() {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('#searchButton').off('click.div');
                },
                deleteDiv1All : false
            });

            $('#year').on('change', function() {
                $('#sosiki').yrcmv('div', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    },
                    deleteDiv1All : false
                });
            });
            $('#month').on('change', function() {
                $('#sosiki').yrcmv('div', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    },
                    deleteDiv1All : false
                });
            });
            
			// 訪問実績画面に遷移
			$(".call-info").click(openVisitList);
            
            var columns = 
            	[
            		{ 'width' : '50px' }, // ランク
            		{ 'width' : '100px' }, // 担当者
            		{ 'width' : '200px' }, // 取引先名
            		{ 'width' : '300px' }, // 案件名(商談)
            		{ 'width' : '60px' }, // 全体
            		{ 'width' : '60px' }, // 目標
            		{ 'width' : '60px' }, // 取引開始
            		{ 'width' : '60px' }, // 最終提案
            		{ 'width' : '60px' }, // 二次提案
            		{ 'width' : '60px' }, // 一時提案
            		{ 'width' : '60px' }, // 提案作成
            		{ 'width' : '60px' }, // 入札中
            		{ 'width' : '60px' }, // 消滅
            		{ 'width' : '55px' }, // リンク
            	];

			var $table = $('table[data-roll=fixtable]').yrcmv('datatables', {
				'columns' : columns,
			});

		});

		var openVisitList = function() {
			var action = /*[[@{/visitListView.html}]]*/'';
			var $e = $(this);
			var parentId = $e.data('parent_id');
			var $form = $('#visitList');
			$form.attr('action', action);
			$form.find('input[name="parentId"]').val(parentId);
			$form.submit();
			return false;
		}

	})(jQuery);
	//]]>
</script>

</head>
<body>
	<div id="contentsWrapper">
		<div style="height: 65px;"></div>
		<div class="container">
			<form action="" method="post">
				<div class="condition-noline" th:if="${limitOver}">
		            <span class="limitOver" th:text="#{opportunityList.limitOver}"></span>
		        </div>
	        	<div class="condition">
                    <div th:substituteby="common :: year-month(${searchCondition})"></div>
                    <div id="sosiki">
                        <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                    </div>
					<div class="button-area">
						<input class="search" type="submit" id="searchButton" th:value="#{opportunityList.search.submit}" />
					</div>
					<div style="clear: both;"></div>
				</div>
			</form>

			<div class="condition-noline"></div>
            <table data-roll="fixtable">
				<thead id="table_head">
					<tr>
						<th class="rank" th:text="#{opportunityList.rank}"></th>
						<th class="assignedUserName" th:text="#{opportunityList.assignedUserName}"></th>
						<th class="customer" th:text="#{opportunityList.customer}"></th>
						<th class="opportunityName" th:text="#{opportunityList.opportunityName}"></th>
						<th class="demand" th:text="#{opportunityList.demand}"></th>
						<th class="target" th:text="#{opportunityList.target}"></th>
						<th class="step1" th:text="#{opportunityList.step1}"></th>
						<th class="step2" th:text="#{opportunityList.step2}"></th>
						<th class="step3" th:text="#{opportunityList.step3}"></th>
						<th class="step4" th:text="#{opportunityList.step4}"></th>
						<th class="step5" th:text="#{opportunityList.step5}"></th>
						<th class="step6" th:text="#{opportunityList.step6}"></th>
						<th class="step7" th:text="#{opportunityList.step7}"></th>
						<th class="link" th:text="#{opportunityList.link}"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="o : ${result}" th:object="${o}" >
						<td class="rank center"><span th:if="*{rank}" th:text="*{rank}"></span></td>
						<td class="assignedUserName long-text"><span th:if="*{name}" th:text="*{name}"></span></td>
						<td class="customer long-text"><span th:if="*{customer}" th:text="*{customer}"></span></td>
						<td class="opportunityName long-text"><span th:if="*{opportunityName}" th:text="*{opportunityName}"></span></td>
						<td class="demand right" ><span th:if="*{demand}" th:text="*{demand}"></span></td>
						<td class="target right" ><span th:if="*{target}" th:text="*{target}"></span></td>

						<td class="step1" th:if="10 le *{step} and *{step} lt 60"><div class="status"><span style="display: none" th:text="*{step} == 10 ? 0 : 1"></span></div></td>
						<td class="step1" th:unless="10 le *{step} and *{step} lt 60"><div style="display: none" >1</div></td>

						<td class="step2" th:if="20 le *{step} and *{step} lt 60"><div class="status"><span style="display: none" th:text="*{step} == 20 ? 0 : 1"></span></div></td>
						<td class="step2" th:unless="20 le *{step} and *{step} lt 60"><div style="display: none" >1</div></td>

						<td class="step3" th:if="30 le *{step} and *{step} lt 60"><div class="status"><span style="display: none" th:text="*{step} == 30 ? 0 : 1"></span></div></td>
						<td class="step3" th:unless="30 le *{step} and *{step} lt 60"><div style="display: none" >1</div></td>

						<td class="step4" th:if="40 le *{step} and *{step} lt 60"><div class="status"><span style="display: none" th:text="*{step} == 40 ? 0 : 1"></span></div></td>
						<td class="step4" th:unless="40 le *{step} and *{step} lt 60"><div style="display: none" >1</div></td>

						<td class="step5" th:if="50 le *{step} and *{step} lt 60"><div class="status"><span style="display: none" th:text="*{step} == 50 ? 0 : 1"></span></div></td>
						<td class="step5" th:unless="50 le *{step} and *{step} lt 60"><div style="display: none" >1</div></td>

						<td class="step6" th:if="*{step} == 60"><div class="status" style="background-color: #c96969"><span style="display: none">0</span></div></td>
						<td class="step6" th:unless="*{step} == 60"><div style="display: none" >1</div></td>

						<td class="step7" th:if="*{step} == 70 "><div class="status" style="background-color: #c96969"><span style="display: none">0</span></div></td>
						<td class="step7" th:unless="*{step} == 70 "><div style="display: none" >1</div></td>

						<td class="link" ><input class="comment-button-narrow call-info" th:attr="data-parent_id=*{parentId}" type="button" th:value="#{opportunityList.visitList}" /></td>
					</tr>
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
	</div>
	
	<form id="visitList" action="" target="_blank" method="post">
	<input type="hidden" name="parentId" value=""/>
	<input type="hidden" name="dateFrom" th:value="*{dateConditionResult.dateFrom}"/>
	<input type="hidden" name="dateTo" th:value="*{dateConditionResult.dateTo}"/>
	<input type="hidden" name="mode" value="visitListView"/>
	<input type="hidden" name="heldOnly" value="false"/>
	<input type="hidden" name="tantoOnly" value="false"/>
	</form>

	<!-- header -->
	<div th:substituteby="common :: footer"></div>
</body>
</html>