<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>セールス別品種別実績参照</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.fixTable.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<style type="text/css">
div.fixTableContainer table tbody tr:nth-child(even) {
	background-color: transparent !important;
}

[data-breakdown=total] td {
	border-top: 1px solid #909090 !important;
}

tr:not([data-breakdown=total]) td.kind {
	padding-left: 10px;
}

td.expand img {
	width: 15px;
	height: 15px;
}

.kind {
	width: 230px;
}

.plan {
	width: 70px;
}

.today {
	width: 70px;
}

.total {
	width: 70px;
}

.achievement {
	width: 55px;
}

.elongation {
	width: 55px;
}

td.kind {
	border-left: none !important;
}

td.expand {
	width: 20px;
	text-align: center;
	padding: 0px !important;
}

td.plan {
	background-color: #faebff;
	text-align: right;
}

td.today {
	background-color: #d4ffff;
	text-align: right;
}

td.total {
	background-color: #fdffde;
	text-align: right;
}

td.achievement {
	text-align: right;
}

td.elongation {
	text-align: right;
}

.separator {
	border-left: 1px #909090 solid !important;
}

.center {
	text-align: center;
}

.search {
	margin-left: 10px;
}

.btn-hide {
	display: none;
}

#group-items, #year-month-items {
	display: inline;
}

#l1:after {
	content: '';
	clear: both;
	display: block;
	visibility: hidden;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.fixTable.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script th:inline="javascript">
    //<![CDATA[
    (function($) {

        $(document).ready(function() {

            $('#searchButton').click(function(e) {
                // 担当者を選択しないと検索させない
                return !($('[name=tanto] option:selected').val() == 'all');
            });

            $('#year').change(checkSearchModeRadio);
            $('#year').data('current', $('#year').val());
            $('#month').change(checkSearchModeRadio);
            $('#month').data('current', $('#month').val());
            $('#selectSearchMode').yrcmv('radioChange', {
                callback : selectSearchMode
            });

            $('#sosiki').yrcmv('divNoAll', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                onEmpty : function() {
                    $('#searchButton').on('click.div', function() {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('#searchButton').off('click.div');
                }
            });

            $('#year').on('change', function() {
                $('#sosiki').yrcmv('divNoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    }
                });
            });
            $('#month').on('change', function() {
                $('#sosiki').yrcmv('divNoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('#searchButton').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('#searchButton').off('click.div');
                    }
                });
            });

            var $table = $('#table').fixTable({
                fixColumn : 0
            });

            $('[data-breakdown]:not([data-breakdown=total])').hide();

            $('[data-expand]').click(function() {
                var $this = $(this);
                var expanded = $this.data('expand');
                if (expanded) {
                    collapse($this)
                } else {
                    expand($this)
                }
            })

            $('[data-expand=false]').each(function() {
                var $this = $(this);
                collapse($this) 
            });

           $('#collapseAll').on('click', function() {
               $('[data-expand]').each(function() {
                   var $this = $(this);
                   collapse($this)
               })
           })

           $('#expandAll').on('click', function() {
               $('[data-expand]').each(function() {
                   var $this = $(this);
                   expand($this)
               })
           })
        });

        function collapse($btn) {
            var seq = $btn.data('seq');
            $('[data-breakdown="' + seq + '"]').hide();
            $btn.data('expand', false);
            var src = $('.expand-img[data-seq="' + seq + '"]').attr('src');
            $btn.attr('src', src);
        }

        function expand($btn) {
            var seq = $btn.data('seq');
            $('[data-breakdown="' + seq + '"]').show();
            $btn.data('expand', true);
            var src = $('.collapse-img[data-seq="' + seq + '"]').attr('src');
            $btn.attr('src', src);
        }

        function selectSearchMode($button) {
            var $year = $('#year');
            var $month = $('#month');
            $button.find('input').each(function(index, e) {
                var $e = $(e);
                if ($e.prop('checked')) {
                    if ($e.val() === 'real') {
                        var date = new Date();
                        $year.val(date.getFullYear());
                        $month.val(date.getMonth() + 1);
                    } else if ($e.val() === 'lastMonth') {
                        var date = new Date();
                        date = new Date(date.getFullYear(), date.getMonth(), 0);
                        $year.val(date.getFullYear());
                        $month.val(date.getMonth() + 1);
                    } else if ($e.val() === 'yesterday') {
                        var date = new Date();
                        var nowYear = date.getFullYear();
                        var nowMonth = date.getMonth();
                        date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1);
                        if (nowYear != date.getFullYear() || nowMonth != date.getMonth()) {
                            $('#lastMonth').prop('checked', true)
                        }
                        $year.val(date.getFullYear());
                        $month.val(date.getMonth() + 1);
                    }
                }
            });

            if ($('#year').data('current') + '-' + $('#month').data('current') != $('#year').val() + '-'
                    + $('#month').val()) {
                $('#year').data('current', $('#year').val());
                $('#month').data('current', $('#month').val());
                $('#sosiki').yrcmv('divNoAll', {
                    reset : false,
                    year : $('#year').val(),
                    month : $('#month').val(),
                    onEmpty : function() {
                        $('.search').on('click.div', function() {
                            return false;
                        });
                    },
                    onNotEmpty : function() {
                        $('.search').off('click.div');
                    }
                });
            }
        }

        function checkSearchModeRadio(e) {
            var $year = $('#year');
            var $month = $('#month');
            var date = new Date();
            if ($year.val() == date.getFullYear() && $month.val() == date.getMonth() + 1) {
                $('#real').prop('checked', true);
            } else {
                date = new Date(date.getFullYear(), date.getMonth(), 0);
                if ($year.val() == date.getFullYear() && $month.val() == date.getMonth() + 1) {
                    $('#lastMonth').prop('checked', true);
                } else {
                    $('#nominate').prop('checked', true);
                }
            }
        }
    })(jQuery);
    //]]>
</script>
</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <div class="container">
            <form action="" method="post">
                <div class="condition">

                    <div id="l1">
                        <div class="modeChange" id="selectSearchMode">
                            <input type="radio" name="searchMode" id="real" th:value="real" th:checked="${searchCondition.searchMode == 'real'}" /> 
                            <label for="real" style="margin-top: 10px;">リアル</label> 
                            <input type="radio" name="searchMode" id="yesterday" value="yesterday" th:checked="${searchCondition.searchMode == 'yesterday'}" /> 
                            <label for="yesterday" style="margin-top: 10px;">前日（同月のみ）</label> 
                            <input type="radio" name="searchMode" id="lastMonth" value="lastMonth" th:checked="${searchCondition.searchMode == 'lastMonth'}" /> 
                            <label for="lastMonth" style="margin-top: 10px;">前月</label> 
                            <input type="radio" name="searchMode" id="nominate" value="nominate" th:checked="${searchCondition.searchMode == 'nominate'}" /> 
                            <label for="nominate" style="margin-top: 10px; margin-right: 10px;">月指定</label>
                        </div>
                    </div>

                    <div th:substituteby="common :: year-month(${searchCondition})"></div>

                    <div id="sosiki">
                        <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                    </div>
                    <div class="button-area">
                        <input class="search" type="submit" id="searchButton" value="検索" />
                    </div>
                    <div style="clear: both;"></div>
                </div>

                <div class="condition-noline">
                    <div style="float: left;">
                        <input type="button" class="update" value="全て展開" id="expandAll" data-all-selected="false" /> 
                        <input type="button" id="collapseAll" class="update" value="全て閉じる" />
                    </div>
                </div>
            </form>
            <div class="fixTableContainer" id="table" style="clear:both; height: 350px;">
                <table style="width: auto;">
                    <thead>
                        <tr>
                            <th rowspan="2" colspan="2" class="kind">品種内訳</th>
                            <th colspan="5" class="separator">本数</th>
                            <th colspan="5" class="separator">金額</th>
                            <th colspan="5" class="separator">粗利</th>
                        </tr>
                        <tr>
                            <th class="separator plan">計画</th>
                            <th class="today">当日</th>
                            <th class="total">当月累計</th>
                            <th class="achievement">達成率</th>
                            <th class="elongation">伸長率</th>
                            <th class="separator plan">計画</th>
                            <th class="today">当日</th>
                            <th class="total">当月累計</th>
                            <th class="achievement">達成率</th>
                            <th class="elongation">伸長率</th>
                            <th class="separator plan">計画</th>
                            <th class="today">当日</th>
                            <th class="total">当月累計</th>
                            <th class="achievement">達成率</th>
                            <th class="elongation">伸長率</th>
                        </tr>
                    </thead>
                    <tbody th:if="${list.size() == 0}">
                        <tr>
                            <td th:colspan="2"></td>
                            <td th:colspan="15" class="center">データはありません。</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr th:each="o : ${list}" th:object="${o}" th:attr="data-breakdown=${o.total ? 'total' : o.reportDisplaySeq}">
                            <td class="expand"><img th:if="*{total}" alt="" th:src="@{/images/icon-expand.png}" class="expand-btn" th:attr="data-seq=${o.reportDisplaySeq}" data-expand="false" />
                                <div style="display: none;">
                                    <img th:if="*{total}" alt="" th:src="@{/images/icon-expand.png}" class="expand-img" th:attr="data-seq=${o.reportDisplaySeq}" /><img th:if="*{total}" alt="" th:src="@{/images/icon-collapse.png}" class="collapse-img" th:attr="data-seq=${o.reportDisplaySeq}" />
                                </div></td>
                            <td class="kind"><div th:if="*{total}" th:text="*{reportDisplayName}"></div>
                                <div th:unless="*{total}" th:text="*{planProductKindName}"></div></td>

                            <td class="plan separator"><div th:if="*{number.plan}" th:text="*{#numbers.formatInteger(number.plan, 1, 'COMMA')}"></div></td>
                            <td class="today"><div th:if="*{number.resultToday}" th:text="*{#numbers.formatInteger(number.resultToday, 1, 'COMMA')}"></div></td>
                            <td class="total"><div th:if="*{number.resultTotal}" th:text="*{#numbers.formatInteger(number.resultTotal, 1, 'COMMA')}"></div></td>
                            <td class="achievement"><div th:if="*{number.achievementRate}" th:text="*{#numbers.formatDecimal(number.achievementRate, 1, 'COMMA', 1, 'POINT')}"></div></td>
                            <td class="elongation"><div th:if="*{number.elongation}" th:text="*{#numbers.formatDecimal(number.elongation, 1, 'COMMA', 1, 'POINT')}"></div></td>

                            <td class="plan separator"><div th:if="*{sales.plan}" th:text="*{#numbers.formatInteger(sales.plan, 1, 'COMMA')}"></div></td>
                            <td class="today"><div th:if="*{sales.resultToday}" th:text="*{#numbers.formatInteger(sales.resultToday, 1, 'COMMA')}"></div></td>
                            <td class="total"><div th:if="*{sales.resultTotal}" th:text="*{#numbers.formatInteger(sales.resultTotal, 1, 'COMMA')}"></div></td>
                            <td class="achievement"><div th:if="*{sales.achievementRate}" th:text="*{#numbers.formatDecimal(sales.achievementRate, 1, 'COMMA', 1, 'POINT')}"></div></td>
                            <td class="elongation"><div th:if="*{sales.elongation}" th:text="*{#numbers.formatDecimal(sales.elongation, 1, 'COMMA', 1, 'POINT')}"></div></td>

                            <td class="plan separator"><div th:if="*{margin.plan}" th:text="*{#numbers.formatInteger(margin.plan, 1, 'COMMA')}"></div></td>
                            <td class="today"><div th:if="*{margin.resultToday}" th:text="*{#numbers.formatInteger(margin.resultToday, 1, 'COMMA')}"></div></td>
                            <td class="total"><div th:if="*{margin.resultTotal}" th:text="*{#numbers.formatInteger(margin.resultTotal, 1, 'COMMA')}"></div></td>
                            <td class="achievement"><div th:if="*{margin.achievementRate}" th:text="*{#numbers.formatDecimal(margin.achievementRate, 1, 'COMMA', 1, 'POINT')}"></div></td>
                            <td class="elongation"><div th:if="*{margin.elongation}" th:text="*{#numbers.formatDecimal(margin.elongation, 1, 'COMMA', 1, 'POINT')}"></div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="padding-top: 0.755em">
                <span th:text="${list.size()}"></span><span>件</span>
            </div>
        </div>
    </div>
    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>
