<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" >
<head>
<title>未訪問得意先一覧</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.colReorder.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.colVis.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<!-- minを適用するとエラーになるのでそのまま -->
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>

<script th:inline="javascript">
//<![CDATA[
	(function($) {
	    

    $(document).ready(function() {
        $('#visitListSosiki').yrcmv('div', {
            reset : false,
            year : $('#year').val(),
            month : $('#month').val(),
            onEmpty : function() {
                $('.search').on('click.div', function () {
                    return false;
                });
            },
            onNotEmpty : function() {
                $('.search').off('click.div');
            }
        });

        $('#year').on('change', function() {
            $('#visitListSosiki').yrcmv('div', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                onEmpty : function() {
                    $('.search').on('click.div', function () {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('.search').off('click.div');
                }
            });
        });
        $('#month').on('change', function() {
            $('#visitListSosiki').yrcmv('div', {
                reset : false,
                year : $('#year').val(),
                month : $('#month').val(),
                onEmpty : function() {
                    $('.search').on('click.div', function () {
                        return false;
                    });
                },
                onNotEmpty : function() {
                    $('.search').off('click.div');
                }
            });
        });
            
            var columns =
				    [
         				{ 'width' : '330px' },
         				{ 'width' : '150px' },
         				{ 'width' : '200px' },
         				{ 'width' : '100px' },
         				{ 'width' : '100px' },
         				{ 'width' : '50px' },
         				{ 'width' : '50px' },
         				{ 'width' : '50px' },
         				{ 'width' : '50px' },
         				{ 'width' : '50px' },
     				];


    		var $table = $('table[data-roll=fixtable]').yrcmv('datatables', {
    			'dom': 'R<lf>rtip',
    			'columns': columns,
    			'colReorder' : {} 
    		});

    		$.yrcmv('footerFiter', $table);

        });
    })(jQuery);
    //]]>
</script>
</head>
<body>
	<div id="contentsWrapper">
		<div style="height: 65px;"></div>
		<div class="container">
        <div class="condition-noline" th:if="${limitOver}">
            <span class="limitOver">検索結果が多いため、条件を追加して再度検索してください。</span>
        </div>
			<form action="" method="post">
				<div class="condition">
					<div th:substituteby="common :: year-month(${searchCondition})"></div>
					<div id="visitListSosiki">
						<div th:substituteby="common :: sosiki(${searchCondition})"></div>
					</div>
					<div class="button-area">
						<input class="search" type="submit" value="検索" />
					</div>
					<div style="clear: both;"></div>
				</div>
			</form>
			<!-- 全選択 確認済みに更新ボタン -->
			<div class="condition-noline">
				<div style="float: left;" th:if="${mode} == 'admin'">
					<input type="button" class="update" value="全選択" id="selectAll"
						data-all-selected="false" /> <input type="button" id="confirmComment" class="update" value="確認済みへ更新" />
				</div>
			</div>
			<div>
				<table data-roll="fixtable" style="table-layout: fixed;">
					<thead id="table_head">
						<tr>
							<th class="">所属名</th>
							<th class="">セールスマン名</th>
							<th class="">得意先</th>
                            <th class="">未訪問数（1ヶ月）</th>
                            <th class="">未訪問数（前日迄）</th>
							<th class="">重点</th>
							<th class="">新規</th>
                            <th class="">深耕</th>
                            <th class="">YCP</th>
                            <th class="">他社CP</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="o : ${result}" th:object="${o}">
							<td class="eigyo-sosiki long-text-nowrap " th:text="*{eigyoSosikiNm}"></td>
							<td class="user-name long-text-nowrap " th:text="*{lastName} + ' ' + *{firstName}"></td>
                            <td class="account-name long-text-nowrap " th:text="*{accountName}"></td> 
                            <td class="this-month-plan right" th:text="*{thisMonthPlan}"></td> 
                            <td class="yesterday-plan right" th:text="*{yesterdayPlan}"></td> 
							<td class="important center" th:text="*{groupImportant == true ? '○' : ''}"></td>
							<td class="new center" th:text="*{groupNew == true ? '○' : ''}"></td>
							<td class="deep-plowing center" th:text="*{groupDeepPlowing == true ? '○' : ''}"></td>
							<td class="y-cp center" th:text="*{groupYCp == true ? '○' : ''}"></td>
							<td class="other-cp center" th:text="*{groupOtherCp == true ? '○' : ''}"></td>
                        </tr>
					</tbody>
					<tfoot>
						<tr>
							<th class="eigyo-sosiki"><input type="text" placeholder="所属名" /></th>
							<th class="user-name"><input type="text" placeholder="セールスマン名" /></th>
							<th class="account-name"><input type="text" placeholder="得意先" /></th>
							<th class="this-month-plan"><input type="text" maxlength="3" size="10" placeholder="未訪問数（1ヶ月）" /></th>
							<th class="yesterday-plan"><input type="text" maxlength="3" size="10" placeholder="未訪問数（前日迄）" /></th>
							<th class="important"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" value="重点" /></th>
                            <th class="new"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" value="新規" /></th>
                            <th class="deep-plowing"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" value="深耕" /></th>
                            <th class="y-cp"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" value="YCP" /></th>
                            <th class="other-cp"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" value="他社CP" /></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<!-- header -->
	<div th:substituteby="common :: footer"></div>
</body>
</html>
