<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja" >
<head>

<title th:if="${mode} == 'visitList' or ${mode} == 'visitListOne' or ${mode} == 'visitListView'" th:text="#{visitList.title.visitList}"></title>
<title th:if="${mode} == 'dailyReportAdmin'" th:text="#{visitList.title.dailyReportAdmin}"></title>
<title th:if="${mode} == 'dailyReportSales'" th:text="#{visitList.title.dailyReportSales}"></title>
<title th:if="${mode} == 'tech'" th:text="{visitList.title.tech}"></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.colReorder.css}" />
<link rel="stylesheet" th:href="@{/css/dataTables.colVis.css}" />

<link rel="stylesheet" th:if="${mode} == 'dailyReportSales' or ${mode} == 'dailyReportAdmin' or ${mode} == 'visitListView'" th:href="@{/css/mv_sub.css}"/>
<link rel="stylesheet" th:unless="${mode} == 'dailyReportSales' or ${mode} == 'dailyReportAdmin' or ${mode} == 'visitListView'" th:href="@{/css/mv.css}" />

<style th:if="${mode} == 'dailyReportSales' or ${mode} == 'dailyReportAdmin'" th:include="visitListFragment :: dailyReportCss">
</style>


<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/js/dataTables.colVis.min.js}"></script>
<!-- minを適用するとエラーになるのでそのまま -->
<script type="text/javascript" th:src="@{/js/dataTables.colReorder.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script type="text/javascript" th:if="${mode} == 'dailyReportSales' or ${mode} == 'dailyReportAdmin'" th:src="@{/js/jquery.autoresize.min.js}"></script>
<script th:inline="javascript">
var tech = /*[[${mode} == 'tech']]*/true;
var locale = /*[[${#locale.language}]]*/'ja';

var readAlready = /*[[#{visitList.read.already}]]*/'既読';
var noComment = /*[[#{visitList.commentRead.noComment}]]*/'コメント無し';
var none = /*[[#{visitList.commentRead.none}]]*/'なし';
var confirmAlready = /*[[#{dailyReportViewer.confirm.already}]]*/'済み';
</script>
<!-- colvisの関係でこちらをvisitList.jsより先に読み込ませる -->
<script type="text/javascript" th:if="${mode} == 'dailyReportSales' or ${mode} == 'dailyReportAdmin'" th:include="visitListDailyReportFragment :: dailyReportJs" th:inline="javascript"></script>
<script type="text/javascript" th:if="${mode} == 'visitList' or ${mode} == 'visitListOne' or ${mode} == 'visitListView'" th:include="visitListFragment :: visitListJs" th:inline="javascript"></script>
<script type="text/javascript" th:if="${mode} == 'tech'" th:include="visitListTechFragment :: visitListJs" th:inline="javascript"></script>

<script type="text/javascript" th:if="${mode} == 'visitListOne'">
$(function(){
	// パスパラメータを消してコメント表示押下時などの相対パスアクセスが動くようにする。visitList.js読み込み前に処理。
	var replacedName = location.pathname.slice(0, location.pathname.indexOf('.html') + 5);
	history.replaceState(null, null, replacedName);
});
</script>
<script type="text/javascript" th:src="@{/js/visitList.js}"></script>

</head>
<body>
	<div id="contentsWrapper">
		<div style="height: 65px;"></div>
		<div class="container">
	        <div class="condition-noline" th:if="${limitOver}">
	            <span class="limitOver" th:text="#{dailyReportViewer.limitOver}"></span>
	        </div>

	        <!-- 画面上部  -->
            <div th:if="${mode} == 'visitList'">
                <div th:substituteby="visitListFragment :: visitList"></div>
            </div>
            <div th:if="${mode} == 'dailyReportSales'">
                <div th:substituteby="visitListDailyReportFragment :: dailyReportSales"></div>
            </div>
            <div th:if="${mode} == 'dailyReportAdmin'">
                <div th:substituteby="visitListDailyReportFragment :: dailyReportAdmin"></div>
            </div>
            <div th:if="${mode} == 'tech'">
                <div th:substituteby="visitListTechFragment :: visitList"></div>
            </div>

            <!-- 全選択 既存に更新ボタン -->
			<div class="condition-noline">
				<div style="float: left;">
					<input type="button" class="update"  id="selectAll"
						data-all-selected="false"  th:value="#{visitList.button.selectAll}"/> <input type="button" id="toRead" class="update" th:value="#{visitList.button.toRead}"/>
				</div>
				<div class="modeChange" style="float: right;">
					<input type="radio" name="modeChange" id="modeChange-sort" checked="checked" />
					<label for="modeChange-sort" class="modeChange-sort" th:text="#{visitList.modeChangeSort}"></label>
					<input type="radio" name="modeChange" id="modeChange-colReorder" value="col" />
					<label for="modeChange-colReorder" class="modeChange-colReorder" th:text="#{visitList.modeChangeColReorder}"></label>
				</div>
			</div>
			<div>
				<table data-roll="fixtable">
					<thead id="table_head">
						<tr>
							<th class="checkbox exclude"><span class="colvis-only" th:text="#{visitList.checkbox}"></span></th>
							<th class="readflg visit-record" th:text="#{visitList.readflg}"></th>
							<th class="visit-name info-record" th:text="#{visitList.visitName}"></th>
							<th class="customer-name exclude" th:text="#{visitList.customerName}"></th>
                            <th class="market exclude" th:text="#{visitList.market}"></th>
							<th class="datetime exclude" th:text="#{visitList.datetime}"></th>
							<th class="description info-record" th:text="#{visitList.description}"></th>
							<th class="parent-type visit-record" th:text="#{visitList.parentType}"></th>
							<th class="status visit-record" th:text="#{visitList.status}"></th>
							<th class="division-c visit-record" th:text="#{visitList.divisionC}"></th>
                            <th class="account-department visit-record" th:text="#{visitList.accountDepartment}"></th>
                            <th class="account-sales-office visit-record" th:text="#{visitList.accountSalesOffice}"></th>
							<th class="assigned-user-name visit-record" th:text="#{visitList.assignedUserName}"></th>
							<th class="created-user visit-record" th:text="#{visitList.createdUser}"></th>
                            <th class="calls-users visit-record" th:text="#{visitList.callsUsers}"></th>
							<th class="planned-count visit-record" th:text="#{visitList.plannedCount}"></th>
							<th class="held-count visit-record" th:text="#{visitList.heldCount}"></th>
							<th class="info-div info-record" th:text="#{visitList.infoDiv}"></th>
							<th class="maker info-record" th:text="#{visitList.maker}"></th>
							<th class="kind info-record" th:text="#{visitList.kind}"></th>
							<th class="category info-record" th:text="#{visitList.category}"></th>
							<th class="sensitivity info-record" th:text="#{visitList.sensitivity}"></th>
							<th class="file-download info-record" th:text="#{visitList.fileDownload}"></th>
							<th class="comment-read info-record" th:text="#{visitList.commentRead}"></th>
							<th class="important-mark info-record" th:text="#{visitList.importantMark}"></th>
							<th class="show-comment info-record" th:text="#{visitList.showComment}"></th>
							<th class="comment-entered info-record" th:text="#{visitList.commentEntered}"></th>
							<th class="show-view-history exclude" th:text="#{visitList.showViewHistory}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="o : ${result}" th:object="${o}">
							<td class="checkbox center"><input type="checkbox" name="readCallId" th:value="*{id}" class="readCallId" th:attr="data-tech-call-id=*{callId}"/></td>
							<td class="readflg center" >
								<span th:attr="data-roll-read=*{id}" th:text="*{read} ? #{visitList.read.already} : #{visitList.read.yet}"></span></td>
							<td class="visit-name long-text" th:text="*{name}"></td>
							<td class="customer-name" th:text="*{accountsName}"></td>
                            <td class="market" th:text="*{marketName}"></td>
							<td class="datetime" th:text="*{visitDateStart}"></td>
							<td class="description long-text" th:text="*{description}"></td>
							<td class="parent-type center" th:text="*{parentType}"></td>
							<td class="sutatus center" th:text="*{status}"></td>
							<td class="division-c"><div th:substituteby="common :: listOut(*{divisionC})"></div></td>
                            <td class="account-department" th:text="*{accountDepartmentName}"></td>
                            <td class="account-sales-office" th:text="*{accountSalesOfficeName}"></td>
							<td class="assigned-user-name" th:text="*{assignedUserLastName} + ' ' + *{assignedUserFirstName}"></td>
							<td class="created-user" th:text="*{createdUserLastName} + ' ' + *{createdUserFirstName}"></td>
                            <td class="calls-users"><div th:substituteby="common :: listOut(*{callsUsers})"></div></td>
							<td class="planned-count right" th:text="*{plannedCount} le 0 ? '' : *{plannedCount}"></td>
							<td class="held-count right" th:text="*{heldCount} le 0 ? '' : *{heldCount}"></td>
							<td class="info-div" th:text="*{infoDiv}"></td>
							<td class="maker" th:text="*{maker}"></td>
							<td class="kind" th:text="*{kind}"></td>
							<td class="category" th:text="*{category}"></td>
							<td class="sensitivity" th:text="*{sensitivity}"></td>
                            <td class="file-download">
                           		<input type="image" style="padding-right: 5px; padding-left: 5px; border: 0;" th:if="*{file1}" name="fileNo" th:src="@{/images/attached_file.png}" alt="file" class="download1" value="file1" th:attr="data-download-call-id=*{id},data-download-tech-call-id=*{callId}" />
                           		<input type="image" style="padding-right: 5px; padding-left: 5px; border: 0;" th:if="*{file2}" name="fileNo" th:src="@{/images/attached_file.png}" alt="file" class="download2" value="file2" th:attr="data-download-call-id=*{id},data-download-tech-call-id=*{callId}" />
                           		<input type="image" style="padding-right: 5px; padding-left: 5px; border: 0;" th:if="*{file3}" name="fileNo" th:src="@{/images/attached_file.png}" alt="file" class="download3" value="file3" th:attr="data-download-call-id=*{id},data-download-tech-call-id=*{callId}" />
                            </td>
							<td class="comment-read center">
								<span th:attr="data-roll-comment-read=*{id}" th:text="*{commentReadCount} lt 0 ? #{visitList.commentRead.noComment} : (*{commentReadCount} lt 1 ? #{visitList.commentRead.none} : #{visitList.commentRead.exist})"></span>
						    </td>
							<td class="important-mark right">
						        <span th:attr="data-roll-like=*{id}" th:text="*{like} le 0 ? '' : *{like}"></span>
						    </td>
							<td class="show-comment center"><input data-roll="displayComment" th:attr="data-display-comment=*{id},data-tech-call-id=*{callId}" class="comment-button-narrow" type="button" th:value="#{visitList.showComment}"/></td>
							<td class="comment-entered center">
								<span th:attr="data-roll-comment-entered=*{id}, data-comment-entered=*{commentEntered}" th:text="*{commentEntered} ? #{dailyReportViewer.confirm.already} : #{dailyReportViewer.confirm.yet}"></span>
                            </td>
							<td class="show-view-history center">
                                <button style="min-width: 40px;" th:attr="data-calls-readed=*{read},data-roll-read=*{id},data-search=*{callsReadCount},data-read-tech-call-id=*{callId}" data-roll="displayViewHistory" class="comment-button-narrow" th:text="*{callsReadCount}"></button>
                            </td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th class="checkbox"></th>
                            <th class="readflg"><input class="comment-button-narrow" type="button" th:value="#{visitList.readflg}" /></th>
							<th class="visit-name"><input type="text" th:placeholder="#{visitList.visitName}"/></th>
							<th class="customer-name"><input type="text" th:placeholder="#{visitList.customerName}" /></th>
							<th class="market"><input  class="comment-button-narrow" type="button" th:value="#{visitList.market}" /></th>
							<th class="datetime"><input type="text" th:placeholder="#{visitList.datetime}" /></th>
							<th class="description">
							    <input type="text" th:placeholder="#{visitList.description}" />
							    <input class="comment-button-narrow" data-insert-input-existence-item="true" type="button" th:value="#{visitList.description}" />
							</th>
							<th class="parent-type"><input class="comment-button-narrow" type="button" th:value="#{visitList.parentType}" /></th>
							<th class="status"><input class="comment-button-narrow" type="button" th:value="#{visitList.status}" /></th>
							<th class="division-c"><input type="text" th:placeholder="#{visitList.divisionC}"/></th>
                            <th class="account-department"><input type="text" th:placeholder="#{visitList.accountDepartment}"/></th>
                            <th class="account-sales-office"><input type="text" th:placeholder="#{visitList.accountSalesOffice}" /></th>
							<th class="assigned-user-name"><input type="text" size="10" th:placeholder="#{visitList.assignedUserName}" /></th>
							<th class="created-user"><input type="text" size="10" th:placeholder="#{visitList.createdUser}" /></th>
							<th class="calls-users"><input type="text" th:placeholder="#{visitList.callsUsers}" /></th>
							<th class="planned-count"><input type="text" maxlength="3" size="4" th:placeholder="#{visitList.plannedCount}" /></th>
							<th class="held-count"><input type="text" maxlength="3" size="4" th:placeholder="#{visitList.heldCount}" /></th>
							<th class="info-div"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" th:value="#{visitList.infoDiv}" /></th>
							<th class="maker"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" th:value="#{visitList.maker}" /></th>
							<th class="kind"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" th:value="#{visitList.kind}" /></th>
							<th class="category"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" th:value="#{visitList.category}" /></th>
							<th class="sensitivity"><input class="comment-button-narrow" data-insert-non-input-item="true" type="button" th:value="#{visitList.sensitivity}" /></th>
							<th class="file-download"></th>
							<th class="comment-read"><input class="comment-button-narrow" type="button" th:value="#{visitList.commentRead}" /></th>
							<th class="important-mark"><input type="text" maxlength="3" size="9" th:placeholder="#{visitList.importantMark}" /></th>
							<th class="show-comment"></th>
							<th class="comment-entered"><input class="comment-button-narrow" type="button" th:value="#{visitList.commentEntered}" /></th>
							<th class="show-view-history"><input type="text" maxlength="3" size="4" th:placeholder="#{visitList.showViewHistory}" /></th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
	<div style="display: none;">
		<form action="visitListDownload.html" class="file-download" method="post">
			<input type="submit" id="doDownload1" name="downloadId1" />
			<input type="submit" id="doDownload2" name="downloadId2" />
			<input type="submit" id="doDownload3" name="downloadId3" />
            <input type="hidden" id="downloadTechCallId" name="techCallId" />
		</form>
	</div>

	<div style="display: none;">
		<div id="inline-content" class="inline-content">
			<table id="commentTable" class="comment-table">
				<tr>
					<th><span th:text="#{visitList.eigyoSosikiNm}"></span></th>
					<td><span id="eigyoSosikiNm"></span></td>
				</tr>
				<tr>
					<th><span th:text="#{visitList.visitUserLastName}"></span></th>
					<td><span id="visitUserLastName"></span> <span id="visitUserFirstName"></span></td>
				</tr>
				<tr>
					<th class="separator"></th>
					<td><span th:text="#{visitList.likeCount}"></span><span id="likeCount" data-like-count="0"></span></td>
				</tr>
				<tr class="separator">
					<th class="separator"></th>
					<td class="separator" style="text-align: right;">
					   <input class="comment-button" data-comment-call-id="" data-comment-tech-call-id="" id="like" type="button" th:value="#{visitList.commentButton.like}" />
					   <input class="comment-button" data-comment-call-id="" data-comment-tech-call-id="" id="unlike" type="button" th:value="#{visitList.commentButton.unlike}" />
				    </td>
				</tr>
				<tr id="commentSeparator" class="separator">
					<th class="separator"></th>
					<td class="separator"></td>
				</tr>
				<tr class="separator" id="commentEnd">
					<td colspan="2">
						<div style="float: right;">
							<input id="readComment" data-comment-call-id="" data-comment-tech-call-id="" class="comment-button" type="button" th:value="#{visitList.commentButton.readComment}" />
						</div>
					</td>
				</tr>
				<tr class="separator">
					<td class="separator" colspan="2" id="commentErrorMessage"></td>
				</tr>
				<tr>
					<th th:text="#{visitList.commentEditor}"></th>
					<td><textarea maxlength="2000" rows="6" cols="80" id="commentEditor"></textarea></td>
				</tr>
				<tr class="separator">
					<td colspan="2" class="separator">
						<div style="float: left;">
							<a id="gmailLink" class="comment-button" href="" target="_blank" th:text="#{visitList.commentButton.gmailLink}"></a>
						</div>
						<div style="float: right;">
							<input id="registerComment" data-comment-call-id="" data-comment-tech-call-id="" class="comment-button" type="button" th:value="#{visitList.commentButton.registerComment}" />
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>

    <div style="display: none;">
        <div id="viewHistory" class="inline-content">
            <table id="historyTable" class="comment-table"  style="width: 500px">
                <thead>
                    <tr>
                        <th th:text="#{visitList.showViewHistory}"></th>
                    </tr>
                </thead>
                <tbody id="historyContainer">
                </tbody>
            </table>
        </div>
    </div>

<div style="display: none;">
    <form action="visitListCsvDownload.html" id="csv-download-form" method="post">
        <input type="hidden" name="dateFrom" />
        <input type="hidden" name="dateTo" />
        <input style="display: none;" type="checkbox" name="heldOnly" value="true" />
        <input style="display: none;" type="checkbox" name="hasInfoOnly" value="true" />
        <input style="display: none;" type="checkbox" name="unreadOnly" value="true" />
        <input type="hidden" name="div1" />
        <input type="hidden" name="div2" />
        <input type="hidden" name="div3" />
        <input type="hidden" name="tanto" />
        <input type="hidden" name="market" />
        <input type="hidden" name="callsInfoDiv" />
    </form>
</div>
	<!-- header -->
	<div th:substituteby="common :: footer"></div>
</body>
</html>
