<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<!-- 訪問履歴用のJS -->
<script th:fragment="visitListJs" th:inline="javascript">
    //<![CDATA[
    (function($) {

        $.fn.visitList = $.visitList = {};

        function _push(str, array) {
            if (str) {
                if ($.inArray(str, array) < 0) {
                    array.push(str);
                }
            }
        }

        $.visitList.colvis = $.fn.visitList.colvis = function($table, isInitialize) {
            $('.ColVis_wrapper').empty();

            var visitColumn = [];
            var infoColumn = [];
            var excludeColumn = [];
            var header = [];
            // orignalの並び順取得
            //var originalIndex = $table.colReorder.order();
            // ヘッダー取得
            // ここでのINDEXは見た目順
            var i = 0;
            $table.columns().header().each(function(e) {
                var $e = $(e);
                //var index = originalIndex[i];
                if ($e.hasClass('visit-record')) {
                    _push(i, visitColumn);
                } else if ($e.hasClass('info-record')) {
                    _push(i, infoColumn);
                } else {
                    _push(i, excludeColumn);
                }
                i++;
            });

            // 数字順ででソートする
            $.yrcmv('sortNumber', visitColumn);
            $.yrcmv('sortNumber', infoColumn);
            $.yrcmv('sortNumber', excludeColumn);

            var $colvis = new $.fn.dataTable.ColVis($table, {
                buttonText : /*[[ #{visitListFragment.columnsChange} ]]*/,
                exclude : excludeColumn,
                showAll : /*[[ #{visitListFragment.showAll} ]]*/,
                groups: [
                    {
                    title : /*[[ #{visitListFragment.visitColumn} ]]*/,
                    columns : visitColumn
                    },
                    {
                    title : /*[[ #{visitListFragment.infoColumn} ]]*/,
                    columns : infoColumn
                    }
                ]
            });
            $('.ColVis_wrapper').append($($colvis.button()));
        };

        $(function() {
        	var mode = /*[[${mode}]]*/'';
    		if (mode !== 'visitList') {
    			$('#hbar').remove();
    		}
        });

    })(jQuery);
    //]]>
</script>

</head>


<!-- 訪問履歴用の検索条件 -->
<form action="" method="post" th:fragment="visitList">
    <div class="condition">
        <div>
            <input type="text" id="dateFrom" name="dateFrom" class="datePicker" th:value="${visitListSearchCondition.dateFrom != null ? #calendars.format(visitListSearchCondition.dateFrom, 'yyyy/MM/dd') : ''}" maxlength="10" th:placeholder="#{visitListFragment.dateFrom}" /> <span>～</span>
            <input type="text" id="dateTo" name="dateTo" class="datePicker" th:value="${visitListSearchCondition.dateTo != null ? #calendars.format(visitListSearchCondition.dateTo, 'yyyy/MM/dd') : ''}" maxlength="10" th:placeholder="#{visitListFragment.dateTo}" />
            <input type="hidden" id="maxDate" th:value="${visitListSearchCondition.maxDate != null ? #calendars.format(visitListSearchCondition.maxDate, 'yyyy/MM/dd') : ''}" />
            <input type="hidden" id="minDate" th:value="${visitListSearchCondition.minDate != null ? #calendars.format(visitListSearchCondition.minDate, 'yyyy/MM/dd') : ''}" />
            <label><input type="checkbox" name="heldOnly" id="heldOnly" th:checked="${visitListSearchCondition.heldOnly}" value="true"  th:text="#{visitListFragment.heldOnly}"/></label>
            <label><input type="checkbox" name="unreadOnly" id="unreadOnly" th:checked="${visitListSearchCondition.unreadOnly}" value="true" th:text="#{visitListFragment.unreadOnly}" /></label>
            <input type="hidden" id="tempDateFrom" name="tempDateFrom" th:value="${visitListSearchCondition.dateFrom != null ? #calendars.format(visitListSearchCondition.dateFrom, 'yyyy/MM/dd') : ''}"/>
        </div>
        <div id="visitListSosiki">
            <div th:substituteby="common :: sosiki(${visitListSearchCondition})"></div>
        </div>
        <div class="button-area">
            <input type="button" class="search" th:value="#{visitListFragment.csvDownload}" id="csvDownload"  style="margin-left: 10px;"/> <input class="search" type="submit" th:value="#{visitListFragment.search.submit}" />
        </div>
        <div style="clear: both;"></div>
    </div>
</form>


</html>

