<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<title>訪問計画一覧</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.fixTable.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<style type="text/css">
.odd, div.fixTableContainer table tbody.odd tr:nth-child(even) {
	background-color: #f1f1f1 !important;
}

.even, div.fixTableContainer table tbody.even tr:nth-child(even) {
	background-color: transparent !important;
}

.account {
	width: 200px;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
}

.daily-total {
	font-weight: normal;
}

.visit-label {
	width: 50px;
}

.summary {
	width: 60px;
}

.visit {
	width: 65px;
}

td.nodata {
	border-left: none !important;
	border-right: none !important;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.fixTable.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>

<script th:inline="javascript">
	//<![CDATA[
	(function($) {

		var mode; // 検索モード
		
		var planHeldL; // モード：planHeldのtbody（左）
		var planHeldR; // モード：planHeldのtbody（右）

		var noHeldL; // モード：noHeldのtbody（左）
		var noHeldR; // モード：noHeldのtbody（右）

		var otherL; // モード：otherのtbody（左）
		var otherR; // モード：otherのtbody（右）

		var allL; // 全てのtbody（左）
		var allR; // 全てのtbody（右）

		$(document).ready(function() {

			$('#searchButton').click(function(e) {
				// 担当者を選択しないと検索させない
				$('#real').prop('checked', true);
				if ($('[name=tanto] option:selected').val() == "all") {
					return false;
				}
			});

			$('#visitListSosiki').yrcmv('divNoAll', {
				reset: false,
				year: $('#year').val(),
				month: $('#month').val(),
				onEmpty: function() {
					$('#searchButton').on('click.div', function() {
						return false;
					});
				},
				onNotEmpty: function() {
					$('#searchButton').off('click.div');
				}
			});

			$('#year').on('change', function() {
				$('#visitListSosiki').yrcmv('divNoAll', {
					reset: false,
					year: $('#year').val(),
					month: $('#month').val(),
					onEmpty: function() {
						$('#searchButton').on('click.div', function() {
							return false;
						});
					},
					onNotEmpty: function() {
						$('#searchButton').off('click.div');
					}
				});
			});

			$('#month').on('change', function() {
				$('#visitListSosiki').yrcmv('divNoAll', {
					reset: false,
					year: $('#year').val(),
					month: $('#month').val(),
					onEmpty: function() {
						$('#searchButton').on('click.div', function() {
							return false;
						});
					},
					onNotEmpty: function() {
						$('#searchButton').off('click.div');
					}
				});
			});

			$('#planTableContainer').fixTable({
				autoWidth: false,
				fixColumn: 3,
				eventClone: true,
			});

			// tbody取得
			planHeldL = $("#leftBody_planTableContainer [data-mode='planHeld'].rowdata");
			planHeldR = $("#rightBody_planTableContainer [data-mode='planHeld'].rowdata");

			noHeldL = $("#leftBody_planTableContainer [data-mode='noHeld'].rowdata");
			noHeldR = $("#rightBody_planTableContainer [data-mode='noHeld'].rowdata");

			otherL = $("#leftBody_planTableContainer [data-mode='other'].rowdata");
			otherR = $("#rightBody_planTableContainer [data-mode='other'].rowdata");
			
			allL = $("#leftBody_planTableContainer .rowdata");
			allR = $("#rightBody_planTableContainer .rowdata");

			// 得意先のリアルタイム検索
			filterTable($("#searchForm"));

			$('#selectSearchMode').yrcmv('radioChange', { callback: selectSearchMode });
		});

		// モードボタン押下時に得意先の表示を制御する
		function selectSearchMode($button) {
			$button.find('input').each(function(index, e) {
				var $e = $(e);
				if ($e.prop('checked')) {
					mode = $e.val();

					// 得意先の表示・非表示
					if (mode == "planHeld") {
						planHeldL.show();
						planHeldR.show();

						noHeldL.hide();
						noHeldR.hide();
						otherL.hide();
						otherR.hide();
					} else if (mode == "noHeld") {
						noHeldL.show();
						noHeldR.show();

						planHeldL.hide();
						planHeldR.hide();
						otherL.hide();
						otherR.hide();
					} else if (mode == "other") {
						allL.show();
						allR.show();
					}

					// どのモードが選ばれているかによって操作対象を変える
					var visibleL = mode == "planHeld" ? planHeldL : (mode == "noHeld" ? noHeldL :allL);
					var visibleR = mode == "planHeld" ? planHeldR : (mode == "noHeld" ? noHeldR :allR);

					// ヘッダの合計値を設定する
					setHeaderTotal(visibleL.children(".plan"), visibleL.children(".result"));

					// 得意先の表示件数
					var results = visibleL.children(".result").length;
					$(".visibleResults span").text(results + "件");

					// 行の色を設定する
					setRowColor(visibleL, visibleR)

					// ボタン押下時、フォームに文字が入力されている文字をリセットする
					$("#searchInput").val("");
				}
			});
		}

		// 検索フォームに入力された文字列に該当する得意先の表示を制御する
		function filterTable(header) {
			$("#searchInput")
				.change(function() {
					var filter = $(this).val();
					var visibleL = mode == "planHeld" ? planHeldL : (mode == "noHeld" ? noHeldL :allL);
					var visibleR = mode == "planHeld" ? planHeldR : (mode == "noHeld" ? noHeldR :allR);

					if (filter) {
						$matchesl = $(visibleL).find(" .account" + ":contains('" + filter + "')").parent().parent();
						$(visibleL).not($matchesl).hide();
						$matchesl.show();

						$matchesR = $(visibleR).find(" .account" + ":contains('" + filter + "')").parent().parent();
						$(visibleR).not($matchesR).hide();
						$matchesR.show();

						// ヘッダの合計値を設定する
						setHeaderTotal($($matchesl).children(".plan"), $($matchesl).children(".result"));

						// 得意先の表示件数
						var results = $($matchesl).length;
						$(".visibleResults span").text(results + "件");

						// 行の色を設定する
						setRowColor($($matchesl), $($matchesR));

					} else {
						visibleL.show();
						visibleR.show();

						// ヘッダの合計値を設定する
						setHeaderTotal(visibleL.children(".plan"), visibleL.children(".result"));

						// 得意先の表示件数
						var results = visibleL.children(".result").length;
						$(".visibleResults span").text(results + "件");

						// 行の色を設定する
						setRowColor(visibleL, visibleR);
					}
					return false;
				})
				.keyup(function() {
					$(this).change();
				});
		}

		// 行の色を設定する
		function setRowColor(leftTable, rightTable) {
			leftTable.each(function(i) {
				i = i + 1;
				if (i % 2 == 0) {
					$(this).addClass('odd');
					$(this).removeClass('even');

				} else {
					$(this).addClass('even');
					$(this).removeClass('odd');
				}
			});

			rightTable.each(function(i) {
				i = i + 1;
				if (i % 2 == 0) {
					$(this).addClass('odd');
					$(this).removeClass('even');

				} else {
					$(this).addClass('even');
					$(this).removeClass('odd');
				}
			});
		}

		// ヘッダの合計値を設定する
		function setHeaderTotal(plan, result) {
			// 日付ごとの計画の合計
			var dailyPlanTotal = new Object();
			// 計画の合計
			var planTotal = 0;

			// そのモードに該当する得意先分まわす
			plan.each(function(it, elem) {
				// その月の日付分まわす
				for (i = 1; i < /*[[${header.size()}]]*/ ; i++) {
					var td = ".td" + i;
					if (dailyPlanTotal[i] == null) {
						dailyPlanTotal[i] = 0;
					}
					dailyPlanTotal[i] += Number($(elem).children(td).text());
				}
				planTotal += Number($(elem).children(".td0").text());
			});

			// 日付ごとの実績の合計
			var dailyResultTotal = new Object();
			// 実績の合計
			var resultTotal = 0;

			// そのモードに該当する得意先分まわす
			result.each(function(it, elem) {
				// その月の日付分まわす
				for (i = 1; i < /*[[${header.size()}]]*/ ; i++) {
					var td = ".td" + i;
					if (dailyResultTotal[i] == null) {
						dailyResultTotal[i] = 0;
					}
					dailyResultTotal[i] += Number($(elem).children(td).text());
				}
				resultTotal += Number($(elem).children(".td0").text());
			});

			var nodataBodyL = $("#leftBody_planTableContainer .nodataBody");
			var nodataBodyR = $("#rightBody_planTableContainer .nodataBody");
			// 表示する得意先が存在しない場合は「データなし」を表示する
			if (plan.size() == 0 && result.size() == 0) {
				nodataBodyL.show();
				nodataBodyR.show();
			} else {
				nodataBodyL.hide();
				nodataBodyR.hide();
			}

			// 計画の合計をセットする
			var selector;
			if (Object.keys(dailyPlanTotal).length == 0) {
				for (i = 1; i < /*[[${header.size()}]]*/ ; i++) {
					selector = "div .daily-plan-total" + Number(i) + " span";
					$(selector).text(0);
				}
			} else {
				for (i in dailyPlanTotal) {
					selector = "div .daily-plan-total" + Number(i) + " span";
					$(selector).text(dailyPlanTotal[i]);
				}
			}
			$("div .daily-plan-total0 span").text(planTotal);

			// 実績の合計をセットする
			if (Object.keys(dailyResultTotal).length == 0) {
				for (i = 1; i < /*[[${header.size()}]]*/ ; i++) {
					selector = "div .daily-result-total" + Number(i) + " span";
					$(selector).text(0);
				}
			} else {
				for (i in dailyResultTotal) {
					selector = "div .daily-result-total" + Number(i) + " span";
					$(selector).text(dailyResultTotal[i]);
				}
			}
			$("div .daily-result-total0 span").text(resultTotal);
		}
	})(jQuery);
	//]]>
</script>
</head>
<body>
	<div id="contentsWrapper">
		<div style="height: 65px;"></div>
		<div class="container">
			<form action="" method="post">
				<div class="condition clear">
					<div th:substituteby="common :: year-month(${searchCondition})"></div>
					<div id="visitListSosiki">
						<div th:substituteby="common :: sosiki(${searchCondition})"></div>
					</div>
					<div class="button-area">
						<input class="search" type="submit" id="searchButton" value="検索" />
					</div>
				</div>
			</form>
			<div class="condition-noline clear">
				<div class="modeChange" id="selectSearchMode">
					<input type="radio" name="modeChange" id="planHeld" value="planHeld" checked="checked" />
					<label for="planHeld">計画・実績あり</label>

					<input type="radio" name="modeChange" id="noHeld" value="noHeld" />
					<label for="noHeld">実績なし</label>

					<input type="radio" name="modeChange" id="other" value="other" />
					<label for="other">全て</label>
				</div>
				<div id="searchForm" class="search-input">
					<label style="margin-left:1em" >検索:<input id="searchInput" type="search"/></label>
				</div>
			</div>
			<div class="fixTableContainer" id="planTableContainer" style="height: 350px">
				<table id="planTable">
					<thead>
						<tr>
							<th class="account">得意先</th>
							<th class="visit-label">訪問</th>
							<th th:each="date, it : ${header}" th:class="'dayOfWeek' + ${date.dayOfWeek} + ' visit'">
								<div th:unless="${date.total}" th:text="${date.date} + '（' +${date.dayOfWeekLabel}+ '）'"></div>
								<div th:if="${date.total}">合計</div>
								<div th:class="'daily-total daily-plan-total' + ${it.index}">計画：<span>0</span></div>
								<div th:class="'daily-total daily-result-total' + ${it.index}">実績：<span>0</span></div>
							</th>
						</tr>
					</thead>
					<tbody class="nodataBody">
						<tr>
							<td>　　　　　　　　データはありません。</td>
							<td class="nodata"></td>
							<td class="nodata"></td>
							<td th:each="date : ${header}" th:class="'nodata visit'"></td>
						</tr>
					</tbody>
					<tbody th:each="planInfo, it : ${planInfoList}" th:class="'rowdata tbody' + ${it.count}" th:if="${planInfoList.size() != 0}" th:attr="data-mode=${planInfo.mode}">
						<tr class="plan">
							<td rowspan="2" th:text="${planInfo.accountName} +'（' + ${planInfo.accountId} + '）'" class="account"></td>
							<td class="center visit-label">計画</td>
							<td class="right summary td0"><span th:text="${planInfo.plan}" th:if="${planInfo.plan}"></span></td>
							<td th:each="daily, it : ${planInfo.dailyInfos}" th:class="'right visit td' + ${it.count}"><span th:text="${daily.plan}" th:if="${daily.plan}"></span></td>
						</tr>
						<tr class="result">
							<td class="center">実績</td>
							<td class="right summary td0"><span th:text="${planInfo.result}" th:if="${planInfo.result}"></span></td>
							<td th:each="daily, it : ${planInfo.dailyInfos}" th:class="'right visit td' + ${it.count}"><span th:text="${daily.result}" th:if="${daily.result}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="padding-top: 0.755em" class="visibleResults">
				<span></span>
			</div>
		</div>
	</div>
	<!-- header -->
	<div th:substituteby="common :: footer"></div>
</body>
</html>
