<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>

<title th:text="#{weeklyReport.title}"></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="viewport" content="width=1024" />
<!-- Favicon 定義 -->
<link rel="shortcut icon" th:href="@{/images/mv_favicon.ico}" />
<link rel="stylesheet" th:href="@{/css/colorbox.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}" />
<link rel="stylesheet" th:href="@{/css/mv.css}" />

<style type="text/css">
div.title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border: solid 1px;
}

div.container {
    padding: 0px 15px 15px 15px;
}

div.contents {
    margin-top: 30px;
}

table.week-calls, table.report {
    border-collapse: collapse;
    border: 1px black solid;
    margin-top: 5px;
    width: 100%;
}

table.week-calls th, table.week-calls td {
    text-align: center;
    border: 1px black solid;
}

table.week-calls th {
    color: white;
    background-color: #555555;
}

table.week-calls th.date {
    width: 15%;
}

table.week-calls th.blank {
    width: 22px;
}

table.week-calls td.accounts {
    height: 150px;
}

table.week-calls td.accounts-list {
    text-align: left;
}

table.week-calls td.number {
    height: 40px;
}

table.week-calls td.total {
    border-top-style: hidden;
    border-right-style: hidden;
    vertical-align: bottom;
}

table.week-calls td.plan-result div {
    display: inline-block;
}

table.week-calls td.plan-number, table.week-calls td.result-number,
 table.week-calls td.plan-total-number, table.week-calls td.result-total-number {
    background-color: #ffe9c1;
}

table.week-calls td.result-number {
    background-color: #ffe9c1;
}

table.report th, table.report td {
    border: 1px black solid;
    height: 20px;
}

table.report th {
    color: white;
    background-color: #555555;
}

table.report th.number {
    width: 22px;
}

table.report th.comment {
    width: 100px;
}

table.report td.good-bad {
    background-color: #bde7e6;
}

span.right {
    float: right;
    margin-top: 5px;
}
</style>

<script type="text/javascript" th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.colorbox-min.js}"></script>
<script type="text/javascript" th:src="@{/js/dsbd.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.yrcmv.js}"></script>
<script th:inline="javascript">
    var noComment = /*[[#{visitList.commentRead.noComment}]]*/'コメント無し';
    var none = /*[[#{visitList.commentRead.none}]]*/'なし';
    var confirmAlready = /*[[#{dailyReportViewer.confirm.already}]]*/'済み';
</script>
<script type="text/javascript" th:src="@{/js/weeklyReport.js}"></script>

</head>
<body>
    <div id="contentsWrapper">
        <div style="height: 65px;"></div>
        <!-- 検索フォーム -->
        <form action="" method="post">
            <div class="condition">
                <div th:substituteby="common :: year-month-week(${searchCondition})"></div>
                <div id="visitListSosiki">
                    <div th:substituteby="common :: sosiki(${searchCondition})"></div>
                </div>
                <div class="button-area">
                    <input id="searchButton" class="search" type="submit"
                        th:value="#{dailyReportViewer.button.search}" />
                </div>
                <div style="clear: both;"></div>
            </div>
        </form>
        <div class="container">

            <!-- 前週の行動 -->
            <div class="contents">
                <span>1. <span th:text="#{weeklyReport.weekCalls.last}"></span></span>
                <table class="week-calls">
                    <thead>
                        <tr>
                            <th class="blank"></th>
                            <th colspan="2" class="date"
                                th:each="o : ${weeklyReport.lastWeekCalls}" th:object="${o}"
                                th:text="${#dates.format(o.date, 'M/d　(E)')}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="accounts" th:text="#{weeklyReport.weekCalls.accounts}"></td>
                            <td colspan="2" class="accounts-list"
                                th:each="o : ${weeklyReport.lastWeekCalls}" th:object="${o}"><div
                                    th:substituteby="common :: listOut(*{accountsList})"></div></td>
                            <td class="total" th:text="#{weeklyReport.weekCalls.total}"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="number" th:text="#{weeklyReport.weekCalls.number}"></td>
                            <div class="plan-result"
                                th:each="o : ${weeklyReport.lastWeekCalls}" th:object="${o}">
                                <td th:text="#{weeklyReport.weekCalls.plan}"></td>
                                <td class="plan-number" th:text="*{plan}"></td>
                            </div>
                            <td class="plan-total-number"
                                th:text="${weeklyReport.lastPlanTotal}"></td>
                        </tr>
                        <tr>
                            <div class="plan-result"
                                th:each="o : ${weeklyReport.lastWeekCalls}" th:object="${o}">
                                <td th:text="#{weeklyReport.weekCalls.result}"></td>
                                <td class="result-number" th:text="*{result}"></td>
                            </div>
                            <td class="result-total-number"
                                th:text="${weeklyReport.lastResultTotal}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 報告 -->
            <div class="contents">
                <span>2. <span th:text="#{weeklyReport.report}"></span></span><span style="float: right;" th:text="#{weeklyReport.report.message}"></span>
                <table class="report">
                    <thead>
                        <tr>
                            <th class="number"></th>
                            <th class="contents" th:text="#{weeklyReport.report.contents}"></th>
                            <th class="comment" th:text="#{weeklyReport.report.commentRead}"></th>
                            <th class="comment" th:text="#{weeklyReport.report.bossComment}"></th>
                            <th class="comment" th:text="#{weeklyReport.report.commentEntered}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5" class="good-bad" th:text="#{weeklyReport.report.bad}"></td>
                        </tr>
                        <tr th:each="o : ${weeklyReport.negativeReport}" th:object="${o}">
                            <td class="center" th:text="*{infoDiv}"></td>
                            <td th:text="*{comFreeC}"></td>
                            <td class="center"><span
                                th:attr="data-roll-comment-read=*{id}"
                                th:text="*{commentReadCount} lt 0 ? #{visitList.commentRead.noComment} : (*{commentReadCount} lt 1 ? #{visitList.commentRead.none} : #{visitList.commentRead.exist})"></span>
                            </td>
                            <td class="center"><input data-roll="displayComment"
                                th:attr="data-display-comment=*{id}"
                                class="comment-button-narrow" type="button"
                                th:value="#{visitList.showComment}" /></td>
                            <td class="comment-entered center">
                                <span
                                th:attr="data-roll-comment-entered=*{id}, data-comment-entered=*{commentEntered}"
                                th:text="*{commentEntered} ? #{dailyReportViewer.confirm.already} : #{dailyReportViewer.confirm.yet}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="good-bad" th:text="#{weeklyReport.report.good}"></td>
                        </tr>
                        <tr th:each="o : ${weeklyReport.goodReport}" th:object="${o}">
                            <td class="center" th:text="*{infoDiv}"></td>
                            <td th:text="*{comFreeC}"></td>
                            <td class="center"><span
                                th:attr="data-roll-comment-read=*{id}"
                                th:text="*{commentReadCount} lt 0 ? #{visitList.commentRead.noComment} : (*{commentReadCount} lt 1 ? #{visitList.commentRead.none} : #{visitList.commentRead.exist})"></span>
                            </td>
                            <td class="center"><input data-roll="displayComment"
                                th:attr="data-display-comment=*{id}"
                                class="comment-button-narrow" type="button"
                                th:value="#{visitList.showComment}" /></td>
                            <td class="comment-entered center">
                                <span
                                th:attr="data-roll-comment-entered=*{id}, data-comment-entered=*{commentEntered}"
                                th:text="*{commentEntered} ? #{dailyReportViewer.confirm.already} : #{dailyReportViewer.confirm.yet}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="good-bad" th:text="#{weeklyReport.report.other}"></td>
                        </tr>
                        <tr th:each="o : ${weeklyReport.otherReport}" th:object="${o}">
                            <td class="center" th:text="*{infoDiv}"></td>
                            <td th:text="*{comFreeC}"></td>
                            <td class="center"><span
                                th:attr="data-roll-comment-read=*{id}"
                                th:text="*{commentReadCount} lt 0 ? #{visitList.commentRead.noComment} : (*{commentReadCount} lt 1 ? #{visitList.commentRead.none} : #{visitList.commentRead.exist})"></span>
                            </td>
                            <td class="center"><input data-roll="displayComment"
                                th:attr="data-display-comment=*{id}"
                                class="comment-button-narrow" type="button"
                                th:value="#{visitList.showComment}" /></td>
                            <td class="comment-entered center">
                                <span
                                th:attr="data-roll-comment-entered=*{id}, data-comment-entered=*{commentEntered}"
                                th:text="*{commentEntered} ? #{dailyReportViewer.confirm.already} : #{dailyReportViewer.confirm.yet}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- 今週の行動予定 -->
            <div class="contents">
                <span>3. <span th:text="#{weeklyReport.weekCalls.this}"></span></span>
                <table class="week-calls">
                    <thead>
                        <tr>
                            <th class="blank"></th>
                            <th colspan="2" class="date"
                                th:each="o : ${weeklyReport.thisWeekCalls}" th:object="${o}"
                                th:text="${#dates.format(o.date, 'M/d　(E)')}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="accounts" th:text="#{weeklyReport.weekCalls.accounts}"></td>
                            <td colspan="2" class="accounts-list"
                                th:each="o : ${weeklyReport.thisWeekCalls}" th:object="${o}"><div
                                    th:substituteby="common :: listOut(*{accountsList})"></div></td>
                            <td class="total" th:text="#{weeklyReport.weekCalls.total}"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="number" th:text="#{weeklyReport.weekCalls.number}"></td>
                            <div class="plan-result"
                                th:each="o : ${weeklyReport.thisWeekCalls}" th:object="${o}">
                                <td th:text="#{weeklyReport.weekCalls.plan}"></td>
                                <td class="plan-number" th:text="*{plan}"></td>
                            </div>
                            <td class="plan-total-number"
                                th:text="${weeklyReport.thisPlanTotal}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- コメント表示モーダル -->
    <div style="display: none;">
        <div id="inline-content" class="inline-content">
            <table id="commentTable" class="comment-table">
                <tr>
                    <th><span th:text="#{visitList.eigyoSosikiNm}"></span></th>
                    <td><span id="eigyoSosikiNm"></span></td>
                </tr>
                <tr>
                    <th><span th:text="#{visitList.visitUserLastName}"></span></th>
                    <td><span id="visitUserLastName"></span> <span
                        id="visitUserFirstName"></span></td>
                </tr>
                <tr id="commentSeparator" class="separator">
                    <th class="separator"></th>
                    <td class="separator"></td>
                </tr>
                <tr class="separator" id="commentEnd">
                    <td colspan="2">
                        <div style="float: right;">
                            <input id="readComment" data-comment-call-id=""
                                data-comment-tech-call-id="" class="comment-button"
                                type="button" th:value="#{visitList.commentButton.readComment}" />
                        </div>
                    </td>
                </tr>
                <tr class="separator">
                    <td class="separator" colspan="2" id="commentErrorMessage"></td>
                </tr>
                <tr>
                    <th th:text="#{visitList.commentEditor}"></th>
                    <td><textarea maxlength="2000" rows="6" cols="80"
                            id="commentEditor"></textarea></td>
                </tr>
                <tr class="separator">
                    <td colspan="2" class="separator">
                        <div style="float: left;">
                            <a id="gmailLink" class="comment-button" href="" target="_blank"
                                th:text="#{visitList.commentButton.gmailLink}"></a>
                        </div>
                        <div style="float: right;">
                            <input id="registerComment" data-comment-call-id=""
                                data-comment-tech-call-id="" class="comment-button"
                                type="button"
                                th:value="#{visitList.commentButton.registerComment}" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- header -->
    <div th:substituteby="common :: footer"></div>
</body>
</html>